@{
    ViewBag.Title = "Listado Orden Almacenaje";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="ListadoOrdenAlmacenaje0001"></span></a>
    </li>
    @*<li>
        <a href="@Url.Action("DashboardRecepcionAlmacenaje", "DashboardRecepcionAlmacenaje")"><span id="ListadoOrdenAlmacenaje0002"></span></a>
    </li>*@
    <li class="active">
        <a href="@Url.Action("ListadoOrdenAlmacenaje", "OrdenAlmacenaje")"><span id="ListadoOrdenAlmacenaje0003"></span></a>
    </li>
}

<div class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="formNav filtersFields clearfix">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4 extralongButton">
                        <div class="button-section">
                            <button id="Nuevo" type="button" class="btn btn-newStorage btn-yellow"><span id="ListadoOrdenAlmacenaje0004"></span></button>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-8 col-lg-8 filter-section">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                <label id="ListadoOrdenAlmacenaje0005"></label>
                                <input id="ClienteID" class="" />
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                <label id="ListadoOrdenAlmacenaje0006"></label>
                                <input id="ProyectoID" class="" />
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                <label id="ListadoOrdenAlmacenaje0007"></label>
                                <input id="FolioCuantificacionID" class="" />
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                <label id="ListadoOrdenAlmacenaje0008"></label>
                                <input id="FechaInic" class="" />
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                <label id="ListadoOrdenAlmacenaje0009"></label>
                                <input id="FechaFinal" class="" />
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                <label id="ListadoOrdenAlmacenaje0010"></label>
                                <input id="PeriodoTiempo" class="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 listado">
                    <div class="row">
                        <div id="filterContainer" class="quick-filters col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="clearfix">
                                <input id="FechaOrdenAlmacenaje" class="quickFilters general-input"/>
                                <input id="OrdenAlmacenaje" class="quickFilters general-input" />
                                <input id="Imprimir" class="quickFilters general-input" disabled />
                                <input id="Cancelar" class="quickFilters general-input" disabled />
                            </div>
                        </div>
                    </div>
                    <div id="grid"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<ul id="menu">
    <li><span id="ListadoOrdenAlmacenaje0023"></span>
    </li>
</ul>*@
<input id="hdAccionFiltrado" type="hidden" />
<script>
    @section JavascriptGlobalVariables 
    {
        var detailID=0;
    var Cliente = {}, Proyecto = {}, FolioCuantificacion = {}, FechaInic, FechaFinal, PeriodoTiempo, resultadoJson;
    var _incidenciasURL = "@Url.Action("Incidencias", "Incidencias")";

    var $ListadoOrdenAlmacenajeModel = {
        listContainer: {
            create: ".button-section",
            list: ".listado",
            detail: ".detalleLink",
            destroy: ".k-grid-Cancelar",
            createIncidence: ""
        },
    };
    }

    @section JavascriptGlobalFunctions 
    {
    function changeDatePickerDateFormat(datePickerOptions) {
        FechaInic.setOptions(datePickerOptions);
        FechaFinal.setOptions(datePickerOptions);
    };

    function changeLanguageCall() {
        var tmp = removeGrid($("#grid"));
        cargarInicialGrid();
        $("#grid").data("kendoGrid").dataSource.data(tmp);
        createPeriodoTiempo();
    };

    function CargaInicial() {
        $("#FechaOrdenAlmacenaje").val("");
        $("#OrdenAlmacenaje").val("");
        $("#Imprimir").val("");
        $("#Cancelar").val("");

        $("#FechaOrdenAlmacenaje").keyup(function () {
            var ds = $("#grid").data("kendoGrid").dataSource;
            ds.filter([
                {
                    "field": "FechaOrdenAlmacenaje",
                    "operator": "Contains",
                    "value": this.value
                }
            ]);
            if(!$("#FechaOrdenAlmacenaje").val().length){ $("#FechaOrdenAlmacenaje").parent().children("a.k-state-active").removeClass("k-state-active");}
            $("#FechaOrdenAlmacenaje").focus();
        });

        $("#OrdenAlmacenaje").keyup(function () {
            var ds = $("#grid").data("kendoGrid").dataSource;
            ds.filter([
                {
                    "field": "OrdenAlmacenaje",
                    "operator": "Contains",
                    "value": this.value
                }
            ]);
            if(!$("#OrdenAlmacenaje").val().length){ $("#OrdenAlmacenaje").parent().children("a.k-state-active").removeClass("k-state-active");}
            $("#OrdenAlmacenaje").focus();
        });

        $("#Nuevo").click(function () {
            var detalleIdeaUrl = "@Url.Action("GenerarOrdenAlmacenaje", "OrdenAlmacenaje")";
            window.location.href = detalleIdeaUrl + "?leng=" + $("#language").data("kendoDropDownList").value();
        });

        $("#ClienteID").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "ClienteID",
            select: function (e) {
            },
            change: function (e) {
                var dataItem = this.dataItem();
                dataItem!==undefined ? CargarCliente(dataItem.ClienteID, dataItem.Nombre):CargarCliente("", "");
                var value = this.value();
                if (!value || this.selectedIndex == -1) {
                    messageindexKendoCombobox(this);
                    Cliente = {};
                    this.value("");
                }
                Filtros();
            },
            filter: "contains",
        });
        ObtenerCliente();

        $("#ProyectoID").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "ProyectoID",
            select: function (e) {
            },
            change: function (e) {
                var dataItem = this.dataItem();
                dataItem!==undefined ? CargarProyecto(dataItem.ProyectoID, dataItem.Nombre):CargarProyecto("", "");
                var value = this.value();

                if (!value || this.selectedIndex == -1) {
                    messageindexKendoCombobox(this);
                    Proyecto = {};
                    this.value("");
                }
                Filtros();
            },
            filter: "contains",
        });

        ObtenerProyecto();


        $("#FolioCuantificacionID").kendoComboBox({
            dataTextField: "value",
            dataValueField: "id",
            filter: "contains",
            select: function (e) {
            },
            change: function (e) {
                var dataItem = this.dataItem();
                dataItem!==undefined ? CargarFolio(dataItem.id):CargarFolio("");
                var value = this.value();

                if (!value || this.selectedIndex == -1) {
                    messageindexKendoCombobox(this);
                    FolioCuantificacion = {};
                    this.value("");
                }
                Filtros();
            },
        });

        ObtenerFolioAvisoEntrada();

        $("#PeriodoTiempo").kendoComboBox({});

        FechaInic = new kendo.ui.DatePicker($("#FechaInic"));
        FechaFinal = new kendo.ui.DatePicker($("#FechaFinal"));

        $("#FechaInic").bind("change", function () {
            if (!$("#FechaInic").data("kendoDatePicker").value() && this.value!=="") {
                $("#FechaInic").css("color","#EB4D50");
                displayMessage("notificationslabel0082","","2")
            }else{
                $("#FechaInic").attr("style","");
                Filtros();
            }
        });

        $("#FechaFinal").bind("change", function () {
            if (!$("#FechaFinal").data("kendoDatePicker").value() && this.value!=="") {
                $("#FechaFinal").css("color","#EB4D50");
                displayMessage("notificationslabel0082","","2")
            }else{
                $("#FechaFinal").attr("style","");
                Filtros();
            }
        });

        ObtenerFechasporDefecto();
        Filtros();


        //$("#menu").kendoContextMenu({
        //    target: "#grid",
        //    filter: "td",
        //    select: function (e) {
        //        var grid = $("#grid").data("kendoGrid");
        //        var select = grid.select();
        //        var data = grid.dataItem(select);

        //        window.open(_incidenciasURL + "?leng=" + $("#language").data("kendoDropDownList").value() + "&LevantarIncidencia=1&ReferenciaID=" + data.OrdenAlmacenaje + "&TipoIncidencia=8&Clasificacion=1");
        //    }
        //});

        //$("#grid").on("mousedown", "tr[role='row']", function (e) {
        //    $('#grid').data("kendoGrid").select(e.target.parentElement);
        //    $("#grid thead .k-state-selected> .k-link").css({
        //        "color": "black"
        //    });
        //});
    };

    function cargarInicialGrid() {
        var grid = $("#grid").kendoGrid({
            dataSource: {
                data: resultadoJson,
                schema: {
                    model: {
                        fields: {
                            FechaOrdenAlmacenaje: { type: "date" },
                            OrdenAlmacenaje: { type: "string" },
                            OrdenAlmacenajeID: {type:"string"}
                        }
                    }
                },
                serverPaging: false,
                serverFiltering: false,
                serverSorting: false,
                pageSize: 20,
            },
            autoHeight: true,
            sortable: true,
            scrollable: false,
            selectable:true,
            filterable: getKendoGridFilterable($("#language").data("kendoDropDownList").value()),
            pageable: {
                refresh: false,
                pageSizes: [10, 15, 20],
                info: false,
                input: false,
                numeric: true,
                buttonCount: 2
            },
            detailInit: detailInit,
            columns: [
                { field: "FechaOrdenAlmacenaje", title: _dictionary.ListadoOrdenAlmacenaje0016[$("#language").data("kendoDropDownList").value()], format: "{0:dd/MM/yyyy}", },
                { field: "OrdenAlmacenaje", title: _dictionary.ListadoOrdenAlmacenaje0017[$("#language").data("kendoDropDownList").value()], template: "<a onclick='mostrarDetalle(#:OrdenAlmacenajeID#)'>#:OrdenAlmacenaje#</a>" },
                { command: { text: _dictionary.ListadoOrdenAlmacenaje0018[$("#language").data("kendoDropDownList").value()], click: ImprimirOrden }, title: _dictionary.ListadoOrdenAlmacenaje0018[$("#language").data("kendoDropDownList").value()], width: "99px" },
                { command: { text: _dictionary.ListadoOrdenRecepcion0028[$("#language").data("kendoDropDownList").value()], click: CancelarOrden }, title: " ", width: "99px" },
                { field: "OrdenAlmacenajeID", title: _dictionary.ListadoOrdenAlmacenaje0017[$("#language").data("kendoDropDownList").value()], hidden: true },
            ],
            dataBound: function (e) {
                //$(".k-grid input.k-textbox").prop('readonly', true);
                $(".k-grid td .k-button").text('');
                $(".k-grid td:first-child, .k-grid td:last-child").css('text-overflow', 'clip');
                checkTH(this);
                quickHeadFilter($("#grid").data("kendoGrid"));
                //$("th[data-field='FechaOrdenAlmacenaje']").append($("#FechaOrdenAlmacenaje"));
                //$("th[data-field='OrdenAlmacenaje']").append($("#OrdenAlmacenaje"));

                //$("#FechaOrdenAlmacenaje").click(function( event ) {event.stopPropagation();});
                //$("#OrdenAlmacenaje").click(function( event ) {event.stopPropagation();});
            }
        }).getKendoGrid();
    };

    function detailInit(e) {
        $("<div id='detail"+ detailID++ +"'/>").appendTo(e.detailCell).kendoGrid({
            dataSource: {
                data: e.data.FolioCuantificacion,
                schema: {
                    model: {
                        fields: {
                            FolioCuantificacion: { type: "string" },
                            OrdenAlmacenaje: { type: "string" },
                        }
                    }
                }
            },
            detailInit: detailInitItems,
            autoBind: true,
            scrollable: false,
            sortable: false,
            selectable: true,
            filterable: getKendoGridFilterable($("#language").data("kendoDropDownList").value()),
            columns: [
                { field: "FolioCuantificacion", title: _dictionary.ListadoOrdenAlmacenaje0020[$("#language").data("kendoDropDownList").value()] },
                { field: "OrdenAlmacenaje", title: _dictionary.ListadoOrdenAlmacenaje0017[$("#language").data("kendoDropDownList").value()], hidden: true },
                //{ field: "", title: "", width: "110px", template: "<a class='detailLink' onclick='CancelarFolioCuantificacion(this)'>Cancelar</a>" },
            ],
            dataBound:function(e){
                checkTH(this);
                quickHeadFilter(this);
            }
        });
    }

    function detailInitItems(e) {
        $("<div id='detail1-"+ detailID++ +"'/>").appendTo(e.detailCell).kendoGrid({
            dataSource: {
                data: e.data.ItemCodes,
                schema: {
                    model: {
                        fields: {
                            Codigo: { type: "string" },
                            NumeroUnico: { type: "string" },
                            OrdenAlmacenaje: { type: "string" },
                            ItemCodeID: { type: "string" },
                            NumeroUnicoID: { type: "string" }
                        }
                    }
                }
            },
            autoBind: true,
            scrollable: false,
            sortable: false,
            filterable: getKendoGridFilterable($("#language").data("kendoDropDownList").value()),
            columns: [
                { field: "Codigo", title: _dictionary.ListadoOrdenAlmacenaje0021[$("#language").data("kendoDropDownList").value()] },
                { field: "NumeroUnico", title: _dictionary.ListadoOrdenAlmacenaje0022[$("#language").data("kendoDropDownList").value()] },
                { field: "", title: "", width: "110px", template: "<a class='k-grid-Cancelar' onclick='Cancelarnumerounico(this)'>Cancelar</a>" },
                { field: "NumeroUnicoID", title: _dictionary.ListadoOrdenAlmacenaje0022[$("#language").data("kendoDropDownList").value()], hidden: true },
                { field: "OrdenAlmacenaje", title: "OrdenAlmacenaje", width: "110px", hidden: true },
                { field: "ItemCodeID", title: "ItemCodeID", width: "110px", hidden: true },
                //{ command: { text: _dictionary.ListadoOrdenRecepcion0028[$("#language").data("kendoDropDownList").value()], click: CancelarItem }, title: " ", width: "99px" }

            ],
            dataBound:function(e){
                checkTH(this);
                quickHeadFilter(this);
            }
        });
    }

    function mostrarDetalle(ordenAlmacenajeID) {
        if ((typeof returnOfSecurityCheck != 'undefined') && (typeof returnOfSecurityCheck["Orden Almacenaje"] != 'undefined') && (typeof returnOfSecurityCheck["Orden Almacenaje"]["detail"] != 'undefined') && returnOfSecurityCheck["Orden Almacenaje"]["detail"]) {
            var detalleIdeaUrl = "@Url.Action("DetalleOrdenAlmacenaje", "OrdenAlmacenaje")";
            window.location.href = detalleIdeaUrl + "?leng=" + $("#language").data("kendoDropDownList").value() + "&OrdenAlmacenajeID=" + ordenAlmacenajeID;
        }
    };

    function ObtenerFechasporDefecto() {
        var fechaFinal = new Date();
        var fechainicio = new Date(fechaFinal.getTime() - (7 * 24 * 3600 * 1000));

        if ($("#language").data("kendoDropDownList").value() == "es-MX") {
            format = "dd/MM/yyyy";
        } else {
            format = "MM/dd/yyyy";
        };

        var curr_date0 = fechainicio.getDate();
        var curr_month0 = fechainicio.getMonth() + 1; //Months are zero based
        var curr_year0 = fechainicio.getFullYear();


        var curr_date = fechaFinal.getDate();
        var curr_month = fechaFinal.getMonth() + 1; //Months are zero based
        var curr_year = fechaFinal.getFullYear();


        var fechaInicial = new Date(curr_year0, curr_month0 - 1, curr_date0);
        var fechFinal = new Date(curr_year, curr_month - 1, curr_date);

        var fechaInicialkendo = kendo.parseDate(fechaInicial, format);
        var fechaFinalkendo = kendo.parseDate(fechFinal, format);

        $("#FechaInic").data("kendoDatePicker").value(fechaInicialkendo);
        $("#FechaFinal").data("kendoDatePicker").value(fechaFinalkendo);
    };

    function createPeriodoTiempo() {
        $("#PeriodoTiempo").kendoComboBox({
            dataTextField: "Periodo",
            dataValueField: "PeriodoID",
            dataSource: [
                { "PeriodoID": "1", "Periodo": _dictionary.ListadoOrdenAlmacenaje0011[$("#language").data("kendoDropDownList").value()] },
                { "PeriodoID": "2", "Periodo": _dictionary.ListadoOrdenAlmacenaje0012[$("#language").data("kendoDropDownList").value()] },
                { "PeriodoID": "3", "Periodo": _dictionary.ListadoOrdenAlmacenaje0013[$("#language").data("kendoDropDownList").value()] },
                { "PeriodoID": "4", "Periodo": _dictionary.ListadoOrdenAlmacenaje0014[$("#language").data("kendoDropDownList").value()] },
                { "PeriodoID": "5", "Periodo": _dictionary.ListadoOrdenAlmacenaje0015[$("#language").data("kendoDropDownList").value()] }
            ],
            select: function (e) {
            },
            change: function (e) {
                var dataItem = this.dataItem();
                dataItem!==undefined ? CargarPeriodoTiempo(dataItem.PeriodoID):CargarPeriodoTiempo("");
                var value = this.value();

                if (!value || this.selectedIndex == -1) {
                    messageindexKendoCombobox(this);
                    PeriodoTiempo = [];
                    this.value("");
                }
                ObtenerFechasporPeriodo(value);
                Filtros();
            },
            filter: "contains",
        });
    };

    function ObtenerFechasporPeriodo(id) {
        var fechaInicio = FechaFinal.value();
        var fechaFin = FechaFinal.value();

        if (!fechaInicio) {
            var todayInicio = new Date();
            var curr_dateInicio = todayInicio.getDate();
            var curr_monthInicio = todayInicio.getMonth() + 1;
            var curr_yearInicio = todayInicio.getFullYear();

            var todayInicial = new Date(curr_yearInicio, curr_monthInicio - 1, curr_dateInicio);
            fechaInicio = kendo.parseDate(todayInicial, format);
        }

        if (!fechaFin) {
            var todayFinal = new Date();
            var curr_dateFinal = todayFinal.getDate();
            var curr_monthFinal = todayFinal.getMonth() + 1;
            var curr_yearFinal = todayFinal.getFullYear();

            var todayFinal = new Date(curr_yearFinal, curr_monthFinal - 1, curr_dateFinal);
            fechaFin = kendo.parseDate(todayFinal, format);
        }

        if ($("#language").data("kendoDropDownList").value() == "es-MX") {
            format = "dd/MM/yyyy";
        } else {
            format = "MM/dd/yyyy";
        }

        var curr_date = fechaFin.getDate();
        var curr_month = fechaFin.getMonth() + 1;
        var curr_year = fechaFin.getFullYear();

        var fechaFinal = new Date(curr_year, curr_month - 1, curr_date);
        var fechaFinalkendo = kendo.parseDate(fechaFinal, format);

        switch (parseInt(id)) {
            case 1: //Semana Actual
                fechaInicio.setDate(fechaInicio.getDate() - 7);
                break;
            case 2: //Dos Semanas
                fechaInicio.setDate(fechaInicio.getDate() - 14);
                break;
            case 3: //Mes
                fechaInicio.setMonth(fechaInicio.getMonth() - 1);
                break;
            case 4: //Trimestre
                fechaInicio.setMonth(fechaInicio.getMonth() - 3);
                break;
            case 5: //Año
                fechaInicio.setFullYear(fechaInicio.getFullYear() - 1);
                break;
            default:
                fechaInicio.setDate(fechaInicio.getDate() - 7);
                break;
        }

        var curr_date0 = fechaInicio.getDate();
        var curr_month0 = fechaInicio.getMonth() + 1;
        var curr_year0 = fechaInicio.getFullYear();

        var fechaInicial = new Date(curr_year0, curr_month0 - 1, curr_date0);

        var fechaInicialkendo = kendo.parseDate(fechaInicial, format);

        $("#FechaInic").data("kendoDatePicker").value(fechaInicialkendo);
        $("#FechaFinal").data("kendoDatePicker").value(fechaFinalkendo);
    };

    function CargarCliente(id, value) {
        Cliente = {};
        Cliente = { ClienteID: id };
    };

    function CargarProyecto(id, value) {
        Proyecto = {};
        Proyecto = { ProyectoID: id, Nombre: value };
    };

    function CargarFolio(id) {
        FolioCuantificacion = {};
        FolioCuantificacion = { FolioCuantificacionID: id };
    };

    function CargarPeriodoTiempo(id) {
        PeriodoTiempo = {};
        PeriodoTiempo = { PeriodoTiempo: id };
    };

    function ControlErroresObjetosComboBox(control, result) {
        if (Error(result)) {
            $("#" + control).data("kendoComboBox").dataSource.data(result);
        } else {
            $("#" + control).data("kendoComboBox").dataSource.data([]);
        };
    };

    function ObtenerProyecto() {
        $Proyecto.Proyecto.read({ token: Cookies.get("token") }).done(function (result) {
            ControlErroresObjetosComboBox("ProyectoID", result);
        });
    };

    function ObtenerCliente() {
        $Cliente.Cliente.read({ token: Cookies.get("token") }).done(function (result) {
            ControlErroresObjetosComboBox("ClienteID", result);
        });
    };
    function ObtenerFolioAvisoEntrada() {
        $folioEntradaMaterial.Listado.read({ tipoListado: 18, token: Cookies.get("token"), parametroBusqueda: "" }).done(function (result) {
            ControlErroresObjetosComboBox("FolioCuantificacionID", result);
        });
    };

    function Filtros() {
        var Listado;
        var accion = $("#hdAccionFiltrado").val() ? $("#hdAccionFiltrado").val() : 1;
        AccionesListado(accion);
    };

    function AccionesListado(accion) {
        //loadingStart();
        var Listado;
        Listado = ArregloListado(accion);

        $("#hdAccionFiltrado").val(accion);

        $OrdenAlmacenaje.OrdenAlmacenaje.read({}, { data: JSON.stringify(Listado) }).done(function (result) {
            if (Error(result)) {
                resultadoJson = result;
                if ($("#grid").data("kendoGrid")) {
                    if (resultadoJson.length > 0) {
                        $("#grid").data("kendoGrid").dataSource.data(resultadoJson);
                        $("#grid").data("kendoGrid").dataSource.page(1);
                    } else {
                        $("#grid").data("kendoGrid").dataSource.data([]);
                        $("#grid").data("kendoGrid").dataSource.page(0);
                    };
                    AsignarPaginaActualCookie();
                    applySecurityPolicy(false);
                };
            };
            //loadingStop();
        });
    };
    function AsignarPaginaActualCookie() {
        Cookies.set("navegacion", "18", { path: '/' });
    }
    function ArregloListado(accion) {
        var Listado;
        Listado = { FolioCuantificacionID: "", ProyectoID: "", ClienteID: "", FechaInicial: "", FechaFinal: "", token: "" };

        var d = new Date($("#FechaInic").data("kendoDatePicker").value());
        var d1 = new Date($("#FechaFinal").data("kendoDatePicker").value());

        if (d.getFullYear() == "1969") {
            d = new Date();
            d.setDate(d.getDate() - 30);
        }
        if (d1.getFullYear() == "1969") {
            d1 = new Date();
        }

        Listado.FolioAvisoLlegadaID = FolioCuantificacion.FolioCuantificacionID ? FolioCuantificacion.FolioCuantificacionID : "0";
        Listado.ProyectoID = Proyecto.ProyectoID ? Proyecto.ProyectoID : "";
        Listado.ClienteID = Cliente.ClienteID ? Cliente.ClienteID : "";
        Listado.FechaInicial = obtenerFormatoFecha(d);
        Listado.FechaFinal = obtenerFormatoFecha(d1);
        Listado.token = Cookies.get("token");
        return Listado;
    };

    function ImprimirOrden(e) {
        e.preventDefault();
        var dataItem = $("#grid").data("kendoGrid").dataItem($(e.currentTarget).closest("tr"));
        var OrdenRecepcion = dataItem.OrdenAlmacenaje;
        window.open("http://www.asp.net");
    };

    function CancelarOrden(e) {
        e.preventDefault();
        var ordenAlmacenajeID = $(e.currentTarget).closest("tr").children()[2].innerText;
        if (confirm("Estas seguro de cancelar la orden de almacenaje?")) {
            $OrdenAlmacenaje.OrdenAlmacenaje.destroy({}, { ordenAlmacenajeID: ordenAlmacenajeID, token: Cookies.get("token") }).done(function (result) {
                Error(result);
                //loadingStop();
                Filtros();
            });
        }
    };

    //function CancelarFolioCuantificacion(row) {
    //    var folioCuantificacion = $(row).closest("tr").children()[1].innerHTML;
    //    var OrdenAlmacenaje = $(row).closest("tr").children()[2].innerHTML;
    //    $(row).closest("tbody").find("tr.k-detail-row").css("display", "none");
    //    $(row).closest("tbody").find(".k-icon").removeClass("k-minus");
    //    $(row).closest("tbody").find(".k-icon").addClass("k-plus");

    //    //var grid = $("#grid").data("kendoGrid");
    //    //var tr = $(row).closest("tr");
    //    //grid.removeRow(tr);
    //    //Filtros();
    //};

    function Cancelarnumerounico(row) {
        //loadingStart();
        var numeroUnicoID = $(row).closest("tr").children()[2].innerText;

        if (confirm("Estas seguro de cancelar el item code de la orden de almacenaje?")) {
            $OrdenAlmacenaje.OrdenAlmacenaje.destroy({}, { numeroUnico: numeroUnicoID, token: Cookies.get("token") }).done(function (result) {
                Error(result);
                Filtros();
                //loadingStop();
            });
        } else {
            //loadingStop();
        }
    };

    function obtenerFormatoFecha(d) {
        var curr_date = d.getDate();
        var curr_month = d.getMonth() + 1; //Months are zero based
        var curr_year = d.getFullYear();
        var horaActual = new Date();

        if (curr_year == "1969") {
            return null;
        } else {
            return curr_year + "-" + curr_month + "-" + curr_date + " " + horaActual.getHours() + ":" + horaActual.getMinutes() + ":" + horaActual.getSeconds();
        }
    };

    function Error(data) {
        if (data.ReturnCode) {
            if (data.ReturnCode != 200) {
                if (data.ReturnCode == 401) {
                    removeUserSession();
                    return false;
                } else {
                    displayMessage("notificationslabel0008", data.ReturnMessage, '2');
                    return false;
                }
            } else {
                return true;
            }
        } else {
            return true;
        }
    };
    }

    @section JavascriptDocumentReadyFunctions {

    CargaInicial();


    }
    @section JavascriptDocumentReadyHomeCookie {
    $authorizationModel["Orden Almacenaje"] = $ListadoOrdenAlmacenajeModel;
    Cookies.set("home", true, { path: '/' });
    Cookies.set("navegacion", "18", { path: '/' });
    }

</script>
