@{
    ViewBag.Title = "Complemento Recepción";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="ComplementoRecepcion0001"></span></a>
    </li>
    <li>
        <a href="@Url.Action("DashboardRecepcionAlmacenaje", "DashboardRecepcionAlmacenaje")"><span id="ComplementoRecepcion0002"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("Cuantificacion", "Cuantificacion")"><span id="ComplementoRecepcion0003"></span></a>
    </li>
}

<div id="formComplementoRecepcion" class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12"  >
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <span id="divFolio" class="folioLabel hidden">
                <span id="ComplementoRecepcion0041"></span>
                <span id="ComplementoRecepcion0042" class="statusLabel"></span>
                <span id="ComplementoRecepcion0043" class="statusLabel"></span>
                <span id="ComplementoRecepcion0052" class="statusLabel"></span>
                <span id="ComplementoRecepcion0053" class="statusLabel"></span>
                <div class="branchCut"></div>
            </span>
            <div class="formNav clearfix">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="button-section">
                            <div class="btn-group save-group">
                                <button id="Guardar" onclick="javascript:void(0);" type="button" class="btn btn-yellow"><span id="ComplementoRecepcion0004"></span></button>
                                <button id="Editar" onclick="javascript:void(0);" type="button" class="btn btn-yellow" style="display: none"><span id="ComplementoRecepcion0033"></span></button>
                                <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caretWhite"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a id="TerminaryNuevo" href="#"><span id="ComplementoRecepcion0005"></span></a></li>
                                </ul>
                            </div>
                            <a id="Cancelar" href="#" class="btn btn-black"><span id="ComplementoRecepcion0008"></span></a>
                        </div>
                        <div class="button-section">
                            <a id="GenerarOrdenAlmacenaje" href="#" class="btn btn-primary"><span id="ComplementoRecepcion0009"></span></a>
                        </div>
                        <div class="button-section">
                            <div class="dropdown action-group">
                                <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                                    <span id="ComplementoRecepcion0010"></span>
                                    <span class="caretBlue"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="Acciones">
                                    <li><a href="#" id="IrListado"><span id="ComplementoRecepcion0011"></span></a></li>
                                    @*<li><a href="#" id="IrIncidencia"><span id="ComplementoRecepcion0012"></span></a></li>*@
                                </ul>
                            </div>
                        </div>
                        <a id="Imprimir" href="#" class="btn btn-fadeBlue"></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-11">
                    <div class="row">
                        <div id="ProyectoDiv" class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <label id="ComplementoRecepcion0013"></label>
                            <input id="ProyectoID" />
                        </div>
                        <div id="FolioCuantificacionDiv" class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <label id="ComplementoRecepcion0014"></label>
                            <input id="FolioCuantificacionID" />
                        </div>
                        <div id="MostrarDiv" class="form-group standalone col-xs-12 col-sm-6 col-md-4 col-lg-3">                            
                            <a id="Mostrar" href="#" class="btn btn-primary"><span id="ComplementoRecepcion0015"></span></a>
                        </div>
                        <div id="EstatusFisicoDiv" class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <label id="ComplementoRecepcion0019"></label>
                            <input id="EstatusFisico" class="" />
                        </div>
                        <div id="EstatusDocumentalDiv" class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <label id="ComplementoRecepcion0020"></label>
                            <input id="EstatusDocumental" class="" />
                        </div>
                        <div id="TipoUsoDiv" class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <label id="ComplementoRecepcion0021"></label>
                            <input id="TipoUso" class="" />
                        </div>
                        <div id="ColadaDiv" class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <label id="ComplementoRecepcion0062"></label>
                            <input id="Colada" class="" />
                        </div>
                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <label id="ComplementoRecepcion0016"></label>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                    <label id="ComplementoRecepcion0017" class="centered"></label>
                                    <input id="todos" class="" type="radio" name="radio" checked value="1">
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                    <label id="ComplementoRecepcion0018" class="centered"></label>
                                    <input id="vacios" class="" type="radio" name="radio" value="2" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="grid"></div>
        </div>
        
        <ul id="menu">
            <li id="Complemento"><span id="ComplementoRecepcion0063"></span></li>
            <li id="Incidencia"><span id="ComplementoRecepcion0066"></span></li>
        </ul>
    </div>
</div>

<div id="windowColada">
    <div id="modalEdicionColada" style="display: none">
         <div class="alert-container">
            <div class="message">
                Mensaje de éxito/error/advertencia
            </div>
        </div>
         <div id="EdicionColadaDiv" class="form-group">
            <label id="ComplementoRecepcion0064"></label>
            <input id="EdicionColada" class="" />
        </div>
         <div class="buttonSave">
           <a id="CerrarEdicionColada" href="#" class="btn btn-primary">
                <span id="ComplementoRecepcion0065"></span>
            </a>
         </div>
     </div>
</div>
<div id="window">

</div>

<script>
    @section JavascriptGlobalVariables 
    {
    var Proyecto = {}, Cuantificacion = {}, TipoUso = {}, resultadoJson,
        lastEditedFisicoCellIDS = "", lastEditedTipoUsoCellIDS = "",
        lastEditedDepartamentalCellID = "", lastEditedCellIDSColada,
        ctrlDown = false, ctrlKey = 17, vKey = 86, cKey = 67,
        focusResp = "ProyectoID", sinColadaPL = "Sin Colada PL", rowselected="";

    var _ComplemementoUrl = "@Url.Action("ComplementoRecepcion", "ComplementoRecepcion")";
    var _DashBoardRecepcionAlmacenaje = "@Url.Action("DashboardRecepcionAlmacenaje", "DashboardRecepcionAlmacenaje")";
    var _GenerarOrdenAlmacenajeUrl = "@Url.Action("GenerarOrdenAlmacenaje", "OrdenAlmacenaje")";
    var _folioAvisoEntradaID = getUrlParameter("FolioAvisoEntradaID", "-1");
    var _folioCuantificacion = getUrlParameter("FolioCuantificacionID", "-1");
    var _edicion = getUrlParameter("Edicion", "-1");
    var _incidenciasURL = "@Url.Action("Incidencias", "Incidencias")"; 
    //Mappeo de Controles y sus flechas
    var mapeoNavegacion = {
        "ProyectoID": { 37: "FolioCuantificacionID", 38: "ProyectoID", 39: "FolioCuantificacionID", 40: "EstatusFisico" },
        "FolioCuantificacionID": { 37: "ProyectoID", 38: "ProyectoID", 39: "EstatusFisico", 40: "EstatusFisico" },
        "EstatusFisico": { 37: "FolioCuantificacionID", 38: "ProyectoID", 39: "EstatusDocumental", 40: "grid" },
        "EstatusDocumental": { 37: "EstatusFisico", 38: "ProyectoID", 39: "TipoUso", 40: "grid" },
        "TipoUso": { 37: "EstatusDocumental", 38: "ProyectoID", 39: "Colada", 40: "grid" },
        "Colada": { 37: "TipoUso", 38: "ProyectoID", 39: "grid", 40: "grid" },
        "grid": { 37: "TipoUso", 38: "EstatusDocumental", 39: "grid", 40: "grid" },
    };


    //Mappeo de tipos de Controles
    //--   Tipos 0 -> Elemento HTML
    //--   Tipos 1 -> Elemento KendoAutocomplete
    //--   Tipos 2 -> Elemento KendoComboBox
    //--   Tipos 3 -> Elemento KendoDropDownList
    //--   Tipos 4 -> Elemento KendoGrid
    var mapeoTiposControles = {
        "ProyectoID": 2,
        "FolioCuantificacionID": 2,
        "EstatusFisico": 2,
        "EstatusDocumental": 2,
        "TipoUso": 2,
        "Colada":2,
        "grid": 4
    };


    var $ComplementoRecepcionModel = {
        listContainer: {
            create: ".nextStepButtonSection",
            list: ".actionButtonSection",
            detail: ".editButtonSection",
            destroy: ""
        },
        properties: {
            proyecto: {
                visible: "#ProyectoDiv",
                editable: "#ProyectoID",
                required: "#ProyectoID"
            },
            foliocuantificacion: {
                visible: "#FolioCuantificacionDiv",
                editable: "#FolioCuantificacionID",
                required: "#FolioCuantificacionID"
            },
            estatusfisico: {
                visible: "#EstatusFisicoDiv",
                editable: "#EstatusFisico",
                required: "#EstatusFisico"
            },
            estatusdocumental: {
                visible: "#EstatusDocumentalDiv",
                editable: "#EstatusDocumental",
                required: "#EstatusDocumental"
            },
            tipouso: {
                visible: "#TipoUsoDiv",
                editable: "#TipoUso",
                required: "#TipoUso"
            },
            colada: {
                visible: "#ColadaDiv",
                editable: "#Colada",
                required: "#Colada"
            }
        }
    };

    };


    @section JavascriptGlobalFunctions 
    {
    function changeLanguageCall() {
        LoadGridQuantification();
        CargarEstatusFisico();
        CargarEstatusDocumental();
    }

    function cargaInicial() {
        $("#menu").kendoContextMenu({
            target: "#grid",
            filter: "td",
            select: function (e) {
                var grid = $("#grid").data("kendoGrid");
                var select = grid.select();
                var data = grid.dataItem(select);
                
                if (e.item.id == "Incidencia") {
                    window.open(_incidenciasURL + "?leng=" + $("#language").data("kendoDropDownList").value() + "&LevantarIncidencia=1&ReferenciaID=" + data.NumeroUnicoID + "&TipoIncidencia=9&Clasificacion=1");
                    return;
                };

                if (data.Colada != sinColadaPL) {
                    rowselected = data;
                    $("#EdicionColada").data("kendoComboBox").text(data.Colada);
                    VentanaEdicionColada(3);
                    e.preventDefault();
                };
            }
        });

        $("#grid").on("mousedown", "tr[role='row']", function (e) {
            $('#grid').data("kendoGrid").select(e.target.parentElement);
            $("#grid thead .k-state-selected> .k-link").css({
                "color": "black"
            });
        });

        //Botones
        $("#Editar").click(function (e) { BotonEdicion(); });
        $("#Guardar").click(function () {
            if (validarRequeridosFormaComplementoRecepcion()) {
                GuardarParcial();
            } else {
                displayMessage("notificationslabel0031", "", '1');
            }
        });

        $("#TerminaryNuevo").click(function () {
            if (validarRequeridosFormaComplementoRecepcion()) {
                TerminaryNuevo();
            } else {
                displayMessage("notificationslabel0031", "", '1');
            }
        });

        $("#GenerarOrdenAlmacenaje").click(function () {
            if (validarRequeridosFormaComplementoRecepcion()) {
                GenerarOrdenAlmacenaje();
            } else {
                displayMessage("notificationslabel0054", "", '1');
            }
        });


        $("#Mostrar").click(function () {
            if (validarRequeridosFormaComplementoRecepcion()) {
                ObtenerDatosDelFolioCuantificacion();
            } else {
                displayMessage("notificationslabel0031", "", '1');
            }
        });
        
        $("#Cancelar").click(function () { Cancelar(); });
        $("#IrListado").click(function () {
            IrListado();
        });
        $("#IrIncidencia").click(function () { Incidencias(); });

        $("#ProyectoID").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "ProyectoID",
            select: function (e) {
                var dataItem = this.dataItem(e.item.index());
                CargarProyecto(dataItem.ProyectoID, dataItem.Nombre);
            },
            change: function (e) {
                var value = this.value();
                limpiarfiltrosProyecto();
                if (!value || this.selectedIndex == -1) {
                    Proyecto = {};
                    this.value("");
                } else {
                    ObtenerDatosFolioCuantificacion();
                }

            },
            filter: "contains",
        });
        ObtenerProyecto("ProyectoID");
        $("#ProyectoID").data("kendoComboBox").input.focus();

        $("#FolioCuantificacionID").kendoComboBox({
            dataTextField: "value",
            dataValueField: "id",
            select: function (e) {
                var dataItem = this.dataItem(e.item.index());
                CargarFolioCuantificacion(dataItem.id);
            },
            change: function (e) {
                var value = this.value();
                limpiarfiltrosFolioCuantificacion();
                if (!value || this.selectedIndex == -1) {
                    Cuantificacion = {};
                    this.value("");
                }
            },
            filter: "contains",
        });


        $("#TipoUso").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "id",
            change: function (e) {
                var value = this.value();
                if (this.selectedIndex == -1) {
                    this.value("");
                }
                changeValueColumnTipoUso($("#TipoUso").data("kendoComboBox").text());
            },
            filter: "contains",
        });
        ObtenerTipoUso();


        $('input:radio').click(function () {
            if ($(this).val() === '1') {
                changeValueColumnsAll();
            } else if ($(this).val() === '2') {
                changeValueColumnsClear();
            }
        });


        $("#Colada").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "ColadaID",
            change: function (e) {
                var value = this.value();

                if (this.selectedIndex == -1) {
                    this.value("");
                };
                changeValueColumnColada($("#Colada").data("kendoComboBox").text());

            },
            filter: "contains",
        });
        ObtenerColada("Colada", 1, 0);

        $("#EdicionColada").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "ColadaID",
            select: function (e) {
                var dataItem = this.dataItem(e.item.index());
                if (dataItem.ColadaID == "0") {
                    VentanaModal(1);
                    e.preventDefault();
                } 
            },
            change: function (e) {

                if (this.selectedIndex == -1) {
                    this.value("");
                };

                rowselected.Colada = $("#EdicionColada").data("kendoComboBox").text();
                $('#grid').data('kendoGrid').refresh();
            },
            filter: "contains",
        });
        ObtenerColada("EdicionColada", 0, 1);

        $("#CerrarEdicionColada").click(function () { LimpiarModalEdicionColada();});
        
    };

    function Cancelar() {
        window.location.href = _ComplemementoUrl + "?leng=" + $("#language").data("kendoDropDownList").value();
    };

    function cargaInicialEdicion() {
        $("#FolioCuantificacionID").data("kendoComboBox").text(_folioCuantificacion);
        CargarFolioCuantificacion(_folioCuantificacion);
        ObtenerProyectoFolioCuantificacion();
    };

    function ObtenerProyectoFolioCuantificacion() {
        $ObtenerDatosFolioLlegadaMaterial.ObtenerDatosFolioLlegadaMaterial.read({folioCuantificacionID: Cuantificacion.FolioCuantificacionID, token: Cookies.get("token"), }).done(function (result) {
            if (Error(result)) {
                $("#ProyectoID").data("kendoComboBox").value(result);
                CargarProyecto(result, $("#ProyectoID").data("kendoComboBox").text());
                ObtenerDatosFolioCuantificacion();
                ObtenerDatosDelFolioCuantificacion(_folioCuantificacion);
            }
        });
    };
    function BotonEdicion() {
        loadingStart();
        $("#dropdown-toggle").show();
        $("#Editar").css("display", "none");
        $("#Guardar").css("display", "block");
        habilitarControles();
    };

    function BotonAlta() {
        $("#dropdown-toggle").hide();
        $("#Editar").css("display", "block");
        $("#Guardar").css("display", "none");
        deshabilitarControles();
    };

    function habilitarControles() {
        $("#ProyectoID").data("kendoComboBox").enable(true);
        $("#FolioCuantificacionID").data("kendoComboBox").enable(true);
        $("#EstatusFisico").data("kendoComboBox").enable(true);
        $("#EstatusDocumental").data("kendoComboBox").enable(true);
        $("#TipoUso").data("kendoComboBox").enable(true);
        $(".k-button.k-button-icontext.k-grid-add").removeClass("k-state-disabled");
        $("input:radio").removeAttr("disabled");
        $(".k-button.k-button-icontext.k-grid-Cancelar").removeClass("hidden");
        $("#Mostrar").removeAttr("disabled");
        $("#Colada").data("kendoComboBox").enable(true);
        CambiarEstatus("En Proceso de Recepción");
    };

    function CambiarEstatus(estatus) {
        Cuantificacion.FolioCuantificacionID
        $ComplementarRecepcion.ComplementarRecepcion.update({}, {
            folio: Cuantificacion.FolioCuantificacionID,
            estatus: estatus,
            token: Cookies.get("token")
        }).done(function (data) {
            loadingStop();
            Error(data);
            CargarLabelEstatus(estatus);
        });
    };
    function deshabilitarControles() {
        $("#ProyectoID").data("kendoComboBox").enable(false);
        $("#FolioCuantificacionID").data("kendoComboBox").enable(false);
        $("#EstatusFisico").data("kendoComboBox").enable(false);
        $("#EstatusDocumental").data("kendoComboBox").enable(false);
        $("#TipoUso").data("kendoComboBox").enable(false);
        $(".k-button.k-button-icontext.k-grid-add").addClass("k-state-disabled");
        $("input:radio").attr('disabled', "disabled");
        $(".k-button.k-button-icontext.k-grid-Cancelar").addClass("hidden");
        $("#Mostrar").attr("disabled", "disabled");
        $("#Colada").data("kendoComboBox").enable(false);
    };


    function CargarProyecto(id, value) {
        Proyecto = {};
        Proyecto = { ProyectoID: id, Nombre: value };
    };

    function CargarFolioCuantificacion(id) {
        Cuantificacion = {};
        Cuantificacion = { FolioCuantificacionID: id };
    };

    function CargarEstatusFisico() {
        $("#EstatusFisico").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "EstatFisicoID",
            dataSource: [
                       { EstatFisicoID: 0, Nombre: _dictionary.ComplementoRecepcion0054[$("#language").data("kendoDropDownList").value()] },
                       { EstatFisicoID: 1, Nombre: _dictionary.ComplementoRecepcion0055[$("#language").data("kendoDropDownList").value()] },
                       { EstatFisicoID: 2, Nombre: _dictionary.ComplementoRecepcion0056[$("#language").data("kendoDropDownList").value()] }
            ],
            change: function (e) {
                var value = this.value();
                if (this.selectedIndex == -1) {
                    this.value("");
                };
                changeValueColumnEstatusFisico($("#EstatusFisico").data("kendoComboBox").text());
            },
            filter: "contains",
        });
    };

    function CargarEstatusDocumental() {
        $("#EstatusDocumental").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "EstatusDocumentalID",
            dataSource: [
                   { EstatusDocumentalID: 0, Nombre: _dictionary.ComplementoRecepcion0057[$("#language").data("kendoDropDownList").value()] },
                   { EstatusDocumentalID: 1, Nombre: _dictionary.ComplementoRecepcion0058[$("#language").data("kendoDropDownList").value()] }
            ],
            change: function (e) {
                var value = this.value();
                if (this.selectedIndex == -1) {
                    this.value("");
                };
                changeValueColumnEstatusDocumental($("#EstatusDocumental").data("kendoComboBox").text());
            },
            filter: "contains",
        });
    };

    function CancelarPadre() {
        VentanaEdicionColada(3);
    };

    function CancelarColada() {
        LimpiarModalColada();
        VentanaEdicionColada(3);
        cancelarvalidacionRequeridosModalColada();
    };

    function LimpiarModalColada() {
        $("#Fabricante_Colada").data("kendoComboBox").value("");
        $("#Acero_Colada").data("kendoComboBox").value("");
        $("#Proyecto_Colada").data("kendoComboBox").value("");
        $("#NumeroColada_Colada").val("");
        $("#NumeroCertificado_Colada").val("");
        $("#HoldCalidad_Colada").attr("checked", false);

        FabricanteColada = {};
        AceroColada = {};
        ProyectoColada = {};
    };
    function cancelarvalidacionRequeridosModalColada() {
        $("#modalColada .security_required").each(function (i, elem) {
            if (elem.tagName.toLowerCase() != 'label') {
                $(this).closest("div").find("label").removeClass("error");
                $(this).closest("div").removeClass("clearfix");
            };
        });
    };

    function LimpiarModalEdicionColada() {
        $("#EdicionColada").data("kendoComboBox").value("");
        $("#windowColada").data("kendoWindow").close();
    };

    function cerrarVentanaModal() {
        $("#window").data("kendoWindow").close();
    };

    function validarRequeridosFormaComplementoRecepcion() {
        var bool = true;
        $("#formComplementoRecepcion .security_required").each(function (i, elem) {
            if (elem.tagName.toLowerCase() != 'label') {
                if (!$(this).val()) {
                    bool = false;
                    $(this).closest("div").find("label").addClass("error");
                } else {
                    $(this).closest("div").find("label").removeClass("error");
                };
            };
        });
        return bool;
    };



    function ocultarStatus() {
        $("#ComplementoRecepcion0042").hide();
        $("#ComplementoRecepcion0043").hide();
        $("#ComplementoRecepcion0052").hide();
        $("#ComplementoRecepcion0053").hide();
    };

    function IrListado() {
        window.location.href = _DashBoardRecepcionAlmacenaje + "?leng=" + $("#language").data("kendoDropDownList").value()
    };

    function ObtenerColada(id, opciones, mostrarOpcionNuevo) {
        $Colada.Colada.read({ token: Cookies.get("token"), id: opciones, mostrarOpcion: mostrarOpcionNuevo }).done(function (result) {
            ControlErroresObjetosComboBox(id, result);
        });
    };

    function GenerarOrdenAlmacenaje() {
        if (Cuantificacion.FolioCuantificacionID) {
            window.location.href = _GenerarOrdenAlmacenajeUrl + "?leng=" + $("#language").data("kendoDropDownList").value() + "&FolioCuantificacionID=" + Cuantificacion.FolioCuantificacionID + "&ProyectoID=" + Proyecto.ProyectoID;
        } else {
            displayMessage("notificationslabel0054", "", '1');
        }
    };

    function ActualizarPaginaPadre() {
        ObtenerColada("EdicionColada", 0, 1);
        ObtenerColada("Colada", 1, 0);
        VentanaEdicionColada(3);
    };


        function LoadGridQuantification() {
            $("#grid").kendoGrid({
                dataSource: {
                    data: resultadoJson,
                    autoSync: true,
                    schema: {
                        model: {
                            fields: {
                                NumeroUnicoID: { type: "string", editable: false },
                                NumeroUnico: { type: "string", editable: false },
                                NumeroUnicoCliente: { type: "string", editable: true },
                                ItemCode: { type: "string", editable: false },
                                Descripcion: { type: "number", editable: false },
                                Cedula: { type: "number", editable: false },
                                TipoAcero: { type: "string", editable: false },
                                D1: { type: "string", editable: false },
                                D2: { type: "string", editable: false },
                                Cantidad: { type: "number", editable: true },
                                MM: { type: "string", editable: true },
                                Colada: { type: "string", editable: false },
                                EstatusFisico: { type: "string", editable: true },
                                EstatusDocumental: { type: "string", editable: true },
                                TipoUso: { type: "string", editable: true },
                                TieneError: { type: "boolean", defaultValue: false, editable: true }
                            }
                        }
                    },
                    serverPaging: false,
                    serverFiltering: false,
                    serverSorting: false,
                    aggregate: [
                                 { field: "Descripcion", aggregate: "count" },
                                 { field: "Cantidad", aggregate: "sum" }
                    ]
                },
                autoHeight: true,
                sortable: true,
                scrollable: false,
                filterable: getKendoGridFilterable($("#language").data("kendoDropDownList").value()),
                pageable: false,
                groupable: true,
                selectable: true,
                editable: {
                    mode: "incell",
                    confirmation: false
                },
                navigatable: true,
                columns: [
                    { field: "NumeroUnicoID", title: _dictionary.ComplementoRecepcion0067[$("#language").data("kendoDropDownList").value()], filterable: true, width: 150, hidden:true },
                    { field: "NumeroUnico", title: _dictionary.ComplementoRecepcion0022[$("#language").data("kendoDropDownList").value()], filterable: true, width:150},
                    { field: "NumeroUnicoCliente", title: _dictionary.ComplementoRecepcion0023[$("#language").data("kendoDropDownList").value()], filterable: true, width: 200 },
                    { field: "ItemCode", title: _dictionary.ComplementoRecepcion0024[$("#language").data("kendoDropDownList").value()], filterable: true },
                    { field: "Descripcion", title: _dictionary.ComplementoRecepcion0025[$("#language").data("kendoDropDownList").value()], filterable: true, width: 200, aggregates: ["count"], footerTemplate: "Total Count: #=count#", groupFooterTemplate: "Count: #=count#" },
                    { field: "Cedula", title: _dictionary.ComplementoRecepcion0026[$("#language").data("kendoDropDownList").value()], filterable: true },
                    { field: "TipoAcero", title: _dictionary.ComplementoRecepcion0027[$("#language").data("kendoDropDownList").value()], filterable: true },
                    { field: "D1", title: _dictionary.ComplementoRecepcion0028[$("#language").data("kendoDropDownList").value()], filterable: true, width: 80 },
                    { field: "D2", title: _dictionary.ComplementoRecepcion0029[$("#language").data("kendoDropDownList").value()], filterable: true, width: 80 },
                    { field: "Cantidad", title: _dictionary.ComplementoRecepcion0030[$("#language").data("kendoDropDownList").value()], filterable: true, aggregates: ["sum"], footerTemplate: "Total SUM: #=sum#", groupFooterTemplate: "SUM: #=sum#" },
                    { field: "MM", title: _dictionary.ComplementoRecepcion0031[$("#language").data("kendoDropDownList").value()], filterable: true, width: 80 },
                    { field: "Colada", title: _dictionary.ComplementoRecepcion0032[$("#language").data("kendoDropDownList").value()], editor: ColadaAutocomplete, filterable: true },
                    { field: "EstatusFisico", title: _dictionary.ComplementoRecepcion0034[$("#language").data("kendoDropDownList").value()], editor: EstatusFisicoAutocomplete, filterable: true},
                    { field: "EstatusDocumental", title: _dictionary.ComplementoRecepcion0035[$("#language").data("kendoDropDownList").value()], editor: EstatusDepartamentalAutocomplete, filterable: true },
                    { field: "TipoUso", title: _dictionary.ComplementoRecepcion0036[$("#language").data("kendoDropDownList").value()], editor:TipoUsoAutocomplete, filterable: true },
                    { field: "TieneError", title: _dictionary.ComplementoRecepcion0037[$("#language").data("kendoDropDownList").value()], filterable: true, hidden:true },
                ]
            });
            var grid = $("#grid").data("kendoGrid");

            var dispositivo = navigator.userAgent.toLowerCase();
            if (!dispositivo.match(/(iphone|ipod|ipad|android)/)) {
                grid.table.bind("keypress", function (e) {
                    keydown(e);
                    if (e.which !== 0 && e.charCode !== 0 && !e.ctrlKey && !e.metaKey && !e.altKey) {
                        //get currently navigated cell, this id follows user's navigation
                        var activeCell = $("#grid_active_cell");

                        //don't do anything if already editing cell        
                        if (activeCell.hasClass("k-edit-cell")) return;

                        grid.editCell(activeCell);
                        var input = activeCell.find("input");

                        //number datatype editor loses key press character when entering edit
                        if (input.last().attr('data-type') === 'number') {
                            input.val(String.fromCharCode(e.keyCode | e.charCode));
                        } else {
                            input.val("");
                        }


                    }
                });
            }
            //Kendo "Enter" key input is captured through this binding
            $("#grid table").on("keydown", "tr", function (e) {
                var code = (e.keyCode ? e.keyCode : e.which);
                if (code == 13) { //If key is ENTER
                    console.log("--KendoEnter--");
                    //find index of the td element
                    var tdIndex = $(e.target).closest('td').index();
                    //get the next row's cell
                    var nextRow = $(e.target).closest('tr').next();
                    var nextRowCell = $(nextRow).find('td:eq(' + tdIndex + ')');
                    //Check if the next row is the last one and add one
                    if (nextRowCell.length == 0) {
                        var grids = $("#grid").data("kendoGrid");
                        if (grids) {
                            var dataSource = grid.dataSource;
                            var total = dataSource.data().length;
                            dataSource.insert(total, {});
                        }
                        //find index of the td element
                        tdIndex = $(e.target).closest('td').index();
                        //get the next row's cell
                        nextRow = $(e.target).closest('tr').next();
                        nextRowCell = $(nextRow).find('td:eq(' + tdIndex + ')');
                    }

                    //focus the next cell on a different context
                    setTimeout(function () {
                        console.log("--Changing Current--");
                        var grid = $("#grid").data("kendoGrid");
                        grid.current(nextRowCell);
                    }, 0);
                }
            });

            //$("#grid tbody").on("mousedown", "td", function (e) {
            //    var row = $(this).closest("tr");
            //    var rowIdx = $("tr", $("#grid").data("kendoGrid").tbody).index(row);
            //    var colIdx = $("td", row).index(this);
            //    var valor = $("td", row)[10].innerHTML;
               
            //    if (colIdx == 10)
            //    {
            //        if (valor != "Sin Colada PL")
            //        {
            //            VentanaModal(1);
            //        }
            //    }
            //});
        };

        function ObtenerProyecto(id) {
            $Proyecto.Proyecto.read({ token: Cookies.get("token") }).done(function (result) {
                ControlErroresObjetosComboBox(id, result);
            });
        };

        function ObtenerTipoUso() {
            $TipoUso.TipoUso.read({ agregarOpcion:0, token: Cookies.get("token") }).done(function (result) {
                ControlErroresObjetosComboBox("TipoUso", result);
            });
        };

        function ObtenerDatosFolioCuantificacion() {
            $ComplementarRecepcion.ComplementarRecepcion.read({ proyectoID: Proyecto.ProyectoID, token: Cookies.get("token") }).done(function (result) {
                if (Error(result)) {
                    ControlErroresObjetosComboBox("FolioCuantificacionID", result);
                } else {
                    limpiarfiltrosFolioCuantificacion();
                };
                loadingStop();
            });
        };

        function VentanaEdicionColada(id) {
            var modalTitle = "";
            var content = "";
            var window = $("#windowColada");
            var height = "";

            $("#modalEdicionColada").show();

            window.kendoWindow({
                actions: false,
                content: content,
                modal: true,
                title: modalTitle,
                resizable: true,
                actions: ["Close"],
                visible: false,
                width: "32.6%",
                minWidth: 660,
                height: "135px",
                position: {
                    top: "10%",
                    left: "20%"
                }
            }).data("kendoWindow");


            window.data("kendoWindow").title(modalTitle);
            window.data("kendoWindow").center().open();
        };
        function VentanaModal(id) {

            var modalTitle = "";
            var content = "";
            var window = $("#window");
            var height = "";

            switch (id) {
                case 1:
                    modalTitle = "Colada";
                    content = "@Url.Action("Colada", "PopUps")";
                    height = "30%";
                    break;
                case 2:
                    modalTitle = "Tipo de Uso";
                    content = "@Url.Action("TipoUso", "PopUps")";
                    height = "170px";
                    break;
            };

            window.kendoWindow({
                actions: false,
                content: content,
                modal: true,
                title: modalTitle,
                resizable: true,
                actions: ["Close"],
                visible: false,
                width: "32.6%",
                minWidth: 660,
                height: height,
                iframe: true,
                position: {
                    top: "10%",
                    left: "20%"
                }
            }).data("kendoWindow");

            //Se actualiza el tamaño
            $("#window").data("kendoWindow").setOptions({
                width: "32.6%",
                height: height,
            });

            window.data("kendoWindow").title(modalTitle);
            window.data("kendoWindow").center().open();
        };

        function DeshabilitarControlesDetalleBulto() {
            $("#FolioAvisoEntradaID").data("kendoComboBox").enable(false);
            $("#ProyectoID").data("kendoComboBox").enable(false);
            $("#FolioCuantificacionID").data("kendoComboBox").enable(false);
            $("#BultoID").attr("disabled", "disabled");
            $("#PackingList").attr("disabled", "disabled");
            $("#TipoPackingListID").data("kendoComboBox").enable(false);
            $("#TipoUsoID").data("kendoComboBox").enable(false);
        };



        function ObtenerDatosDelFolioCuantificacion(cuantificacion) {
            loadingStart();
            cargarGridPackingList();
        }

        function CargarLabelEstatus(status) {
            ocultarStatus();
            cargarTituloFolio();

            if (status == "En Proceso de Recepción") {
                $("#ComplementoRecepcion0042").show();
            }

            if (status == "Recepción Terminada") {
                $("#ComplementoRecepcion0043").show();
            }

            if (status == "Terminado") {
                $("#ComplementoRecepcion0052").show();
            }

            if (status == "Cerrado") {
                $("#ComplementoRecepcion0053").show();
            }

            
        };

        function changeValueColumnColada(value) {
            var filters = $("#grid").data("kendoGrid").dataSource.filter();
            var allData = $("#grid").data("kendoGrid").dataSource.data();
            var query = new kendo.data.Query(allData);
            var result = query.filter(filters).data;
            var datasource = result;

            $(datasource).each(function () {
                this.set("Colada", value);
            });
        };

        function changeValueColumnEstatusFisico(value) {
            var filters = $("#grid").data("kendoGrid").dataSource.filter();
            var allData = $("#grid").data("kendoGrid").dataSource.data();
            var query = new kendo.data.Query(allData);
            var result = query.filter(filters).data;
            var datasource = result;

            $(datasource).each(function () {
                this.set("EstatusFisico", value);
            });
        };

        function changeValueColumnEstatusDocumental(value) {
            var filters = $("#grid").data("kendoGrid").dataSource.filter();
            var allData = $("#grid").data("kendoGrid").dataSource.data();
            var query = new kendo.data.Query(allData);
            var result = query.filter(filters).data;
            var datasource = result;

            $(datasource).each(function () {
                this.set("EstatusDocumental", value);
            });
        };

        function changeValueColumnTipoUso(value) {
            var filters = $("#grid").data("kendoGrid").dataSource.filter();
            var allData = $("#grid").data("kendoGrid").dataSource.data();
            var query = new kendo.data.Query(allData);
            var result = query.filter(filters).data;
            var datasource = result;

            $(datasource).each(function () {
                this.set("TipoUso", value);
            });
        };


        function changeValueColumnsAll() {
            var filters = $("#grid").data("kendoGrid").dataSource.filter();
            var allData = $("#grid").data("kendoGrid").dataSource.data();
            var query = new kendo.data.Query(allData);
            var result = query.filter(filters).data;
            var datasource = result;

            $(datasource).each(function () {
                this.set("EstatusFisico", $("#EstatusFisico").data("kendoComboBox").text());
                this.set("EstatusDocumental", $("#EstatusDocumental").data("kendoComboBox").text());
                this.set("TipoUso", $("#TipoUso").data("kendoComboBox").text());
            });
        }

        function changeValueColumnsClear() {
            var filters = $("#grid").data("kendoGrid").dataSource.filter();
            var allData = $("#grid").data("kendoGrid").dataSource.data();
            var query = new kendo.data.Query(allData);
            var result = query.filter(filters).data;
            var datasource = result;

            $(datasource).each(function () {
                this.set("EstatusFisico", "");
                this.set("EstatusDocumental", "");
                this.set("TipoUso", "");

            });
        };

        function limpiarfiltrosProyecto() {
            $("#FolioCuantificacionID").data("kendoComboBox").dataSource.data([]);
            $("#FolioCuantificacionID").data("kendoComboBox").value("");
            $("#grid").data("kendoGrid").dataSource.data([]);
            _folioCuantificacion = "-1";
            Cuantificacion = {};
            limpiarTituloFolio();
        };

        function LimpiarColada() {
            $("#Colada").data("kendoComboBox").dataSource.data([]);
        };

        function ControlErroresObjetosComboBox(control, result) {
            if (Error(result)) {
                $("#" + control).data("kendoComboBox").dataSource.data(result);
            } else {
                $("#" + control).data("kendoComboBox").dataSource.data([]);
            };
        };

        function limpiarfiltrosFolioCuantificacion() {
            $("#grid").data("kendoGrid").dataSource.data([]);
            limpiarTituloFolio();
        }

        function cargarTituloFolio() {
            $("#divFolio").removeClass("hidden");
        };

        function limpiarTituloFolio() {
            $("#divFolio").addClass("hidden");
        }

        function CicloTerminaryNuevo(incompletos, ListadoCuantificacion, i, error) {
            if (ListadoCuantificacion[i]) {
                $ComplementarRecepcion.ComplementarRecepcion.update(ListadoCuantificacion[i], { tipoGuardado: 2, token: Cookies.get("token") }).done(function (data) {
                    error = ErrorInsertandoItems(data, error, ListadoCuantificacion[i]);
                    if (ErrorBool(data)) {
                        AccionesTerminaryNuevo(data);
                    } else {
                        cargarGridErrores(ListadoCuantificacion[i]);
                    }
                    i++;
                    CicloTerminaryNuevo(incompletos, ListadoCuantificacion, i, error);
                });
            } else {
                loadingStop();
                ordenamientoGrid();

                if (error) {
                    displayMessage("notificationslabel0050", error, '2');
                    BotonAlta();
                    CambiarEstatus("En Proceso de Recepción");
                    return;
                }

                if (incompletos) {
                    displayMessage("notificationslabel0051", "", '2');
                    BotonAlta();
                    CambiarEstatus("En Proceso de Recepción");
                    return;
                }

                CambiarEstatus("Recepción Terminada");
                window.location.href = _ComplemementoUrl + "?leng=" + $("#language").data("kendoDropDownList").value();
                AccionesTerminaryNuevo(null);
            }
        };

        function AccionesTerminaryNuevo(data) {
            cargarGridcompletos(data);
            ordenamientoGrid();
            BotonAlta();
        };

        function ErrorInsertandoItems(data, error, Listado) {
            if (data.ReturnCode) {
                if (data.ReturnCode != 200) {
                    if (data.ReturnCode == 401) {
                        removeUserSession();
                        return error;
                    } else {
                        error += "," + Listado.ItemCode;
                        return error;
                    }
                }
            }
            return error;
        };

        function GuardarListadoCuantificacionParcial(ListadoCuantificacion, ListadoCuantificacionIncompletos, idGuardado) {
            var i = 0, error = "";

            $("#grid").data("kendoGrid").dataSource.data([]);
            llenarGrid(null, ListadoCuantificacionIncompletos);

            $ComplementarRecepcion.ComplementarRecepcion.update(ListadoCuantificacion[i], { tipoGuardado: idGuardado, token: Cookies.get("token") }).done(function (data) {
                error = ErrorInsertandoItems(data, error, ListadoCuantificacion[i]);
                if (ErrorBool(data)) {
                    AccionesAltaGuardadoParcial(data);
                } else {
                    cargarGridErrores(ListadoCuantificacion[i]);
                };
                i++;
                cicloGuardadoParcial(ListadoCuantificacion, i, idGuardado, error);
            });

        };

        function cicloGuardadoParcial(ListadoCuantificacion, i, idGuardado, error) {
            if (ListadoCuantificacion[i]) {
                $ComplementarRecepcion.ComplementarRecepcion.update(ListadoCuantificacion[i], { tipoGuardado: idGuardado, token: Cookies.get("token") }).done(function (data) {
                    error = ErrorInsertandoItems(data, error, ListadoCuantificacion[i]);
                    if (ErrorBool(data)) {
                        AccionesAltaGuardadoParcial(data);
                    } else {
                        cargarGridErrores(ListadoCuantificacion[i]);
                    };
                    i++;
                    cicloGuardadoParcial(ListadoCuantificacion, i, idGuardado, error);
                });
            } else {
                loadingStop();
                ordenamientoGrid();
                if (error) {
                    displayMessage("notificationslabel0051", error, '2');
                    ordenamientoGrid();
                    return;
                }
                AccionesAltaGuardadoParcial(null);
                CambiarEstatus("En Proceso de Recepción");
            };
        };

        function AccionesAltaGuardadoParcial(data) {
            cargarGridcompletos(data);
            ordenamientoGrid();
            BotonAlta();
            ocultarStatus();
            cargarTituloFolio();
            CargarLabelEstatus("En Proceso de Recepción");
        };

        function cargarGridcompletos(dataJson) {
            if (dataJson) {
                var item =
                        { NumeroUnico: dataJson.NumeroUnico, NumeroUnicoCliente: dataJson.NumeroUnicoCliente, ItemCode: dataJson.ItemCode, Descripcion: dataJson.Descripcion, Cedula: dataJson.Cedula, TipoAcero: dataJson.TipoAcero, D1: dataJson.D1, D2: dataJson.D2, Cantidad: dataJson.Cantidad, MM: dataJson.MM, Colada: dataJson.Colada, EstatusFisico: dataJson.EstatusFisico, EstatusDocumental: dataJson.EstatusDocumental, TipoUso: dataJson.TipoUso, TieneError: dataJson.TieneError };
                $("#grid").data("kendoGrid").dataSource.insert(item);
            }
        };
        function cargarGridErrores(incompletos) {
            if (incompletos) {
                var item =
                       { ItemCode: incompletos.NumeroUnico, NumeroUnicoCliente: incompletos.NumeroUnicoCliente, ItemCode: incompletos.ItemCode, Descripcion: incompletos.Descripcion, Cedula: incompletos.Cedula, TipoAcero: incompletos.TipoAcero, D1: incompletos.D1, D2: incompletos.D2, Cantidad: incompletos.Cantidad, MM: incompletos.MM, Colada: incompletos.Colada, EstatusFisico: incompletos.EstatusFisico, EstatusDocumental: incompletos.EstatusDocumental, TipoUso: incompletos.TipoUso, TieneError: true };
                $("#grid").data("kendoGrid").dataSource.insert(item);
            }
        };

        function llenarGrid(dataJson, incompletos) {
            $("#grid").data("kendoGrid").dataSource.data([]);
            if (dataJson) {
                $.each(dataJson, function (key) {
                    var item =
                          { NumeroUnico: dataJson[key].NumeroUnico, NumeroUnicoCliente: dataJson[key].NumeroUnicoCliente, ItemCode: dataJson[key].ItemCode, Descripcion: dataJson[key].Descripcion, Cedula: dataJson[key].Cedula, TipoAcero: dataJson[key].TipoAcero, D1: dataJson[key].D1, D2: dataJson[key].D2, Cantidad: dataJson[key].Cantidad, MM: dataJson[key].MM, Colada: dataJson[key].Colada, EstatusFisico: dataJson[key].EstatusFisico, EstatusDocumental: dataJson[key].EstatusDocumental, TipoUso: dataJson[key].TipoUso, TieneError: dataJson[key].TieneError };
                    $("#grid").data("kendoGrid").dataSource.insert(item);
                });
            };
            if (incompletos) {
                $.each(incompletos, function (key) {
                    var item =
                           { NumeroUnico: incompletos[key].NumeroUnico, NumeroUnicoCliente: incompletos[key].NumeroUnicoCliente, ItemCode: incompletos[key].ItemCode, Descripcion: incompletos[key].Descripcion, Cedula: incompletos[key].Cedula, TipoAcero: incompletos[key].TipoAcero, D1: incompletos[key].D1, D2: incompletos[key].D2, Cantidad: incompletos[key].Cantidad, MM: incompletos[key].MM, Colada: incompletos[key].Colada, EstatusFisico: incompletos[key].EstatusFisico, EstatusDocumental: incompletos[key].EstatusDocumental, TipoUso: incompletos[key].TipoUso, TieneError: incompletos[key].TieneError };
                    $("#grid").data("kendoGrid").dataSource.insert(item);
                });
            }
        };

        function cargarGridPackingList() {
            var cuantificacion = Cuantificacion.FolioCuantificacionID ? Cuantificacion.FolioCuantificacionID : "0";
            $ComplementarRecepcion.ComplementarRecepcion.read({}, { folio: cuantificacion, token: Cookies.get("token") }).done(function (result) {
                if (Error(result)) {
                    CargarLabelEstatus(result[0]);
                    if ($("#grid").data("kendoGrid")) {
                        if (result.length) {
                            $("#grid").data("kendoGrid").dataSource.data(result[1]);
                        } else {
                            $("#grid").data("kendoGrid").dataSource.data([]);
                        };
                    };
                }
                loadingStop();
            });
        };

        function EstatusFisicoAutocomplete(container, options) {
            $('<input data-text-field="Nombre" data-value-field="EstatFisicoID" data-bind="value:' + options.field + '"/>')
                .appendTo(container)
                .kendoComboBox({
                    dataTextField: "Nombre",
                    dataValueField: "EstatFisicoID",
                    dataSource:[
                       { EstatFisicoID: 0, Nombre: _dictionary.ComplementoRecepcion0054[$("#language").data("kendoDropDownList").value()] },
                       { EstatFisicoID: 1, Nombre: _dictionary.ComplementoRecepcion0055[$("#language").data("kendoDropDownList").value()] },
                       { EstatFisicoID: 2, Nombre: _dictionary.ComplementoRecepcion0056[$("#language").data("kendoDropDownList").value()] }
                    ],
                    filter: "contains",
                    select: function (e) {
                      
                    },
                    change: function (e) {
                        var value = this.text();
                        lastEditedFisicoCellIDS.EstatusFisico = value;
                        $('#grid').data('kendoGrid').refresh();
                    }
                });
            lastEditedFisicoCellIDS = options.model;
        };

        function EstatusDepartamentalAutocomplete(container, options) {
            $('<input data-text-field="Nombre" data-value-field="EstatusDocumentalID" data-bind="value:' + options.field + '"/>')
                .appendTo(container)
                .kendoComboBox({
                    dataTextField: "Nombre",
                    dataValueField: "EstatusDocumentalID",
                    filter: "contains",
                    dataSource: [
                                    { EstatusDocumentalID: 0, Nombre: _dictionary.ComplementoRecepcion0057[$("#language").data("kendoDropDownList").value()] },
                                    { EstatusDocumentalID: 1, Nombre: _dictionary.ComplementoRecepcion0058[$("#language").data("kendoDropDownList").value()] }
                    ],
                    select: function (e) {
                    },
                    change: function (e) {
                        var value = this.text();
                        lastEditedDepartamentalCellID.EstatusDocumental = value;
                        $('#grid').data('kendoGrid').refresh();
                    }
                });
            lastEditedDepartamentalCellID = options.model;
        };

        function ColadaAutocomplete(container, options) {
            $('<input data-text-field="Nombre" data-value-field="ColadaID" data-bind="value:' + options.field + '"/>')
                .appendTo(container)
                .kendoComboBox({
                    autoBind: false,
                    dataTextField: "Nombre",
                    dataValueField: "ColadaID",
                    dataSource: {
                        type: "json",
                        transport: {
                            read: $URLColada + "token=" + Cookies.get("token") + "&id=0&mostrarOpcion=1"
                        },
                        serverPaging: true,
                        serverFiltering: true
                    },
                    select: function (e) {
                        var dataItem = this.dataItem(e.item.index());
                        if (dataItem.ColadaID == 0) {
                            VentanaEdicionColada(3);
                            e.preventDefault();
                        }
                    },
                    change: function (e) {
                        var value = this.text();
                        lastEditedCellIDSColada.Colada = value;
                        $('#grid').data('kendoGrid').refresh();
                    },
                    filter: "contains",
                });

            lastEditedCellIDSColada = options.model;
        };


        function TipoUsoAutocomplete(container, options) {
            $('<input data-text-field="Nombre" data-value-field="id" data-bind="value:' + options.field + '"/>')
                .appendTo(container)
                .kendoComboBox({
                    autoBind: false,
                    dataTextField: "Nombre",
                    dataValueField: "id",
                    dataSource: {
                        type: "json",
                        transport: {
                            read: $UrlTipoUso +"agregarOpcion=1" +  "&token=" + Cookies.get("token")
                        },
                        serverPaging: true,
                        serverFiltering: true
                    },
                    select: function (e) {
                        var dataItem = this.dataItem(e.item.index());
                        if (dataItem.id == 0) {
                            VentanaModal(2);
                            e.preventDefault();
                        }
                    },
                    change: function (e) {
                        var value = this.text();
                        lastEditedTipoUsoCellIDS.TipoUso = value;
                        $('#grid').data('kendoGrid').refresh();
                    },
                    filter: "contains",
                });

            lastEditedTipoUsoCellIDS = options.model;
        };

        //funciones para controlar los eventos
        //13 enter
        //17 control
        //37 left arrow
        //38 up arrow
        //39 right arrow
        //40 down arrow
        function keydown(e) {

            if (e.keyCode == 13 || e.keyCode == 37 || e.keyCode == 38 || e.keyCode == 39 || e.keyCode == 40) {
                var elementFocused = $(':focus');
                var focused = $(':focus').attr("id");
                var mapeo = "";
                if (typeof (focused) === 'undefined') {
                    focused = focusResp;
                }
                mapeo = mapeoNavegacion[focused][e.keyCode];
            }

            switch (e.keyCode) {
                case ctrlKey:
                    ctrlDown = true;
                    break;
                case 37: case 38: case 39: case 40:
                    if (ctrlDown) {
                        switch (mapeoTiposControles[mapeo]) {
                            case 0:
                                $("#" + mapeo).focus();
                                break;
                            case 1:
                                break;
                            case 2:
                                $("#" + mapeo).data("kendoComboBox").input.focus();
                                focusResp = mapeo;
                                break;
                            case 3:
                                break;
                            case 4:
                                $(".k-grid-add").focus();
                                focusResp = mapeo;
                                break;
                        }
                    }
                    break;
            }
            //if (e.keyCode == ctrlKey) ctrlDown = true;
        }

        function Incidencias() {
            window.open(_incidenciasURL + "?leng=" + $("#language").data("kendoDropDownList").value());
        };

        function ErrorBool(data) {
            if (data.ReturnCode) {
                if (data.ReturnCode != 200) {
                    if (data.ReturnCode == 401) {
                        removeUserSession();
                        return true;
                    } else {
                        //displayMessage("notificationslabel0008", data.ReturnMessage, '2');
                        return false;
                    }
                } else {
                    return true;
                }
            } else {
                return true;
            }
        };

        function Error(data) {
            if (data) {
                if (data.ReturnCode) {
                    if (data.ReturnCode != 200) {
                        if (data.ReturnCode == 401) {
                            removeUserSession();
                            return true;
                        } else {
                            displayMessage("notificationslabel0008", data.ReturnMessage, '2');
                            return false;
                        }
                    } else {
                        return true;
                    }
                } else {
                    return true;
                }
            } else {
                return false;
            }
        };

        }

    function GuardarParcial() {
        loadingStart();
        var j = 0, z = 0;
        var allData = $("#grid").data("kendoGrid").dataSource.data();
        var query = new kendo.data.Query(allData);
        var result = query.data;
        var datasource = result;
        var folioCuantificacionID = Cuantificacion.FolioCuantificacionID ? Cuantificacion.FolioCuantificacionID : "-1";

        ListadoCuantificacionIncompletos = [];
        ListadoCuantificacion = [];

        for (var i = 0; i < datasource.length; i++) {
            var NumeroUnico = datasource[i].NumeroUnico;
            var NumeroUnicoCliente = datasource[i].NumeroUnicoCliente;
            var ItemCode = datasource[i].ItemCode;
            var Descripcion = datasource[i].Descripcion;
            var Cedula = datasource[i].Cedula;
            var TipoAcero = datasource[i].TipoAcero;
            var D1 = datasource[i].D1;
            var D2 = datasource[i].D2;
            var Cantidad = datasource[i].Cantidad;
            var MM = datasource[i].MM == "N/A" ? 0 : !datasource[i].MM ? 0 : datasource[i].MM;
            var Colada = datasource[i].Colada;
            var EstatusFisico = datasource[i].EstatusFisico;
            var EstatusDocumental = datasource[i].EstatusDocumental;
            var TipoUso = datasource[i].TipoUso;
            var TieneError = datasource[i].TieneError;

            if (!NumeroUnico) {
                datasource[i].TieneError = true;
                ListadoCuantificacionIncompletos[z] = {
                    NumeroUnico: NumeroUnico, NumeroUnicoCliente: NumeroUnicoCliente, ItemCode: ItemCode,
                    Descripcion: Descripcion, Cedula: Cedula, TipoAcero: TipoAcero, D1: D1, D2: D2,
                    Cantidad: Cantidad, MM: MM, Colada: Colada, EstatusFisico: EstatusFisico,
                    EstatusDocumental: EstatusDocumental, TipoUso: TipoUso, TieneError: true
                };
                z++;
            } else { // informacion completa
                ListadoCuantificacion[j] = {
                    NumeroUnico: NumeroUnico, NumeroUnicoCliente: NumeroUnicoCliente, ItemCode: ItemCode,
                    Descripcion: Descripcion, Cedula: Cedula, TipoAcero: TipoAcero, D1: D1, D2: D2,
                    Cantidad: Cantidad, MM: MM, Colada: Colada, EstatusFisico: EstatusFisico,
                    EstatusDocumental: EstatusDocumental, TipoUso: TipoUso, TieneError: TieneError
                };
                j++;
            }
        };

        if (!ListadoCuantificacion.length && ListadoCuantificacionIncompletos.length) {
            llenarGrid(null, ListadoCuantificacionIncompletos);
            ordenamientoGrid();
            loadingStop();
            displayMessage("notificationslabel0051", '', '1');
            return;
        }

        if (!ListadoCuantificacion.length && !ListadoCuantificacionIncompletos.length) {
            displayMessage("notificationslabel0053", '', '1');
            loadingStop();
            return;
        }

        GuardarListadoCuantificacionParcial(ListadoCuantificacion, ListadoCuantificacionIncompletos, 1);
    };

    function TerminaryNuevo() {
        loadingStart();

        var j = 0, z = 0, cerrar = true, incompletos = false;
        var allData = $("#grid").data("kendoGrid").dataSource.data();
        var query = new kendo.data.Query(allData);
        var result = query.data;
        var datasource = result;
        var folioCuantificacionID = Cuantificacion.FolioCuantificacionID ? Cuantificacion.FolioCuantificacionID : "-1";

        ListadoCuantificacionIncompletos = [];
        ListadoCuantificacion = [];

        for (var i = 0; i < datasource.length; i++) {
            var NumeroUnico = datasource[i].NumeroUnico;
            var NumeroUnicoCliente = datasource[i].NumeroUnicoCliente;
            var ItemCode = datasource[i].ItemCode;
            var Descripcion = datasource[i].Descripcion;
            var Cedula = datasource[i].Cedula;
            var TipoAcero = datasource[i].TipoAcero;
            var D1 = datasource[i].D1;
            var D2 = datasource[i].D2;
            var Cantidad = datasource[i].Cantidad;
            var MM = datasource[i].MM == "N/A" ? 0 : !datasource[i].MM ? 0 : datasource[i].MM;
            var Colada = datasource[i].Colada;
            var EstatusFisico = datasource[i].EstatusFisico;
            var EstatusDocumental = datasource[i].EstatusDocumental;
            var TipoUso = datasource[i].TipoUso;
            var TieneError = datasource[i].TieneError;

            if (!NumeroUnico || (!MM && MM < 0) || !EstatusFisico || !Colada || !EstatusDocumental || !TipoUso) {
                datasource[i].TieneError = true;
                ListadoCuantificacionIncompletos[z] = {
                    NumeroUnico: NumeroUnico, NumeroUnicoCliente: NumeroUnicoCliente, ItemCode: ItemCode,
                    Descripcion: Descripcion, Cedula: Cedula, TipoAcero: TipoAcero, D1: D1, D2: D2,
                    Cantidad: Cantidad, MM: MM, Colada: Colada, EstatusFisico: EstatusFisico,
                    EstatusDocumental: EstatusDocumental, TipoUso: TipoUso, TieneError: true
                };
                z++;
            } else { // informacion completa
                ListadoCuantificacion[j] = {
                    NumeroUnico: NumeroUnico, NumeroUnicoCliente: NumeroUnicoCliente, ItemCode: ItemCode,
                    Descripcion: Descripcion, Cedula: Cedula, TipoAcero: TipoAcero, D1: D1, D2: D2,
                    Cantidad: Cantidad, MM: MM, Colada: Colada, EstatusFisico: EstatusFisico,
                    EstatusDocumental: EstatusDocumental, TipoUso: TipoUso, TieneError: TieneError
                };
                j++;
            }
        };

        if (!ListadoCuantificacion.length && ListadoCuantificacionIncompletos.length) {
            llenarGrid(null, ListadoCuantificacionIncompletos);
            ordenamientoGrid();
            displayMessage("notificationslabel0051", '', '1');
            loadingStop();
            return;
        }

        if (!ListadoCuantificacion.length && !ListadoCuantificacionIncompletos.length) {
            displayMessage("notificationslabel0053", '', '1');
            loadingStop();
            return;
        }

        if (ListadoCuantificacionIncompletos.length) {
            incompletos = true;
            cerrar = false;
        }

        var i = 0, error = "";
        $("#grid").data("kendoGrid").dataSource.data([]);
        llenarGrid(null, ListadoCuantificacionIncompletos);
        $ComplementarRecepcion.ComplementarRecepcion.update(ListadoCuantificacion[i], { tipoGuardado: 2, token: Cookies.get("token") }).done(function (data) {
            error = ErrorInsertandoItems(data, error, ListadoCuantificacion[i]);
            if (ErrorBool(data)) {//si no tiene error debe continuar
                AccionesTerminaryNuevo(data);
            } else {
                cargarGridErrores(ListadoCuantificacion[i]);
            };
            i++;
            CicloTerminaryNuevo(incompletos, ListadoCuantificacion, i, error);
        });
    };

    function ordenamientoGrid() {
        var dsSort = [];
        dsSort.push({ field: "TieneError", dir: "desc" });
        $("#grid").data('kendoGrid').dataSource.sort(dsSort);
        $('#grid').data('kendoGrid').refresh();

        var grid = $("#grid").data("kendoGrid");
        var gridData = grid.dataSource.view();

        for (var i = 0; i < gridData.length; i++) {
            if (gridData[i].TieneError == true) {
                grid.table.find("tr[data-uid='" + gridData[i].uid + "']").css("background-color", "#FFCCCC");
            }
        }
    };

    @section JavascriptDocumentReadyFunctions 
    {
    var dispositivo = navigator.userAgent.toLowerCase();
    if (!dispositivo.match(/(iphone|ipod|ipad|android)/)) {
        $(document).keydown(function (e) {
            keydown(e);
        }).keyup(function (e) {
            if (e.keyCode == ctrlKey) ctrlDown = false;
        });
    };
    cargaInicial();

    ////edicion de un folio cuantificacion
    if (_edicion != "-1") {
        cargaInicialEdicion();
    };

    $authorizationModel["Complemento Recepcion"] = $ComplementoRecepcionModel;
    }

    @section JavascriptDocumentReadyHomeCookie {
    Cookies.set("home", true, { path: '/' });
    Cookies.set("navegacion", "20", { path: '/' });
    } 
</script>
