<!DOCTYPE html>
@{
}

<html>
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title</title>

    <!-- Styles -->
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/kendo/2014.2.716/kendo.common.min.css")
    @Styles.Render("~/Content/kendo/2014.2.716/kendo.default.min.css")
    @Styles.Render("~/Content/kendo/2014.2.716/kendo.dataviz.min.css")
    @Styles.Render("~/Content/kendo/2014.2.716/kendo.dataviz.default.min.css")
    @Styles.Render("~/Content/Styles/site.css")
    @Styles.Render("~/Content/Styles/entities.css")
    @Styles.Render("~/Content/Styles/overrides.css")


    <!-- Scripts -->
    @Scripts.Render("~/Scripts/xdomain.js")
    @Scripts.Render("~/Scripts/jquery-2.1.4.js")
    @Scripts.Render("~/Scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery.rest.js")
    @Scripts.Render("~/Scripts/js.cookie.js")
    @Scripts.Render("~/Scripts/kendo/2014.2.716/kendo.all.min.js")
    @Scripts.Render("~/Scripts/kendo/2014.2.716/cultures/kendo.culture.es-MX.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/translating/dictionary.js")
    @Scripts.Render("~/Scripts/JsBarcode.js")
    @Scripts.Render("~/Scripts/CODE128.js")
    @Scripts.Render("~/Scripts/CODE39.js")
    @Scripts.Render("~/Scripts/core-min.js")
    @Scripts.Render("~/Scripts/enc-base64.js")

    @RenderSection("HtmlHead", required: false)
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
    <header class="clearfix">
        <div class="content-wrapper clearfix">
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                <a class="logo" href="#"></a>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
                <div class="row pull-right">
                    <div class="col-lg-12 menu">
                        <div class="search-bar">
                            <div class="input-group">
                                <input id="layoutLabel0001" type="text" class="form-control" placeholder="Buscar en todo el sitio...">
                                <span class="input-group-btn">
                                    <button class="btn spyglass btn-blue" type="button"></button>
                                </span>
                            </div>
                        </div>
                        <div class="notifications">
                            <a id="notifications" href="#">
                                <img src="~/Content/images/SAMC_MenuIcon_02.png" />
                                <span class="count">8</span>
                            </a>
                        </div>
                        <div class="logged-user">
                            <div class="btn-group">
                                <a id="logged-user" href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                                    <img src="/Content/images/SAMC_MenuIcon_03.png" />
                                    <span class="name">Carlos A. Gónzalez</span>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">
                                            <span id="layoutLabel0002"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">                                            
                                            <span id="layoutLabel0003"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a id="logout" href="#">
                                            <span id="layoutLabel0004"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="languageSelector">
                            <input id="language" value="es-MX" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="content-frame">
        <!-- LEFT NAV AND RIGHT MAIN CONTENT -->
        <div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <!-- sidebar -->
                <div id="sidebar" class="col-xs-12 col-sm-2 col-md-2 col-lg-2 sidebar">
                    <!-- main-nav -->
                    <nav class="main-nav">
                        <ul class="main-menu">
                            <li class="active">
                                <a href="#">
                                    <i class="icn dashboard"></i>
                                    <span id="layoutLabel0005"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icn transactions"></i>
                                    <span id="layoutLabel0006"></span>
                                    <i class="icn right arrow"></i>
                                </a>
                                <ul class="sub-menu">
                                   @*<li>
                                        <a href="#">
                                            <span>Ingeniería</span>
                                        </a>
                                    </li>*@
                                    <li>
                                        <a href="#">
                                            <span id="layoutLabel0019"></span>
                                        </a>
                                        <ul class="sub-menu2">                                           
                                            <li>
                                                <span id="layoutLabel0020"></span>
                                                <ul class="sub-menu3">                                     
                                                    <li>
                                                        <a href="@Url.Action("ListadoAvisoLlegada", "AvisoLlegada")">
                                                            <span id="layoutLabel0021"></span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("DetalleAvisoLlegada", "AvisoLlegada")">
                                                            <span id="layoutLabel0022"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            @*<li>                                                
                                                <span>Llegada de Material</span>
                                                <ul class="sub-menu3">                                                    
                                                    <li>
                                                        <a href="#">
                                                            <span>Generación Inventario</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span>Permiso de Aduana</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span>Autorización de Permisos</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>*@
                                            @*<li>
                                                <span>Despacho de Materiales</span>
                                            </li>
                                            <li>                                                
                                                <span>Listado de Materiales</span>                                                
                                            </li>  *@                                          
                                        </ul>
                                    </li>
                                   @*<li>
                                        <a href="#">
                                            <span>PND</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>PWHT</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Fabricación</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Pintura</span>
                                        </a>
                                        <ul class="sub-menu2">
                                            
                                            <li>
                                                <span>Colores</span>
                                                <ul class="sub-menu3">
                                                    
                                                    <li>
                                                        <a href="#">
                                                            <span>Generación de Color</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span>Tonos</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span>Catalogo</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span>Llegada de Pintura</span>
                                                </a>
                                            </li>                                            
                                            <li>
                                                <a href="#">
                                                    <span>Otros Movimientos de Inventario</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span>Incidencias</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Control de Documentos</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Embarques</span>
                                        </a>
                                    </li>*@
                               </ul>
                            </li>
                           @*<li>
                                <a href="#">
                                    <i class="icn catalog"></i>
                                    <span id="layoutLabel0007"></span>
                                    <i class="icn right arrow"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">
                                            <span>Submenu</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Submenu</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Submenu</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Submenu</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icn report"></i>
                                    <span id="layoutLabel0008"></span>                                    
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icn documents"></i>
                                    <span id="layoutLabel0009"></span>
                                    <i class="icn right arrow"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">
                                            <span>Submenu</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Submenu</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Submenu</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Submenu</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Submenu</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icn config"></i>
                                    <span id="layoutLabel0010"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icn support"></i>
                                    <span id="layoutLabel0011"></span>                                    
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icn kpi"></i>
                                    <span id="layoutLabel0012"></span>                                   
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icn comm"></i>
                                    <span id="layoutLabel0013"></span>
                                </a>
                            </li>*@
                            <li class="shortcut">
                                <div class="quicklinks">
                                    <i class="icn links"></i>
                                    <span id="layoutLabel0014"></span>
                                    <i class="icn right gear"></i>
                                </div>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">
                                            <span>Llegada de Material</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Generación Pase Salida</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Despacho de Tubos</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- /main-nav -->

                    <div class="nav-footer">
                        <i class="icn right minify"></i>
                        <img src="~/Content/images/SAMC_SteelLogo_Web_00.png" />
                        <ul>
                            <li><a href="#"><span id="layoutLabel0015"></span></a></li>
                            <li><a href="#"><span id="layoutLabel0016"></span></a></li>
                            <li><a href="#"><span id="layoutLabel0017"></span></a></li>
                            <li><a href="#"><span id="layoutLabel0018"></span></a></li>
                        </ul>
                    </div>

                </div>
                <!-- end sidebar -->


                <!-- content-wrapper -->
                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 content-container topbar">                   
                    <div class="row">
                        <!-- breadcrumb-->
                        <div class="col-sm-12 col-sm-12 col-md-12 col-lg-12 breadcrumb-container">
                            <div class="row">
                                <ul class="breadcrumb">
                                    @RenderSection("breadcrumb", required: false)
                                </ul>
                            </div>
                        </div>
                        <!-- /breadcrumb-->
                        <!-- alerts -->
                        <div class="col-sm-12 col-sm-12 col-md-12 col-lg-12 alert-container">
                            <div class="message">
                                Mensaje de éxito/error/advertencia
                            </div>
                        </div>
                        <!-- alerts -->
                    </div>
                    <!-- main -->
                    <div class="row content">
                        <div class="main-content clearfix">
                            @RenderBody()
                        </div>
                        <!-- /main-content -->
                    </div>
                    <!-- /main -->
                </div>
                <!-- /content-wrapper -->
            </div>
            <!-- /row -->
        </div>
        <!-- LEFT NAV AND RIGHT MAIN CONTENT -->
        <!-- /container-frame -->
    </div>


    <div class="modal">
        <!-- Place at bottom of page -->
    </div>
    <iframe id="my_iframe" name="my_iframe" src="@Url.Action("notfound", "Errors")" style="visibility: hidden; display: none"></iframe>

    <script>
        var returnOfSecurityCheck = {
            "layout": {
                "create": false,
                "list": false,
                "detail": false,
                "destroy": false,
                "properties": {
                    "sidemenu": {
                        "visible": true,
                        "editable": true,
                        "required": false
                    },
                    "search": {
                        "visible": true,
                        "editable": true,
                        "required ": false
                    },
                    "notifications": {
                        "visible": true,
                        "editable": true,
                        "required ": false
                    },
                    "useroptions": {
                        "visible": true,
                        "editable": true,
                        "required ": false
                    }
                }
            },
            "login": {
                "create": false,
                "list": false,
                "detail": true,
                "destroy": false,
                "properties": {
                    "username": {
                        "visible": true,
                        "editable": true,
                        "required": true
                    },
                    "password": {
                        "visible": true,
                        "editable": true,
                        "required ": false
                    }
                }
            }
        };

        /****************************/
        /*     Global Variables     */
        /****************************/

        var $body = $("body");
        var $BackEndSAM = new $.RestClient('http://localhost:60960' + '/backendsam/api/');
        var $FileManager = new $.RestClient('http://localhost:60921' + '/filemanager/api/');
        var $MessagesManager = new $.RestClient('http://localhost:60921' + '/messagesmanager/api/');
        var $SearchManager = new $.RestClient('http://localhost:60921' + '/searchmanager/api/');
        var $SecurityManager = new $.RestClient('http://localhost:60921' + '/securitymanager/api/');
        $BackEndSAM.add('DummyListadoAvisoLlegada');
        $BackEndSAM.add('perfil');
        $SecurityManager.add('authentication');

        //DetalleAvisoLlegada
        var $Plana = new $.RestClient('http://localhost:60960' + '/backendsam/api/');        
        var $Transportista = new $.RestClient('http://localhost:60960' + '/backendsam/api/');
        var $Patio = new $.RestClient('http://localhost:60960' + '/backendsam/api/');
        var $Proveedor = new $.RestClient('http://localhost:60960' + '/backendsam/api/');
        var $AvisoLlegada = new $.RestClient('http://localhost:60960' + '/backendsam/api/');
        var $Chofer = new $.RestClient('http://localhost:60960' + '/backendsam/api/');
        var $Proyecto = new $.RestClient('http://localhost:60960' + '/backendsam/api/');
        var $Camion = new $.RestClient('http://localhost:60960' + '/backendsam/api/');
        var $Contacto = new $.RestClient('http://localhost:60960' + '/backendsam/api/');
        var $folioEntradaMaterial = new $.RestClient('http://localhost:60960' + '/backendsam/api/');
        var $FiltrosListadoEntradaMaterial = new $.RestClient('http://localhost:60960' + '/backendsam/api/');
        

        $Plana.add("Plana");
        $Transportista.add("Transportista");
        $Patio.add("Patio");
        $Proveedor.add("Proveedor");
        $AvisoLlegada.add("AvisoLlegada");
        $Chofer.add("Chofer");
        $Proyecto.add("Proyecto");
        $Camion.add("Camion");
        $Contacto.add("Contacto");
        $folioEntradaMaterial.add("Listado");
        $FiltrosListadoEntradaMaterial.add("AvisoLlegada");

        var $authorizationModel = {};
        var $layoutModel = {
            listContainer: {
                create: "",
                list: "",
                detail: "",
                destroy: ""
            },
            properties: {
                sidemenu: {
                    visible: "#sidebar",
                    editable: "#sidebar",
                    required: "#sidebar"
                },
                search: {
                    visible: ".search-bar",
                    editable: "#layoutLabel0001",
                    required: "#layoutLabel0001"
                },
                notifications: {
                    visible: ".notifications",
                    editable: "#notifications",
                    required: "#notifications"
                },
                useroptions: {
                    visible: ".logged-user",
                    editable: "#logged-user",
                    required: "#logged-user",
                }
            }
        };

        //Partial Views Javascript Code Container
            @RenderSection("JavascriptGlobalVariables", required: false)

        /****************************/
        /*   Security Functions     */
        /****************************/

        //Method to change the visibility, editability and required attributes of the elements
        //
        function applySecurityPolicy() {
            loadingStart();
            //Obtain the entity list from the $authorizationModel
            var index, key, entityDefinition, entitySecurity;
            var securityNotFound = true;
            var authorizationModelKeys = Object.keys($authorizationModel);
            //Call to the permissions api passing all the entities by authorizationModelKeys.toString();
            console.log(Cookies.get("navegacion"));
            if (Cookies.get("navegacion") != "1") {
                $BackEndSAM.perfil.read({}, { token: Cookies.get("token"), paginaID: Cookies.get("navegacion") }).done(function (data) {
                    returnOfSecurityCheck = data;
                    Cookies.set("token", data.token, {path: '/'});
                    console.log(data);
                    for (key in $authorizationModel) {
                        if ($authorizationModel.hasOwnProperty(key)) {
                            entityDefinition = $authorizationModel[key];
                            if (returnOfSecurityCheck.hasOwnProperty(key)) {
                                entitySecurity = returnOfSecurityCheck[key];
                                securityNotFound = false;
                            }
                            applySecurityPolicyForEntity(entityDefinition, entitySecurity, securityNotFound);
                            applySecurityPolicyForProperties(entityDefinition, entitySecurity, securityNotFound);
                        }
                    }
                    loadingStop();
                });
            } else {
                //Apply the returned permissions to the $authorizationModel objects
                for (key in $authorizationModel) {
                    if ($authorizationModel.hasOwnProperty(key)) {
                        entityDefinition = $authorizationModel[key];
                        if (returnOfSecurityCheck.hasOwnProperty(key)) {
                            entitySecurity = returnOfSecurityCheck[key];
                            securityNotFound = false;
                        }
                        applySecurityPolicyForEntity(entityDefinition, entitySecurity, securityNotFound);
                        applySecurityPolicyForProperties(entityDefinition, entitySecurity, securityNotFound);
                    }
                }
                loadingStop();
            }
            
        }

        //Method to apply the security policy in the entity
        //create :: applies to new item buttons
        //list :: applies to grids, combos, multiselect, autocompletes
        //detail :: applies to show details buttons
        //destroy :: applies to remove item buttons
        function applySecurityPolicyForEntity(entityDefinition, entitySecurity, securityNotFound) {
            var entityCreationPermission = false;
            var entityListPermission = false;
            var entityDetailPermission = false;
            var entityDestroyPermission = false;

            if (securityNotFound == false) {
                if (entitySecurity.hasOwnProperty("create")) {
                    entityCreationPermission = entitySecurity["create"];
                }

                if (entitySecurity.hasOwnProperty("list")) {
                    entityListPermission = entitySecurity["list"];
                }

                if (entitySecurity.hasOwnProperty("detail")) {
                    entityDetailPermission = entitySecurity["detail"];
                }

                if (entitySecurity.hasOwnProperty("destroy")) {
                    entityDestroyPermission = entitySecurity["destroy"];
                }
            }

            if (entityDefinition.hasOwnProperty("listContainer")) {
                if (entityDefinition["listContainer"].hasOwnProperty("create") && entityDefinition.listContainer["create"] != null && entityDefinition.listContainer["create"].length > 0) {
                    if (entityCreationPermission == false) {
                        $(entityDefinition.listContainer["create"]).css("display", "none");
                    }
                }

                if (entityDefinition["listContainer"].hasOwnProperty("list") && entityDefinition.listContainer["list"] != null && entityDefinition.listContainer["list"].length > 0) {
                    if (entityListPermission == false) {
                        $(entityDefinition.listContainer["list"]).css("display", "none");
                    }
                }

                if (entityDefinition["listContainer"].hasOwnProperty("detail") && entityDefinition.listContainer["detail"] != null && entityDefinition.listContainer["detail"].length > 0) {
                    if (entityDetailPermission == false) {
                        $(entityDefinition.listContainer["detail"]).css("display", "none");
                    }
                }

                if (entityDefinition["listContainer"].hasOwnProperty("destroy") && entityDefinition.listContainer["destroy"] != null && entityDefinition.listContainer["destroy"].length > 0) {
                    if (entityDestroyPermission == false) {
                        $(entityDefinition.listContainer["destroy"]).css("display", "none");
                    }
                }
            }
        }

        //Method to apply the security policy in the entity properties
        //Iterate over all properties of an entity
        //visible :: applies to containers of a properties, divs with labels and inpunts, etc inside
        //editable :: applies to inputs, combos, autocompletes
        //required :: applies to inputs, combos, autocompletes, add class "security_required" use this class to validate before submit actions
        function applySecurityPolicyForProperties(entityDefinition, entitySecurity, securityNotFound) {
            if (entityDefinition.hasOwnProperty("properties")) {
                for (key in entityDefinition["properties"]) {
                    var propertyViewPermission = false;
                    var propertyEditPermission = false;
                    var propertyRequiredPermission = false;

                    if (securityNotFound == false) {
                        if (entitySecurity.hasOwnProperty("properties")) {
                            if (entitySecurity.properties.hasOwnProperty(key)) {
                                if (entitySecurity.properties[key].hasOwnProperty("visible")) {
                                    propertyViewPermission = entitySecurity.properties[key]["visible"];
                                }

                                if (entitySecurity.properties[key].hasOwnProperty("editable")) {
                                    propertyEditPermission = entitySecurity.properties[key]["editable"];
                                }

                                if (entitySecurity.properties[key].hasOwnProperty("required")) {
                                    propertyRequiredPermission = entitySecurity.properties[key]["required"];
                                }
                            }
                        }
                    }

                    if (entityDefinition.properties.hasOwnProperty(key)) {
                        if (entityDefinition.properties[key].hasOwnProperty("visible") && entityDefinition.properties[key]["visible"] != null && entityDefinition.properties[key]["visible"].length > 0) {
                            if (propertyViewPermission == false) {
                                $(entityDefinition.properties[key]["visible"]).css("display", "none");
                            }
                        }

                        if (entityDefinition.properties[key].hasOwnProperty("editable") && entityDefinition.properties[key]["editable"] != null && entityDefinition.properties[key]["editable"].length > 0) {
                            if (propertyEditPermission == false) {
                                $(entityDefinition.properties[key]["editable"]).prop('disabled', true);
                            }
                        }

                        if (entityDefinition.properties[key].hasOwnProperty("required") && entityDefinition.properties[key]["required"] != null && entityDefinition.properties[key]["required"].length > 0) {
                            if (propertyRequiredPermission == true) {
                                $(entityDefinition.properties[key]["required"]).addClass("security_required");
                            }
                        }
                    }
                }
            }
        }

        //Method to hide elements if im in home
        function hideElements() {
            if (Cookies.get("home") != null && Cookies.get("home") == "true") {
                $(".sidebar").css("display", "none");
                $(".logo").css("display", "none");
                $(".search-bar").css("display", "none");
                $(".notifications").css("display", "none");
                $(".logged-user").css("display", "none");
                $(".content-container").removeClass("topbar");
                $(".breadcrumb-container").css("display", "none");                
            }
        }

        //Method to autogenerate a cookie
        function autoCookies(correctCredentials) {
            if (Cookies.get("user") == null && Cookies.get("token") == null) {
                if (correctCredentials) {
                    createUserSession("YWRtaW4", "Q2hlbHNlYTEwMiE");
                } else {
                    createUserSession("ZZZtaW4", "ZZZlbHNlYTEwMiE");
                }
            }
        }
        
        //Method to autogenerate a cookie
        function authenticate(username, password) {
            if (Cookies.get("user") == null && Cookies.get("token") == null) {
                createUserSession(encrypt(username), encrypt(password));
            } else {
                validateCredentials();
            }
        }

        function createUserSession(username, password) {
            //Create Login
            $SecurityManager.authentication.create({}, { username: username, password: password }).done(function (data) {
                if (data.IsAuthenicated) {
                    Cookies.set("home", false, {path: '/'});
                    Cookies.set("user", username, { path: '/' });
                    Cookies.set("token", data.ReturnMessage[0], { path: '/' });
                    //RedirectToLanding
                    document.location.href = '@Url.Action("Landing", "Home")';
                }
            });
        }

        function removeUserSession() {
            if (Cookies.get("user") != null && Cookies.get("token") != null) {
                $SecurityManager.authentication.destroy({}, { username: Cookies.get("user"), token: Cookies.get("token") }).done(function (data) {
                    if (!data.IsAuthenicated) {
                        Cookies.remove("user", { path: '/' });
                        Cookies.remove("token", { path: '/' });
                        Cookies.remove("home", { path: '/' });
                        validateCredentials();
                    }
                });
            }
        }

        function validateCredentials() {
            if (Cookies.get("home") != null && Cookies.get("home") == "false" && Cookies.get("user") != null && Cookies.get("token") != null) {
                loadingStart();
                var request = $SecurityManager.authentication.read({ username: Cookies.get("user"), token: Cookies.get("token") });
                request.done(function (data) {
                    if (data.IsAuthenicated) {
                        Cookies.set("home", false, { path: '/' });
                    } else {
                        //RedirectToHomePage
                        Cookies.remove("user", { path: '/' });
                        Cookies.remove("token", { path: '/' });
                        document.location.href = '/';
                    }
                    loadingStop();
                });
                request.error(function (data) {
                    console.log("errorFunction");
                    Cookies.remove("user", { path: '/' });
                    Cookies.remove("token", { path: '/' });
                    document.location.href = '/';
                    loadingStop();
                });
                request.fail(function (data) {
                    console.log("failFunction");
                    Cookies.remove("user", { path: '/' });
                    Cookies.remove("token", { path: '/' });
                    document.location.href = '/';
                    loadingStop();
                });
                
            } else {
                if (Cookies.get("home") != null && Cookies.get("home") == "false") {
                    //RedirectToHomePage
                    document.location.href = '/';
                } else if (Cookies.get("home") != null && Cookies.get("home") == "true"
                            && Cookies.get("user") != null
                            && Cookies.get("token") != null
                            && Cookies.get("navegacion") != null && Cookies.get("navegacion") == "1") {
                    document.location.href = '@Url.Action("Landing", "Home")';
                }
            }
        }


        /****************************/
        /*   Traslation Functions   */
        /****************************/

        //Partial Views Javascript Code Container
            @RenderSection("JavascriptGlobalFunctions", required: false)
            
        //Function to change the labels to the corresponding language of the layout page
        function changeLayoutLabels(language) {
            $("label").each(function (index) {
                if (validateElementExistence(_dictionary[$(this).attr("id")])
                        && validateElementExistence(_dictionary[$(this).attr("id")][language])) {
                    $("#" + $(this).attr("id")).text(_dictionary[$(this).attr("id")][language]);
                }
            });
        }

        //Function to change the spans to the corresponding language of the layout page
        function changeLayoutSpans(language) {
            $("span").each(function (index) {
                if (validateElementExistence(_dictionary[$(this).attr("id")])
                        && validateElementExistence(_dictionary[$(this).attr("id")][language])) {
                    $("#" + $(this).attr("id")).text(_dictionary[$(this).attr("id")][language]);
                }
            });
        }

        //Function to change the inputs to the corresponding language of the layout page
        function changeLayoutInputs(language) {
            $("input").each(function (index) {
                if (validateElementExistence(_dictionary[$(this).attr("id")])
                        && validateElementExistence(_dictionary[$(this).attr("id")][language])) {
                    $("#" + $(this).attr("id")).prop("value",_dictionary[$(this).attr("id")][language]);
                    $("#layoutLabel0001").prop("value","").prop("placeholder",_dictionary[$(this).attr("id")][language]);
                }
            });
        }

        //Function to change language in the onChange trigger of the language dropdownlist
        function changeLanguage() {
            var langValue = this.value();
            kendo.culture(this.value());
            var datePickerOptions = {
                format: kendo.culture().calendar.patterns.d
            };

            kendo.ui.progress($("#grid"), true);
            changeLayoutLabels(langValue);
            changeLayoutSpans(langValue);
            changeLayoutInputs(langValue);
            $.getScript("../Scripts/kendo/2014.2.716/messages/kendo.messages." + this.value() + ".js", function () {
                kendo.ui.progress($("#grid"), false);
                if (typeof changeLanguageCall == 'function') {
                    changeLanguageCall();
                }
                if (typeof changeDatePickerDateFormat == 'function') {
                    changeDatePickerDateFormat(datePickerOptions);
                }
            });
        }

        //Function to add elements to the dictionary from a string in this form "newItem°es°en|newItem2°es°en"
        function addElementToDictionary(sParam) {
            var elementsToAdd = sParam.split("|");
            for (var i = 0; i < elementsToAdd.length; i++) {
                var partsOfElement = elementsToAdd[i].split("°");
                _dictionary[partsOfElement[0]] = {};
                _dictionary[partsOfElement[0]]["es-MX"] = partsOfElement[1];
                _dictionary[partsOfElement[0]]["en-US"] = partsOfElement[2];
            }
        }

        /****************************/
        /*    Utilities Functions   */
        /****************************/

        //Function to obtain an url parameter if is not present then return the notFindValue parameter
        function getUrlParameter(sParam, notFindValue) {
            var sPageURL = window.location.search.substring(1);
            var sURLVariables = sPageURL.split('&');
            for (var i = 0; i < sURLVariables.length; i++) {
                var sParameterName = sURLVariables[i].split('=');
                if (sParameterName[0] == sParam) {
                    return sParameterName[1];
                }
            }
            return notFindValue;
        }

        //Function to validate the existence of an element
        function validateElementExistence(element) {
            if (typeof (element) !== 'undefined'
                    && element != null) {
                return true;
            }
            return false;
        }

        //Function to activate waiting screen
        function loadingStart() {
            $body.addClass("loading");
        }

        //Function to deactivate waiting screen
        function loadingStop() {
            $body.removeClass("loading");
        }

        //Function to encrypt base64 a string
        function encrypt(toEncodData) {
            var encodedData = window.btoa(toEncodData);
            if (encodedData[encodedData.length - 1] == '=') {
                encodedData = encodedData.substr(0, encodedData.length - 1);
            }
            return encodedData;
        }

        //Function to decrypt base64 a string
        function decrypt(encodedData) {
            if (encodedData[encodedData.length - 1] != '=') {
                encodedData = encodedData + '=';
            }
            return window.atob(encodedData);
        }

        /****************************/
        /* Document Ready Variables */
        /****************************/

        //Document Ready Section
        $(document).ready(function () {
            //FOR DEVELOPONLY
            //autoCookies(true);

            //Set cookie of homepage to false
            Cookies.set("home", false, {path: '/'});

            //Partial Views Javascript Code Container
            @RenderSection("JavascriptDocumentReadyHomeCookie", required: false)

            //Hide elements for Login
            hideElements();

            //Toggle for main menu's submenus
            $("ul.main-menu > li > a").click(function () {               
                if($(this).closest("li").hasClass('active') && !$("#sidebar").hasClass("minified")) {
                    $("ul.sub-menu2").removeClass("open");
                    $("ul.sub-menu > li").removeClass("active expand");
                    $(this).closest("li").children("ul").toggleClass("open");
                    $(this).children("i.arrow").toggleClass("down");                    
                }
                else if (!$("#sidebar").hasClass("minified")) {
                    $("li").removeClass('active');
                    $("ul").removeClass('open');
                    $(this).closest("li").addClass('active').children("ul").addClass("open");
                    $(this).children("i.arrow").addClass("down");
                }
                else {
                    $("li").removeClass('active');
                    $("ul").removeClass('open'); 
                    $(this).closest("li").addClass('active');                  
                }
            });

            //Toggle for second submenu            
            $("ul.sub-menu > li > a").click(function () {
                if($(this).parent().children("ul.sub-menu2").hasClass('open')) {
                    $(this).parent("li").removeClass("active expand");                    
                    $(this).parent().children("ul.sub-menu2").removeClass("open");                  
                }
                else {
                    $("ul.sub-menu2").removeClass("open");
                    $("ul.sub-menu > li").removeClass("active expand");
                    $(this).parent("li").addClass("active");
                    $(this).parent("li").has("ul").addClass("expand");                    
                    $(this).parent().children("ul.sub-menu2").addClass("open");
                }
            });

            //Toggle for last submenu            
            //$("ul.sub-menu2 > li > a").click(function () {
            //    if($(this).parent().children("ul.sub-menu3").hasClass('open')) {
            //        $(this).children("span").removeClass("active");                    
            //        $(this).parent().children("ul.sub-menu3").removeClass("open");                  
            //    }
            //    else {                    
            //        $("ul.sub-menu2 span").removeClass("active");
            //        $("ul.sub-menu3").removeClass("open");
            //        $(this).children("span").addClass("active");
            //        $(this).parent().children("ul.sub-menu3").addClass("open");
            //    }
            //});

            //Toggle for last submenu's links         
            $("ul.sub-menu3 > li > a").click(function () {                
                $("ul.sub-menu2 li").removeClass("active");                  
                $("ul.sub-menu3").removeClass("open");                                                          
            });

            //Toggle sidebar's size
            $("i.minify").click(function () {
                $("ul").removeClass("open");
                $("i.arrow").removeClass("down");
                $("li.shortcut ul").toggleClass("close");
                $("#sidebar").toggleClass("minified");            
                $(".content-container").toggleClass("expanded");
            });

            //Validate Logged User Credentials
            validateCredentials();

            $("#logout").click(function (event) {
                event.preventDefault();
                removeUserSession();
            });

            //Add the language parameter to all url invoked by the <a> tag
            $("a").click(function (event) {
                event.preventDefault();
                window.location.href = this.href + "?leng=" + $("#language").data("kendoDropDownList").value();
            });

            //Language dropdownlist inicialization method
            $("#language").kendoDropDownList({
                change: changeLanguage,
                dataTextField: "text",
                dataValueField: "value",
                valueTemplate: '<img src=\"../Content/images/flags/#:data.text#.png\" alt=\"#:data.text#\" class="selected-value"/>',
                template: '<img src=\"../Content/images/flags/#:data.text#.png\" alt=\"#:data.text#\" />',
                width: 24,
                dataSource: [
                    { text: "es-MX" }, { text: "en-US" }
                ]
            });

            //Set on the dropdownlist the url language and change the current language
            $("#language").data("kendoDropDownList").select(_languageOrder[getUrlParameter("leng", "es-MX")]);
            $("#language").data("kendoDropDownList").trigger("change");

            //Add layout element to the Authorization Model
            $authorizationModel.layout = $layoutModel

            //Partial Views Javascript Code Container
            @RenderSection("JavascriptDocumentReadyFunctions", required: false)

            //Apply Profile Security Policy
            applySecurityPolicy();
        });
    </script>
</body>
</html>
