<!DOCTYPE html>
@{
}

<html>
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title</title>

    <!-- Styles -->
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/kendo/2014.2.716/kendo.common.min.css")
    @Styles.Render("~/Content/kendo/2014.2.716/kendo.default.min.css")
    @Styles.Render("~/Content/kendo/2014.2.716/kendo.dataviz.min.css")
    @Styles.Render("~/Content/kendo/2014.2.716/kendo.dataviz.default.min.css")
    @Styles.Render("~/Content/Styles/site.css")
    @Styles.Render("~/Content/Styles/entities.css")
    @Styles.Render("~/Content/Styles/overrides.css")


    <!-- Scripts -->
    @Scripts.Render("~/Scripts/xdomain.js")
    @Scripts.Render("~/Scripts/jquery-2.1.4.js")
    @Scripts.Render("~/Scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery.rest.js")
    @Scripts.Render("~/Scripts/js.cookie.js")
    @Scripts.Render("~/Scripts/kendo/2014.2.716/kendo.all.min.js")
    @Scripts.Render("~/Scripts/kendo/2014.2.716/cultures/kendo.culture.es-MX.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/translating/dictionary.js")
    @Scripts.Render("~/Scripts/JsBarcode.js")
    @Scripts.Render("~/Scripts/CODE128.js")
    @Scripts.Render("~/Scripts/CODE39.js")
    @Scripts.Render("~/Scripts/AppComponents/Core/ApiManager.js")
    @Scripts.Render("~/Scripts/AppComponents/Core/SecurityManager.js")
    @Scripts.Render("~/Scripts/AppComponents/Core/TranslationManager.js")
    @Scripts.Render("~/Scripts/AppComponents/Core/UtilitiesManager.js")

    @RenderSection("HtmlHead", required: false)        
</head>
<body>
    <header class="clearfix">
        <div class="content-wrapper clearfix">
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                <a class="logo" href="#"></a>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
                <div class="row pull-right">
                    <div class="col-lg-12 menu">
                        <div class="search-bar">
                            <div class="input-group">
                                <input id="layoutLabel0001" type="text" class="form-control" placeholder="Buscar en todo el sitio...">
                                <span class="input-group-btn">
                                    <button class="btn spyglass btn-blue" type="button"></button>
                                </span>
                            </div>
                        </div>
                        <div class="notifications">
                            <a id="notifications" href="#">
                                <img src="~/Content/images/SAMC_MenuIcon_02.png" />
                                <span class="count">8</span>
                            </a>
                        </div>
                        <div class="logged-user">
                            <div class="btn-group">
                                <a id="logged-user" href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                                    <img src="/Content/images/SAMC_MenuIcon_03.png" />
                                    <span class="name">Mario A. Gónzalez</span>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">
                                            <span id="layoutLabel0002"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">                                            
                                            <span id="layoutLabel0003"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a id="logout" href="#">
                                            <span id="layoutLabel0004"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="languageSelector">
                            <input id="language" value="es-MX" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="content-frame">
        <!-- LEFT NAV AND RIGHT MAIN CONTENT -->
        <div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <!-- sidebar -->
                <div id="sidebar" class="col-xs-12 col-sm-2 col-md-2 col-lg-2 sidebar">
                    <!-- main-nav -->
                    <nav class="main-nav">
                        <ul class="main-menu" id ="main-menu">
                            @*
                            <li class="active">
                                <a href="#">
                                    <i class="icn dashboard"></i>
                                    <span id="layoutLabel0005"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icn transactions"></i>
                                    <span id="layoutLabel0006"></span>
                                    <i class="icn right arrow"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">
                                            <span id="layoutLabel0019"></span>
                                        </a>
                                        <ul class="sub-menu2">                                           
                                            <li>
                                                <span id="layoutLabel0020"></span>
                                                <ul class="sub-menu3">                                     
                                                    <li>
                                                        <a href="@Url.Action("ListadoAvisoLlegada", "AvisoLlegada")">
                                                            <span id="layoutLabel0021"></span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("DetalleAvisoLlegada", "AvisoLlegada")">
                                                            <span id="layoutLabel0022"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                                                               
                                        </ul>
                                    </li>
                                   
                               </ul>
                            </li>
                            *@
                            
                        </ul>
                    </nav>
                    <!-- /main-nav -->

                    <div class="nav-footer">
                        <i class="icn right minify"></i>
                        <img src="~/Content/images/SAMC_SteelLogo_Web_00.png" />
                        <ul>
                            <li><a href="#"><span id="layoutLabel0015"></span></a></li>
                            <li><a href="#"><span id="layoutLabel0016"></span></a></li>
                            <li><a href="#"><span id="layoutLabel0017"></span></a></li>
                            <li><a href="#"><span id="layoutLabel0018"></span></a></li>
                        </ul>
                    </div>

                </div>
                <!-- end sidebar -->


                <!-- content-wrapper -->
                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 content-container topbar">                   
                    <div class="row">
                        <!-- breadcrumb-->
                        <div class="col-sm-12 col-sm-12 col-md-12 col-lg-12 breadcrumb-container">
                            <div class="row">
                                <ul class="breadcrumb">
                                    @RenderSection("breadcrumb", required: false)
                                </ul>
                            </div>
                        </div>
                        <!-- /breadcrumb-->
                        <!-- alerts -->
                        <div class="col-sm-12 col-sm-12 col-md-12 col-lg-12 alert-container">
                            <div class="message">
                                Mensaje de éxito/error/advertencia
                            </div>
                        </div>
                        <!-- alerts -->
                    </div>
                    <!-- main -->
                    <div class="row content">
                        <div class="main-content clearfix">
                            @RenderBody()
                        </div>
                        <!-- /main-content -->
                    </div>
                    <!-- /main -->
                </div>
                <!-- /content-wrapper -->
            </div>
            <!-- /row -->
        </div>
        <!-- LEFT NAV AND RIGHT MAIN CONTENT -->
        <!-- /container-frame -->
    </div>


    <div class="modal">
        <!-- Place at bottom of page -->
    </div>
    <iframe id="my_iframe" name="my_iframe" src="@Url.Action("notfound", "Errors")" style="visibility: hidden; display: none"></iframe>

    <script>
        /****************************/
        /*     Global Variables     */
        /****************************/
        console.log("@Url.Action("Landing", "Home")");
        console.log("@Url.Action("ListadoAvisoLlegada", "AvisoLlegada")");
        var $body = $("body");
        var $homeURI = '@Url.Action("Landing", "Home")';
        var $contextMenu = {};
        var $sideMenu = {};
        var $sideMenuLayout = { 0: {}, 1: {}, 2: {}, 3: {} };
        var returnOfSecurityCheck = {
            "layout": {
                "create": false,
                "list": false,
                "detail": false,
                "destroy": false,
                "properties": {
                    "navigation": {
                        "visible": true,
                        "editable": true,
                        "required": false
                    },
                    "search": {
                        "visible": true,
                        "editable": true,
                        "required ": false
                    },
                    "notifications": {
                        "visible": true,
                        "editable": true,
                        "required ": false
                    },
                    "useroptions": {
                        "visible": true,
                        "editable": true,
                        "required ": false
                    }
                }
            },
            "login": {
                "create": false,
                "list": false,
                "detail": true,
                "destroy": false,
                "properties": {
                    "username": {
                        "visible": true,
                        "editable": true,
                        "required": true
                    },
                    "password": {
                        "visible": true,
                        "editable": true,
                        "required ": false
                    }
                }
            }
        };

        var $authorizationModel = {};
        var $layoutModel = {
            listContainer: {
                create: "",
                list: "",
                detail: "",
                destroy: ""
            },
            properties: {
                navigation: {
                    visible: "#sidebar",
                    editable: "#sidebar",
                    required: "#sidebar"
                },
                search: {
                    visible: ".search-bar",
                    editable: "#layoutLabel0001",
                    required: "#layoutLabel0001"
                },
                notifications: {
                    visible: ".notifications",
                    editable: "#notifications",
                    required: "#notifications"
                },
                useroptions: {
                    visible: ".logged-user",
                    editable: "#logged-user",
                    required: "#logged-user",
                }
            }
        };

        //Partial Views Javascript Code Container
        @RenderSection("JavascriptGlobalVariables", required: false)

        //Partial Views Javascript Code Container
        @RenderSection("JavascriptGlobalFunctions", required: false)

        /****************************/
        /* Document Ready Variables */
        /****************************/

        //Document Ready Section
        $(document).ready(function () {
            //FOR DEVELOPONLY
            //autoCookies(true);
            //redireccionAutomatica = false;

            //Set cookie of homepage to false
            Cookies.set("home", false, {path: '/'});

            //Partial Views Javascript Code Container
            @RenderSection("JavascriptDocumentReadyHomeCookie", required: false)

            //Hide elements for Login
            hideElements();

            //Toggle for main menu's submenus           
            /*Open menus on hover*/
            $("ul.main-menu > li:not('.shortcut')").hover(
                function () {               
                    if($(this).hasClass('active') && !$("#sidebar").hasClass("minified")) {
                        $("ul.sub-menu2").removeClass("open");
                        $("ul.sub-menu > li").removeClass("active expand");
                        $(this).children("ul").toggleClass("open");
                        $("i.arrow").toggleClass("down");                    
                    }
                    else if (!$("#sidebar").hasClass("minified")) {
                        $("#sidebar li").removeClass('active');
                        $("#sidebar ul").removeClass('open');
                        $(this).closest("li").addClass('active').children("ul").addClass("open");
                        $("i.arrow").addClass("down");
                    }
                    else {
                        $("#sidebar li").removeClass('active');
                        $("#sidebar ul").removeClass('open'); 
                        $(this).addClass('active');                  
                    }
                },
                function () {
                    $("#sidebar li").removeClass('active');
                    $("#sidebar ul").removeClass('open'); 
                    $(this).removeClass('active');
                }
            );
            
            /*Open menus on click*/
            $("ul.main-menu > li:not('.shortcut') > a").click(function () {               
                if($(this).closest("li").hasClass('active') && !$("#sidebar").hasClass("minified")) {
                    $("ul.sub-menu2").removeClass("open");
                    $("ul.sub-menu > li").removeClass("active expand");
                    $(this).closest("li").children("ul").toggleClass("open");
                    $(this).children("i.arrow").toggleClass("down");                    
                }
                else if (!$("#sidebar").hasClass("minified")) {
                    $("#sidebar li").removeClass('active');
                    $("#sidebar ul").removeClass('open');
                    $(this).closest("li").addClass('active').children("ul").addClass("open");
                    $(this).children("i.arrow").addClass("down");
                }
                else {
                    $("#sidebar li").removeClass('active');
                    $("#sidebar ul").removeClass('open'); 
                    $(this).closest("li").addClass('active');                  
                }
            });            

            //Toggle for second submenu
            /*Open menus on hover*/
            $("ul.sub-menu > li").hover(function () {
                if($(this).children("ul.sub-menu2").hasClass('open')) {
                    $(this).removeClass("active expand");                    
                    $(this).children("ul.sub-menu2").removeClass("open");                  
                }
                else {
                    $("ul.sub-menu2").removeClass("open");
                    $("ul.sub-menu > li").removeClass("active expand");
                    $(this).addClass("active");
                    $(this).has("ul").addClass("expand");                    
                    $(this).children("ul.sub-menu2").addClass("open");
                }
            });            
            
            /*Open menus on click*/
            $("ul.sub-menu > li > a").click(function () {
                if($(this).parent().children("ul.sub-menu2").hasClass('open')) {
                    $(this).parent("li").removeClass("active expand");                    
                    $(this).parent().children("ul.sub-menu2").removeClass("open");                  
                }
                else {
                    $("ul.sub-menu2").removeClass("open");
                    $("ul.sub-menu > li").removeClass("active expand");
                    $(this).parent("li").addClass("active");
                    $(this).parent("li").has("ul").addClass("expand");                    
                    $(this).parent().children("ul.sub-menu2").addClass("open");
                }
            });
            
            //Toggle for last submenu                        
            /*$("ul.sub-menu2 > li > a").click(function () {
                if($(this).parent().children("ul.sub-menu3").hasClass('open')) {
                    $(this).children("span").removeClass("active");                    
                    $(this).parent().children("ul.sub-menu3").removeClass("open");                  
                }
                else {                    
                    $("ul.sub-menu2 span").removeClass("active");
                    $("ul.sub-menu3").removeClass("open");
                    $(this).children("span").addClass("active");
                    $(this).parent().children("ul.sub-menu3").addClass("open");
                }
            });*/

            //Toggle for last submenu's links         
            $("ul.sub-menu3 > li > a").click(function () {                
                $("ul.sub-menu2 li").removeClass("active");                  
                $("ul.sub-menu3").removeClass("open");                                                                         
            });

            //Toggle sidebar's size
            $("i.minify").click(function () {
                $("ul").removeClass("open");
                $("i.arrow").removeClass("down");
                $("#sidebar").toggleClass("minified");            
                $(".content-container").toggleClass("expanded");
            });

            //Validate Logged User Credentials
            validateCredentials();

            $("#logout").click(function (event) {
                event.preventDefault();
                removeUserSession();
            });

            //Add the language parameter to all url invoked by the <a> tag
            $("a").click(function (event) {
                event.preventDefault();
                window.location.href = this.href + "?leng=" + $("#language").data("kendoDropDownList").value();
            });

            //Language dropdownlist inicialization method
            $("#language").kendoDropDownList({
                change: changeLanguage,
                dataTextField: "text",
                dataValueField: "value",
                valueTemplate: '<img src=\"../Content/images/flags/#:data.text#.png\" alt=\"#:data.text#\" class="selected-value"/>',
                template: '<img src=\"../Content/images/flags/#:data.text#.png\" alt=\"#:data.text#\" />',
                width: 24,
                dataSource: [
                    { text: "es-MX" }, { text: "en-US" }
                ]
            });

            //Add layout element to the Authorization Model
            $authorizationModel.Layout = $layoutModel;

            //Partial Views Javascript Code Container
            @RenderSection("JavascriptDocumentReadyFunctions", required: false)

            //Apply Profile Security Policy
            applySecurityPolicy();

            //Set on the dropdownlist the url language and change the current language
            $("#language").data("kendoDropDownList").select(_languageOrder[getUrlParameter("leng", "es-MX")]);
            $("#language").data("kendoDropDownList").trigger("change");
        });
    </script>
</body>
</html>
