@{
    ViewBag.Title = "Autorizar Permiso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="AutorizarPermiso0002"></span></a>
    </li>
    <li>
        <a href="@Url.Action("DashboardAvisoLlegada", "AvisoLlegada")"><span id="AutorizarPermiso0013"></span></a>
    </li>
    <li>
        <a href="@Url.Action("DashboardAvisoLlegada", "AvisoLlegada")"><span id="AutorizarPermiso0007"></span></a>
    </li>
    @*<li>
        <a href="@Url.Action("ListadoAvisoLlegada", "AvisoLlegada")"><span id="AutorizarPermiso0008"></span></a>
    </li>*@
    <li class="active">
        <a href="@Url.Action("AutorizarPermiso", "AvisoLlegada")"><span id="AutorizarPermiso0003"></span></a>
    </li>
}

<div id="PermisoAduana" class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="button-section editButtonSection">
                            <div class="btn-group save-group">
                                <button id="Guardar" onclick="javascript:void(0);" type="button" class="btn btn-yellow guardar"><span id="DetalleAvisoLlegada0017"></span></button>
                                <button id="Editar" onclick="javascript:void(0);" type="button" class="btn btn-yellow editar" style="display: none"><span id="DetalleAvisoLlegada0082"></span></button>
                                <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle guardar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caretWhite"></span>
                                </button>
                            </div>
                            <a id="Cancelar" class="btn btn-black"><span id="DetalleAvisoLlegada0018"></span></a>
                        </div>
                        <div id="TramitarPermisoDiv" class="button-section hidden">
                            <a id="TramitarPermiso" href="#" class="btn btn-primary"><span id="DetalleAvisoLlegada0036"></span></a>
                        </div>
                        <div id="AutorizarPermisoDiv" class="button-section" style="display: none">
                            <a id="AutorizarPermiso" href="#" class="btn btn-primary"><span id="DetalleAvisoLlegada0089"></span></a>
                        </div>
                        <div class="button-section actionButtonSection">
                            <div class="dropdown action-group">
                                <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                                    <span id="DetalleAvisoLlegada0064"></span>
                                    <span class="caretBlue"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="Acciones">
                                    <li class="incidencia"><a id="IrIncidencia" href="#"><span id="DetalleAvisoLlegada0066"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="formaAutorizarPermiso" class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
            <div class="row">
                <div id="FolioAvisoLlegadaIDDiv" class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <label id="AutorizarPermiso0001"></label>
                    <input id="FolioAvisoLlegadaID" class="" />
                </div>
                <div id="NumeroPermisoDiv" class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <label id="AutorizarPermiso0005"></label>
                    <input id="NumeroPermiso" class="general-input" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="addedSection clearfix">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label id="AutorizarPermiso0006" class="security_required"></label>
                    <div id="ArchivoAutorizarDiv">
                        <div id="filesDiv" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <input name="ArchivoAutorizar" id="ArchivoAutorizar" type="file" class="" />
                        </div>
                        <div id="divLinkAutorizar" style="display: none"></div>
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="listaArchivosDiv" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <table id="listaArchivos" class="filesTable">
                        <thead>
                            <tr>
                                <td>
                                    <label id="AutorizarPermiso0010"></label>
                                </td>
                                <td>
                                    <label id="AutorizarPermiso0012"></label>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    kendo.ui.Upload.fn._supportsDrop = function () { return false; }
    @section JavascriptDocumentReadyHomeCookie {
    Cookies.set("home", true, { path: '/' });
    Cookies.set("navegacion", "8", { path: '/' });
    }

    @section JavascriptGlobalVariables {

    var _incidenciasURL = "@Url.Action("Incidencias", "Incidencias")";
    var folio = getUrlParameter("folio", "-1");
    var FolioAvisoLlegada = {};
    var $AutorizarPermisoModel = {
        listContainer: {
            create: ".guardar",
            list: "",
            detail: ".editar",
            destroy: "",
            createIncidence: ".incidencia",
        },
        properties: {
            folioAvisoLlegada: {
                visible: "#FolioAvisoLlegadaIDDiv",
                editable: "#FolioAvisoLlegadaID",
                required: "#FolioAvisoLlegadaID"
            },
            numeropermiso: {
                visible: "#NumeroPermisoDiv",
                editable: "#NumeroPermiso",
                required: "#NumeroPermiso"
            },
            archivos: {
                visible: "#ArchivoAutorizarDiv",
                editable: "#ArchivoAutorizar",
                required: "#ArchivoAutorizar"
            },
            listarArchivos: {
                visible: "#listaArchivosDiv",
                editable: "#listaArchivos",
                required: "#listaArchivos"
            }
        }
    };
    }

    @section JavascriptGlobalFunctions {
    function changeLanguageCall() {
        var options = $("#ArchivoAutorizar").data("kendoUpload").options;
        $(".k-button.k-upload-button").remove();
        options.localization = getKendoUploadLocalization($("#language").data("kendoDropDownList").value());
        $("#ArchivoAutorizarDiv").append("<input type='file' id='ArchivoAutorizar'>");
        $("#ArchivoAutorizar").kendoUpload(options);
    };

    //Es la carga inicial de los controles
    //Parametros: N/A
    //Return:     N/A
    function CargaInicial() {
        $("#IrIncidencia").click(function () { Incidencias(); });

        $("#FolioAvisoLlegadaID").kendoComboBox({
            dataTextField: "value",
            dataValueField: "id",
            select: function (e) {
                
            },
            change: function () {
                var dataItem = this.dataItem();
                dataItem!==undefined ? CargarFolio(dataItem.id):CargarFolio("");
                ChecarAutorizacion(dataItem.id);
                var value = this.value();
                if (!value || this.selectedIndex == -1) {
                    messageindexKendoCombobox(this);
                    Folio = {};
                    this.value("");
                };

                $(".k-upload-files").remove();
                $(".k-upload-status").remove();
                $(".k-upload-selected").remove();
                $(".k-upload.k-header").addClass("k-upload-empty");
                $(".k-upload-button").removeClass("k-state-focused");
            },
            dataBound: function(e){checkIfOne(this);},
            filter: "contains"
        });

        $('#ArchivoAutorizar').kendoUpload({
            async: {
                saveUrl: $DocumentoPermisoAduana,
                removeUrl: "#",
                autoUpload: false,
                withCredentials: false,
                batch: true
            },
            success: function (data) {
                HabilitarObtenerDocumentosPermisoAduanaUploadFiles(data);
                $("#ArchivoAutorizar").data("kendoUpload").disable();
                $("#Guardar")[0].disabled=false;
                //$("#NumeroPermiso").attr("disabled", "disabled");
            },
            error: function (data) { },
            upload: onUploadArchivoAutorizar,
            select: singleFile,
            remove: onRemove,
            localization: getKendoUploadLocalization($("#language").data("kendoDropDownList").value())
        });

        $("#Guardar").click(function () {
            this.disabled=true;
            if (!ValidarRequeridos()) {
                Guardar();
            } else {
                displayMessage("notificationslabel0031", "", '1');
            }
        });
        $("#Editar").click(function (e) {
            BotonEdicion();
        });

        $(".k-i-close.k-delete").click(function () {
            alert("borrar Archivo");
        });
        ObtenerFolioEntradaMaterial();

        cargarFolioDeterminado();

        $("#NumeroPermiso").on("change",function(){
            $("#Guardar")[0].disabled=false;
        })
    };
    function onRemove(e) {
        MostrarUpload(e);
    };
    function Guardar() {
        var numeropermiso = $("#NumeroPermiso").val() ? $("#NumeroPermiso").val() : 0;
        var Folio = FolioAvisoLlegada.FolioAvisoLlegadaID ? FolioAvisoLlegada.FolioAvisoLlegadaID : "-1";

        var Listado = {};
        Listado.FolioAvisoLlegada = Folio;
        Listado.NumeroPermiso = numeropermiso;

        $GuardarPermisoAduana.DocumentoPermisoAduana.create({}, { datos: JSON.stringify(Listado), token: Cookies.get("token") }).done(function (data) {
            //loadingStart();
            if (Error(data)) {
                displayMessage("notificationslabel0085", "", '0');
                BotonAlta();
            }
            //loadingStop();
        });
    };

    function BotonEdicion() {
        $("#dropdown-toggle").show();
        $("#Editar").css("display", "none");
        $("#Guardar").css("display", "block");
        habilitarControles();
    };

    function BotonAlta() {
        $("#dropdown-toggle").hide();
        $("#Editar").css("display", "block");
        $("#Guardar").css("display", "none");
        deshabilitarControles();
    };

    function habilitarControles() {
        $("#NumeroPermiso").removeAttr("disabled");
        $("#ArchivoAutorizar").data("kendoUpload").enable();
        HabilitarObtenerDocumentosPermisoAduana();
    };

    function deshabilitarControles() {
        $("#NumeroPermiso").attr('disabled', 'disabled');
        $("#ArchivoAutorizar").data("kendoUpload").enable(false);
        DesahabilitarObtenerDocumentosPermisoAduana();
    };

    function BotonEdicion() {
        $("#dropdown-toggle").show();
        $("#Editar").css("display", "none");
        $("#Guardar").css("display", "block");
        habilitarControles();
    };

    function CargarFolio(id) {
        FolioAvisoLlegada = {};
        FolioAvisoLlegada = { FolioAvisoLlegadaID: id };
    };

    function Incidencias() {
        var Folio = FolioAvisoLlegada.FolioAvisoLlegadaID ? FolioAvisoLlegada.FolioAvisoLlegadaID : "-1";
        window.open(_incidenciasURL + "?leng=" + $("#language").data("kendoDropDownList").value() + "&LevantarIncidencia=1&ReferenciaID=" + Folio + "&TipoIncidencia=1&Clasificacion=1");
    };
    //Se hace la peticion al controlador del tipo listado 2 
    //para obtener los folios
    //Funcion: ObtenerFolioEntradaMaterial
    //Parametros: N/A
    //Return:     N/A
    function ObtenerFolioEntradaMaterial() {
        $folioEntradaMaterial.Listado.read({ tipoListado: 2, token: Cookies.get("token"), parametroBusqueda: "" }).done(function (result) {
            ControlErroresObjetosComboBox("FolioAvisoLlegadaID", result);
        });
    };

    //Se retira la clase de error para que no siga mostrando el asterisco
    //Funcion: removerValidacionRequeridos
    //Parametros: N/A
    //Return:     N/A
    function removerValidacionRequeridos() {
        $("#formaAutorizarPermiso .security_required").each(function (i, elem) {
            if (elem.tagName.toLowerCase() != 'label') {
                if ($(elem).attr("id") == "NumeroPermiso") {
                    $(this).closest("div").find("label").removeClass("error");
                    $(this).closest("div").removeClass("clearfix");
                }
            };
        });
    };

    function ValidarRequeridos() {
        var folio = FolioAvisoLlegada.FolioAvisoLlegadaID ? FolioAvisoLlegada.FolioAvisoLlegadaID : "-1";
        var bool = false;

        $("#formaAutorizarPermiso .security_required").each(function (i, elem) {
            if (elem.tagName.toLowerCase() != 'label') {
                if ($(elem).attr("id") == "NumeroPermiso") {
                    if (!$(this).val()) {
                        bool = true;
                        $(this).closest("div").find("label").addClass("error");
                        $(this).closest("div").addClass("clearfix");
                    } else {
                        $(this).closest("div").find("label").removeClass("error");
                        $(this).closest("div").removeClass("clearfix");
                    };
                }
            };
        });

        if (bool) {
            if (!$("#NumeroPermiso").val()) {
                displayMessage("notificationslabel0006", "", '1');
            };
        }
        if (folio == -1) {
            displayMessage("notificationslabel0007", "", '1');
        };

        return bool;
    }

    //Se checa si el folio seleccionado tiene permiso aduana
    //Si tiene permiso se muestra la liga del archivo
    //Si no tiene se muestra el control para subir archivos
    //Funcion: ChecarAutorizacion
    //Parametros: N/A
    //Return:     N/A
    function ChecarAutorizacion() {
        var folio = FolioAvisoLlegada.FolioAvisoLlegadaID ? FolioAvisoLlegada.FolioAvisoLlegadaID : "-1";

        removerValidacionRequeridos();

        $ValidacionFolioConPermisoAduana.ValidacionFolioConPermisoAduana.read({ Folio: folio, token: Cookies.get("token") }).done(function (result) {
            if (!result) {
                limpiarFolio();
            } else {
                if (result.PermisoAutorizado) {
                    $("#ArchivoAutorizar").data("kendoUpload").disable();
                    $("#NumeroPermiso").attr("disabled", "disabled");
                    $("#divArchivoAutorizar").hide();
                    $("#divLinkAutorizar").empty();
                    $("#divLinkAutorizar").show();
                    $("#NumeroPermiso").val(result.NumeroPermiso);
                    $("#listaArchivos tbody").empty();

                    BotonAlta();
                } else {
                    limpiarFolio();
                }
            }
        });
    };

    function limpiarFolio() {
        $("#divArchivoAutorizar").show();
        $("#divLinkAutorizar").empty();
        $("#divLinkAutorizar").hide();
        $("#ArchivoAutorizar").data("kendoUpload").enable();
        $("#NumeroPermiso").removeAttr("disabled");
        limpiarUploadFiles();
        $("#NumeroPermiso").val("");
        $("#listaArchivos tbody").empty();
        BotonEdicion();
    };
    function HabilitarObtenerDocumentosPermisoAduana() {
        var folio = FolioAvisoLlegada.FolioAvisoLlegadaID ? FolioAvisoLlegada.FolioAvisoLlegadaID : "-1";

        //removerValidacionRequeridos();

        $ValidacionFolioConPermisoAduana.ValidacionFolioConPermisoAduana.read({ Folio: folio, token: Cookies.get("token") }).done(function (result) {
            //loadingStart();

            if(result){
                if (Error(result)) {
                    if (result.DocumentoID) {
                        $("#listaArchivos tbody").empty();
                        if ((typeof returnOfSecurityCheck != 'undefined') && (typeof returnOfSecurityCheck["Autorización de Permiso"] != 'undefined') && (typeof returnOfSecurityCheck["Autorización de Permiso"]["destroy"] != 'undefined') && returnOfSecurityCheck["Autorización de Permiso"]["destroy"]) {
                            $("#listaArchivos tbody").append("<tr id='" + result.DocumentoID + "," + result.Extencion + "'><td><a target='_blank' href='" + result.Url + "' >" + result.Nombre + "</a></td><td><a href='#' onclick='borrarArchivo(" + result.DocumentoID + ",$(this));' >" + "<span class='delete'></span>" + "</a></td></tr>");
                        } else {
                            $("#listaArchivos tbody").append("<tr id='" + result.DocumentoID + "," + result.Extencion + "'><td><a target='_blank' href='" + result.Url + "' >" + result.Nombre + "</a></td><td><a href='#'  >" + "<span class='delete disable'></span>" + "</a></td></tr>");
                        };

                    }
                };
            }
            //loadingStop();
            AsignarPaginaActualCookie();
            applySecurityPolicy(false);
        });
    };
    function AsignarPaginaActualCookie() {
        Cookies.set("navegacion", "8", { path: '/' });
    }
    function DesahabilitarObtenerDocumentosPermisoAduana() {
        var folio = FolioAvisoLlegada.FolioAvisoLlegadaID ? FolioAvisoLlegada.FolioAvisoLlegadaID : "-1";

        //removerValidacionRequeridos();

        $ValidacionFolioConPermisoAduana.ValidacionFolioConPermisoAduana.read({ Folio: folio, token: Cookies.get("token") }).done(function (result) {
            //loadingStart();
            if(result){
                if (Error(result)) {
                    if (result.DocumentoID) {
                        $("#listaArchivos tbody").empty();
                        $("#listaArchivos tbody").append("<tr id='" + result.DocumentoID + "," + result.Extencion + "'><td><a target='_blank' href='" + result.Url + "' >" + result.Nombre + "</a></td><td><a href='#' >" + "<span class='delete disable'></span>" + "</a></td></tr>");
                    }
                };
            }
            //loadingStop();
            AsignarPaginaActualCookie();
            applySecurityPolicy(false);
        });
    };

    //Se checa si se guardo correctamente el documento
    //Funcion: HabilitarObtenerDocumentosPermisoAduanaUploadFiles
    //Parametros: data
    //Return:     N/A
    function HabilitarObtenerDocumentosPermisoAduanaUploadFiles(data) {
        var folio = FolioAvisoLlegada.FolioAvisoLlegadaID ? FolioAvisoLlegada.FolioAvisoLlegadaID : "-1";

        removerValidacionRequeridos();

        $ValidacionFolioConPermisoAduana.ValidacionFolioConPermisoAduana.read({ Folio: folio, token: Cookies.get("token") }).done(function (result) {
            //loadingStart();
            if (Error(result)) {
                if (result) {
                    $("#listaArchivos tbody").empty();
                    if ((typeof returnOfSecurityCheck != 'undefined') && (typeof returnOfSecurityCheck["Autorización de Permiso"] != 'undefined') && (typeof returnOfSecurityCheck["Autorización de Permiso"]["destroy"] != 'undefined') && returnOfSecurityCheck["Autorización de Permiso"]["destroy"]) {
                        $("#listaArchivos tbody").append("<tr id='" + result.DocumentoID + "," + result.Extencion + "'><td><a target='_blank' href='" + result.Url + "' >" + result.Nombre + "</a></td><td><a href='#' onclick='borrarArchivo(" + result.DocumentoID + ");' >" + "<span class='delete'></span>" + "</a></td></tr>");
                    } else {
                        $("#listaArchivos tbody").append("<tr id='" + result.DocumentoID + "," + result.Extencion + "'><td><a target='_blank' href='" + result.Url + "' >" + result.Nombre + "</a></td><td><a href='#' >" + "<span class='delete disable'></span>" + "</a></td></tr>");
                    }
                    var files = data.files;
                    var strnamefile = files[0].name.replace(/ /g, '_');
                    if (strnamefile !== result.Nombre) {
                        limpiarUploadFiles();
                        displayMessage("notificationslabel0084", '', '2');
                        $("#listaArchivos tbody").empty();
                        
                        $("#ArchivoAutorizar").show();
                        $("#ArchivoAutorizar").data("kendoUpload").enable();
                    }
                } else {
                    $("#listaArchivos tbody").empty();
                    displayMessage("notificationslabel0084", '', '2');
                }
            };
            //loadingStop();
        });
    };

    //Borrar un documento de permiso de aduana
    //Funcion: borrarArchivo
    //Parametros: id
    //Return: N/A
    function borrarArchivo(id) {
        $GuardarPermisoAduana.DocumentoPermisoAduana.destroy({}, { documentoID: id, token: Cookies.get("token") }).done(function (data) {
            $("#listaArchivos tbody").empty();
            $("#ArchivoAutorizar").show();
            $("#ArchivoAutorizar").data("kendoUpload").enable();
        });
    };

    //Al subir un archivo se valida los siguiente:
    //Si son requeridos los campos
    //folio seleccionado
    //Funcion: onUploadArchivoAutorizar
    //Parametros: N/A
    //Return:     N/A
    function onUploadArchivoAutorizar(e) {
        var folio = FolioAvisoLlegada.FolioAvisoLlegadaID ? FolioAvisoLlegada.FolioAvisoLlegadaID : "-1";
        var bool = false;

        $("#formaAutorizarPermiso .security_required").each(function (i, elem) {
            if (elem.tagName.toLowerCase() != 'label') {
                if ($(elem).attr("id") == "NumeroPermiso") {
                    if (!$(this).val()) {
                        bool = true;
                        $(this).closest("div").find("label").addClass("error");
                        $(this).closest("div").addClass("clearfix");
                    } else {
                        $(this).closest("div").find("label").removeClass("error");
                        $(this).closest("div").removeClass("clearfix");
                    };
                }
            };
        });

        if (bool) {
            if (!$("#NumeroPermiso").val()) {
                displayMessage("notificationslabel0006", "", '1');
                e.preventDefault();
            };
        }
        if (folio == -1) {
            displayMessage("notificationslabel0007", "", '1');
            e.preventDefault();
        };
        var numeropermiso = $("#NumeroPermiso").val() ? $("#NumeroPermiso").val() : 0;
        $("#ArchivoAutorizar").data("kendoUpload").options.async.saveUrl = $DocumentoPermisoAduana + "?folioAvisoLlegada=" + folio + "&NumeroPermiso=" + numeropermiso + "&token=" + Cookies.get("token");

       
    };

    function singleFile(e) {
        if (notDotName(e) && e.files.length == 1) {
            $("#divLinkAutorizar").empty();
            this.element.hide();
            $("#Guardar")[0].disabled=false;            
        } 
    }

    //Si viene de otra pagina se carga el folio y
    //se checa si dicho folio esta autorizado
    //Funcion: cargarFolioDeterminado
    //Parametros: N/A
    //Return:     N/A
    function cargarFolioDeterminado() {
        if (folio != -1) {
            CargarFolio(folio);
            ChecarAutorizacion();
            $("#FolioAvisoLlegadaID").data("kendoComboBox").value(folio);
        };
    };

    //Se obtiene el mensaje de error y realiza lo siguient:
    //Si es 401 se cierra la sesion
    //si es cualquier otro error se muestra el mensaje
    //Funcion: Error
    //Parametros: data
    //Return:     bool
    function Error(data) {
        if (data.ReturnCode) {
            if (data.ReturnCode != 200) {
                if (data.ReturnCode == 401) {
                    removeUserSession();
                    return false;
                } else {
                    displayMessage("notificationslabel0008", data.ReturnMessage, '2');
                    $("#Guardar")[0].disabled=true;
                    return false;
                }
            }
        } else {
            return true;
        }
    };


    //Se borra la lista de archivos del control de subida de archivos, para que se muestre en limpio
    //Funcion: limpiarUploadFiles
    //Parametros: N/A
    //Return:     N/A
    function limpiarUploadFiles() {
        $(".k-upload-files").remove();
        $(".k-upload-status").remove();
        $(".k-upload-selected").remove();
        $(".k-upload.k-header").addClass("k-upload-empty");
        $(".k-upload-button").removeClass("k-state-focused");
    };

    //Se carga el resultado JSON en el combo, si llegara a fallar se muestra vacio
    //Funcion: ControlErroresObjetosComboBox
    //Parametros: control,  result
    //Return:     N/A
    function ControlErroresObjetosComboBox(control, result) {
        if (Error(result)) {
            $("#" + control).data("kendoComboBox").dataSource.data(result);
        } else {
            $("#" + control).data("kendoComboBox").dataSource.data([]);
        };
    };

    }

    @section JavascriptDocumentReadyFunctions {
    CargaInicial();
    $authorizationModel["Autorización de Permiso"] = $AutorizarPermisoModel;


    }

</script>
