@{
    ViewBag.Title = "Listado - Aviso Llegada";
}

@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="ListadoAvisoLlegada0020"></span></a>
    </li>
    <li>
        <a href="@Url.Action("DashboardAvisoLlegada", "AvisoLlegada")"><span id="ListadoAvisoLlegada0029"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("ListadoAvisoLlegada", "AvisoLlegada")"><span id="ListadoAvisoLlegada0021"></span></a>
    </li>
}

<div class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="formNav filtersFields clearfix">
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-1">
                        <div class="button-section">
                            <button id="Nuevo" type="button" class="btn btn-yellow"><span id="DashboardAvisoLlegada0003"></span></button>
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-10 col-lg-9 filter-section">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <label id="ListadoAvisoLlegada0003"></label>
                                <input id="PatioID" class="" />
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <label id="ListadoAvisoLlegada0026"></label>
                                <input id="ClienteID" class="" />
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <label id="ListadoAvisoLlegada0006"></label>
                                <input id="FechaInic" class="" />
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <label id="ListadoAvisoLlegada0007"></label>
                                <input id="FechaFinal" class="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="btn-group tabList col-xs-12 col-sm-12 col-md-12 col-lg-12" role="group" arial-label="tabList">
                            <button id="btnCreados" class="btn btn-tabList"><span id="ListadoAvisoLlegada0027"></span><span id="spanCreados"></span></button>
                            <button id="btnSinPermiso" class="btn btn-tabList"><span id="ListadoAvisoLlegada0023"></span><span id="spanSinPermiso"></span></button>
                            <button id="btnSinAutorizacion" class="btn btn-tabList"><span id="ListadoAvisoLlegada0024"></span><span id="spanSinAutorizacion"></span></button>
                            <button id="btnCompletos" class="btn btn-tabList"><span id="ListadoAvisoLlegada0025"></span><span id="spanCompletos"></span></button>
                        </div>
                    </div>
                    <div class="row">
                        <div id="filterContainer" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <input id="FolioID" class="quickFilters" />
                            <input id="FechaCreacion" class="quickFilters" />
                            <input id="FechaEstimada" class="quickFilters" />
                            <input id="Cancel" class="quickFilters" disabled />
                        </div>
                    </div>
                    <div id="grid"></div>
                    @*<div id="pager"></div>*@
                </div>
            </div>
        </div>

        <div id="window">
            @*Content of the Window*@
        </div>
    </div>
</div>

<input id="hdAccionFiltrado" type="hidden" />

<script>

    @section JavascriptDocumentReadyHomeCookie {
    Cookies.set("home", true, { path: '/' });
    Cookies.set("navegacion", "3", { path: '/' });
    }

    @section JavascriptGlobalVariables {
    //your partial views variables
    var Transportista = [], Proveedor = [], Patio = [], Folio = [], Cliente = {};
    var FechaInic, FechaFinal, resultadoJson;
    var folioLlegadaID = getUrlParameter("folioLlegadaID", "-1");
    var folioEntradaID = getUrlParameter("folioEntradaID", "-1");
    //vars Dashboard
    var DashBoardAccionListado = getUrlParameter("DashBoardAccionListado", "-1");
    var DashPatioID = getUrlParameter("DashPatioID", "-1");
    var DashClienteID = getUrlParameter("DashClienteID", "-1");
    var DashFechaInicial = getUrlParameter("DashFechaInicial", "-1");
    var DashFechaFinal = getUrlParameter("DashFechaFinal", "-1");

    var $AvisoLLegadaModel = {
        listContainer: {
            create: "#Nuevo",
            list: "#grid",
            detail: ".detailLink",
            destroy: ".k-grid-Cancelar"
        },
        properties: {
            username: {
                visible: "",
                editable: "",
                required: ""
            }
        }
    };
    }

    @section JavascriptGlobalFunctions {
    //Your partial views specific functions
    function changeDatePickerDateFormat(datePickerOptions) {
        FechaInic.setOptions(datePickerOptions);
        FechaFinal.setOptions(datePickerOptions);
    };

    function changeLanguageCall() {
        CargarGridAvisoLlegada();
    }

    function CargarGridAvisoLlegada() {
        $("#grid").kendoGrid({
            dataSource: {
                data: resultadoJson,
                schema: {
                    model: {
                        fields: {
                            FolioAvisoLlegadaID: { type: "string" },
                            FechaGeneracion: { type: "string" },
                            FechaRecepcion: { type: "string" },
                            Estatus: { type: "string" }
                        }
                    }
                },
                pageSize: 10,
                serverPaging: false,
                serverFiltering: false,
                serverSorting: false
            },
            autoHeight: true,
            sortable: true,
            scrollable: false,
            filterable: true,
            pageable: {
                refresh: false,
                pageSizes: [10, 15, 20],
                info: false,
                input: false,
                numeric: true,
            },
            columns: [
                { field: "FolioAvisoLlegadaID", title: _dictionary.ListadoAvisoLlegada0008[$("#language").data("kendoDropDownList").value()], template: "<a class='detailLink' onclick='mostrarDetalle(#:FolioAvisoLlegadaID#)'>#:FolioAvisoLlegadaID#</a>", filterable: true },
                { field: "FechaGeneracion", title: _dictionary.ListadoAvisoLlegada0013[$("#language").data("kendoDropDownList").value()], filterable: true },
                { field: "FechaRecepcion", title: _dictionary.ListadoAvisoLlegada0028[$("#language").data("kendoDropDownList").value()], filterable: true },
                { command: { text: _dictionary.ListadoAvisoLlegada0016[$("#language").data("kendoDropDownList").value()], click: cancelarFolio }, title: " ", width: "99px" }
            ],
            dataBound: function (e) {
                $(".k-grid input.k-textbox").prop('readonly', true);
                $(".k-grid td .k-button").text('');
                $(".k-grid td:first-child, .k-grid td:last-child").css('text-overflow', 'clip');
            }
        });
    }

    function mostrarDetalle(folioAvisoLlegadaID) {
        //e.preventDefault();
        //var dataItem = $("#grid").data("kendoGrid").dataItem($(e.currentTarget).closest("tr"));
        //var folioAvisoLlegadaID = dataItem.FolioAvisoLlegadaID
        //REDIRECT
        var detalleIdeaUrl = "@Url.Action("DetalleAvisoLLegada", "AvisoLLegada")";
            window.location.href = detalleIdeaUrl + "?leng=" + $("#language").data("kendoDropDownList").value() + "&folio=" + folioAvisoLlegadaID;
        }

        function cancelarFolio(e) {
            e.preventDefault();
            var dataItem = $("#grid").data("kendoGrid").dataItem($(e.currentTarget).closest("tr"));
            var folioAvisoLlegadaID = dataItem.FolioAvisoLlegadaID
            var dataSource = $("#grid").data("kendoGrid").dataSource;
            var TienePermiso = false;

            var Client = new $.RestClient('http://localhost:60960' + '/backendsam/api/');
            Client.add('ValidacionesFolioAvisoLlegada');

            Client.ValidacionesFolioAvisoLlegada.read({ folio: folioAvisoLlegadaID, token: Cookies.get("token") }).done(function (data) {
                TienePermiso = data;
                if (!TienePermiso) {
                    //debugger;
                    if (confirm("Estas seguro de cancelar el folio de entrada?")) {
                        //aki debe estar el de filtros()
                        var Client = new $.RestClient('http://localhost:60960' + '/backendsam/api/');
                        Client.add('AvisoLlegada');
                        Client.AvisoLlegada.destroy({}, { folio: folioAvisoLlegadaID, token: Cookies.get("token") }).done(function (data) {
                            Filtros();
                        });
                    };
                } else {
                    displayMessage("notificationslabel0016", "", '1');
                };
            });
        };

        function ObtenerAccionesListado(Listado) {

            //$folioEntradaMaterial.Listado.read({}, { tipoListado: 4, token: Cookies.get("token"), parametroBusqueda: "" }).done(function (result) {
            //    Error(result);

            //    $("#spanCreados").html(result.Creados);
            //    $("#spanSinPermiso").html(result.SinPermiso);
            //    $("#spanSinAutorizacion").html(result.SinAutorizacion);
            //    $("#spanCompletos").html(result.Completos);
            //});

            $folioEntradaMaterial.Listado.read({}, { data: JSON.stringify(Listado), token: Cookies.get("token"), parametroBusqueda: "" }).done(function (result) {
                Error(result);
                $("#spanCreados").html(result.Creados ? result.Creados : 0);
                $("#spanSinPermiso").html(result.SinPermiso ? result.SinPermiso : 0);
                $("#spanSinAutorizacion").html(result.SinAutorizacion ? result.SinAutorizacion : 0);
                $("#spanCompletos").html(result.Completos ? result.Completos : 0);

            });
        };



        function CargarFolio(id) {
            Folio = [];
            _folio = {};
            _folio["FolioAvisoLlegadaID"] = id;
            Folio.push(_folio);
        };

        function CargarPatio(id, value) {
            Patio = [];
            _patio = {};
            _patio["PatioID"] = id;
            _patio["Nombre"] = value;
            Patio.push(_patio);
        };

        function CargarProveedor(id, value) {
            Proveedor = [];
            _proveedor = {};
            _proveedor["ProveedorID"] = id;
            _proveedor["Nombre"] = value;
            Proveedor.push(_proveedor);
        };

        function ObtenerProyectos() {
            $Proyecto.Proyecto.read({ token: Cookies.get("token") }).done(function (result) {
                Error(result);
                $("#ProyectoID").data("kendoMultiSelect").dataSource.data(result);
            });
        };

        function ObtenerProveedor() {
            $Proveedor.Proveedor.read({ esAvisoEntrada: 0, token: Cookies.get("token") }).done(function (result) {
                Error(result);
                $("#ProveedorID").data("kendoAutoComplete").dataSource.data(result);
            });
        };

        function ObtenerPatio() {
            $Patio.Patio.read({ esAvisoEntrada: 0, token: Cookies.get("token") }).done(function (result) {
                Error(result);
                $("#PatioID").data("kendoComboBox").dataSource.data(result);
            });
        };
        function ObtenerFolioEntradaMaterial() {
            $folioEntradaMaterial.Listado.read({ tipoListado: 1, token: Cookies.get("token") }).done(function (result) {
                Error(result);
                $("#FolioAvisoLlegadaID").data("kendoAutoComplete").dataSource.data(result);
            });
        };

        function ArregloListado(accion) {
            var Listado;
            Listado = { FolioLlegadaID: "", FolioAvisoLlegadaID: "", PatioID: "", ClienteID: "", FechaInicial: "", FechaFinal: "", token: "", Creados: "", SinPermiso: "", SinAutorizacion: "", Completos: "" };
            //ProyectoIDs = [];

            //var proyectos = $("#ProyectoID").data("kendoMultiSelect").value();
            //$.each(proyectos, function (index, value) {
            //    item = {};
            //    item["ProyectoID"] = value;
            //    ProyectoIDs.push(item);
            //});

            var d = new Date($("#FechaInic").data("kendoDatePicker").value());
            var d1 = new Date($("#FechaFinal").data("kendoDatePicker").value());

            Listado.FolioLlegadaID = folioLlegadaID ? folioLlegadaID : -1;
            Listado.FolioAvisoLlegadaID = folioEntradaID ? folioEntradaID : -1;
            Listado.PatioID = $("#PatioID").data("kendoComboBox").value();
            Listado.FechaInicial = obtenerFormatoFecha(d);
            Listado.FechaFinal = obtenerFormatoFecha(d1);
            Listado.Creados = accion == 1 ? true : false;
            Listado.SinPermiso = accion == 2 ? true : false;
            Listado.SinAutorizacion = accion == 3 ? true : false;
            Listado.Completos = accion == 4 ? true : false;
            Listado.ClienteID = $("#ClienteID").data("kendoComboBox").value();
            Listado.token = Cookies.get("token");
            console.log(JSON.stringify(Listado));
            return Listado;
        };

        function AccionesListado(accion) {
            loadingStart();
            var Listado;
            Listado = ArregloListado(accion);

            $("#hdAccionFiltrado").val(accion);

            $FiltrosListadoEntradaMaterial.AvisoLlegada.read({}, { data: JSON.stringify(Listado) }).done(function (data) {
                if (Error(data)) {
                    resultadoJson = data;
                    if ($("#grid").data("kendoGrid")) {
                        if (resultadoJson.length > 0) {
                            $("#grid").data("kendoGrid").dataSource.data(resultadoJson);
                            $("#grid").data("kendoGrid").dataSource.page(1);
                        } else {
                            $("#grid").data("kendoGrid").dataSource.data([]);
                        };
                        applySecurity();

                    };
                };
                loadingStop();
            });
        };

        function Filtros() {
            var Listado;
            var accion = $("#hdAccionFiltrado").val() ? $("#hdAccionFiltrado").val() : 1;
            console.log(accion);
            AccionesListado(accion);
        };

        function CargarCliente(id, value) {
            Cliente = {};
            Cliente = { ClienteID: id };
        };

        function ObtenerCliente() {
            $Cliente.Cliente.read({ token: Cookies.get("token") }).done(function (result) {
                Error(result);
                $("#ClienteID").data("kendoComboBox").dataSource.data(result);

            });
        };

        function CargarControlesFiltrado() {
            var date, format;
            if ($("#language").data("kendoDropDownList").value() == "es-MX") {
                format = "dd/MM/yyyy";
            } else {
                format = "MM/dd/yyyy";
            };
            var fechaInicialkendo = kendo.parseDate(DashFechaInicial, format);
            var fechaFinalkendo = kendo.parseDate(DashFechaFinal, format);

            $("#ClienteID").data("kendoComboBox").value(DashClienteID);
            $("#PatioID").data("kendoComboBox").value(DashPatioID);
            $("#FechaInic").data("kendoDatePicker").value(fechaInicialkendo);
            $("#FechaFinal").data("kendoDatePicker").value(fechaFinalkendo);
        };

        function Error(data) {
            if (data.ReturnCode) {
                if (data.ReturnCode != 200) {
                    if (data.ReturnCode == 401) {
                        removeUserSession();
                        return true;
                    } else {
                        displayMessage("notificationslabel0008", data.ReturnMessage, '2');
                        return false;
                    }
                } else {
                    return true;
                }
            } else {
                return true;
            }
        };

        function obtenerFormatoFecha(d) {
            var curr_date = d.getDate();
            var curr_month = d.getMonth() + 1; //Months are zero based
            var curr_year = d.getFullYear();

            return curr_year + "-" + curr_month + "-" + curr_date;
        };

        function tabActivo(dashBoardAccionListado) {
            $(".btn-tabList").removeClass("active");
            switch (dashBoardAccionListado) {
                case "1":
                    $("#btnCreados").addClass("active");
                    break;
                case "2":
                    $("#btnSinPermiso").addClass("active");
                    break;
                case "3":
                    $("#btnSinAutorizacion").addClass("active");
                    break;
                case "4":
                    $("#btnCompletos").addClass("active");
                    break;
                default:
                    $("#btnCreados").addClass("active");
                    break;
            };
        };

        function CantidadesDelMenuDashboard() {
            var accion = $("#hdAccionFiltrado").val() ? $("#hdAccionFiltrado").val() : 1;
            var Listado;
            Listado = { FolioLlegadaID: "", FolioAvisoLlegadaID: "", PatioID: "", ClienteID: "", FechaInicial: "", FechaFinal: "", token: "", Creados: "", SinPermiso: "", SinAutorizacion: "", Completos: "", TipoListado: "" };

            var d = new Date($("#FechaInic").data("kendoDatePicker").value());
            var d1 = new Date($("#FechaFinal").data("kendoDatePicker").value());

            Listado.FolioLlegadaID = folioLlegadaID ? folioLlegadaID : -1;
            Listado.FolioAvisoLlegadaID = folioEntradaID ? folioEntradaID : -1;
            Listado.PatioID = $("#PatioID").data("kendoComboBox").value();
            Listado.FechaInicial = obtenerFormatoFecha(d);
            Listado.FechaFinal = obtenerFormatoFecha(d1);
            Listado.Creados = accion == 1 ? true : false;
            Listado.SinPermiso = accion == 2 ? true : false;
            Listado.SinAutorizacion = accion == 3 ? true : false;
            Listado.Completos = accion == 4 ? true : false;
            Listado.ClienteID = $("#ClienteID").data("kendoComboBox").value();
            Listado.token = Cookies.get("token");
            Listado.TipoListado = 4;
            console.log("CantidadesDelMenuDashboard: " + JSON.stringify(Listado));

            ObtenerAccionesListado(Listado);
        };
    }

    function ObtenerFechasporDefecto() {
        var today = new Date();
        var fechainicio = new Date(today.getTime() - (7 * 24 * 3600 * 1000));

        var fechainicial = fechainicio.toLocaleDateString($("#language").data("kendoDropDownList").value());
        var fechafinal = today.toLocaleDateString($("#language").data("kendoDropDownList").value());

        if ($("#language").data("kendoDropDownList").value() == "es-MX") {
            format = "dd/MM/yyyy";
        } else {
            format = "MM/dd/yyyy";
        };

        var fechaInicialkendo = kendo.parseDate(fechainicial, format);
        var fechaFinalkendo = kendo.parseDate(fechafinal, format);

        $("#FechaInic").data("kendoDatePicker").value(fechaInicialkendo);
        $("#FechaFinal").data("kendoDatePicker").value(fechaFinalkendo);
    };

    @section JavascriptDocumentReadyFunctions {
    $authorizationModel["Aviso Entrada"] = $AvisoLLegadaModel;
    //Botones Dashboard
    $("#btnCreados").click(function () { tabActivo("1"); AccionesListado(1); });
    $("#btnSinPermiso").click(function () {
        tabActivo("2");
        AccionesListado(2);
    });
    $("#btnSinAutorizacion").click(function () { tabActivo("3"); AccionesListado(3); });
    $("#btnCompletos").click(function () { tabActivo("4"); AccionesListado(4); });

    $("#Mostrar").click(function () { Filtros(); });
    $("#Nuevo").click(function (e) {
        var detalleIdeaUrl = "@Url.Action("DetalleAvisoLLegada", "AvisoLLegada")";
            window.location.href = detalleIdeaUrl + "?leng=" + $("#language").data("kendoDropDownList").value();
        });

        $("#FolioID").keyup(function () {
            var ds = $("#grid").data("kendoGrid").dataSource;
            ds.filter([
                {
                    "field": "FolioAvisoLlegadaID",
                    "operator": "startswith",
                    "value": this.value
                }
            ]);
        });

        $("#FechaCreacion").keyup(function () {
            var ds = $("#grid").data("kendoGrid").dataSource;
            ds.filter([
                {
                    "field": "FechaCreacion",
                    "operator": "startswith",
                    "value": this.value
                }
            ]);
        });

        $("#FechaEstimada").keyup(function () {
            var ds = $("#grid").data("kendoGrid").dataSource;
            ds.filter([
                {
                    "field": "FechaEstimada",
                    "operator": "startswith",
                    "value": this.value
                }
            ]);
        });

        $("#ClienteID").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "ClienteID",
            select: function (e) {
                var dataItem = this.dataItem(e.item.index());
                CargarCliente(dataItem.ClienteID, dataItem.Nombre);

            },
            change: function (e) {
                var value = this.value();
                if (!value) {
                    Cliente = [];
                }
                Filtros();
                CantidadesDelMenuDashboard();

            },
            filter: "contains",
        });
        ObtenerCliente();

        $("#PatioID").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "PatioID",
            select: function (e) {
                var dataItem = this.dataItem(e.item.index());
                CargarPatio(dataItem.PatioID, dataItem.Nombre);
            },
            change: function (e) {
                var value = this.value();
                if (!value) {
                    Patio = [];
                }
                Filtros();
                CantidadesDelMenuDashboard();

            },
            filter: "contains",
        });
        ObtenerPatio();

        FechaInic = new kendo.ui.DatePicker($("#FechaInic"));
        FechaFinal = new kendo.ui.DatePicker($("#FechaFinal"));



        $("#FechaInic").bind("change", function () {
            Filtros();
            CantidadesDelMenuDashboard();
        });

        $("#FechaFinal").bind("change", function () {
            Filtros();
            CantidadesDelMenuDashboard();
        });

        if (DashBoardAccionListado != -1) {
            tabActivo(DashBoardAccionListado);
            CargarControlesFiltrado();
            AccionesListado(DashBoardAccionListado);
            CantidadesDelMenuDashboard();
        } else {
            ObtenerFechasporDefecto();
            tabActivo(1);//default 1 creados
            Filtros();
            CantidadesDelMenuDashboard();
        }
    }

</script>

