
@{
    ViewBag.Title = "Cuantificación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="Cuantificacion0001"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("Cuantificacion", "Cuantificacion")"><span id="Cuantificacion0002"></span></a>
    </li>
}

<div class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="button-section">
                            <div class="btn-group save-group">
                                <button id="Guardar" onclick="javascript:void(0);" type="button" class="btn btn-yellow"><span id="Cuantificacion0003"></span></button>
                                <button id="Editar" onclick="javascript:void(0);" type="button" class="btn btn-yellow" style="display:none"><span id="Cuantificacion0004"></span></button>
                                <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caretWhite"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a id="TerminaryNuevo" href="#"><span id="Cuantificacion0005"></span></a></li>
                                    <li><a id="GuardareImprimir" href="#"><span id="Cuantificacion0006"></span></a></li>
                                    <li><a id="GuardarParcialmente" href="#"><span id="Cuantificacion0007"></span></a></li>
                                    <li><a id="GuardarParcialyNuevo" href="#"><span id="Cuantificacion0008"></span></a></li>
                                    <li><a id="GuardaryCerrar" href="#"><span id="Cuantificacion0009"></span></a></li>
                                </ul>
                            </div>
                            <a id="Cancelar" href="#" class="btn btn-black"><span id="Cuantificacion0010"></span></a>
                        </div>
                        <div class="button-section">
                            <a id="GenerarOrdenRecepción" href="#" class="btn btn-primary"><span id="Cuantificacion0011"></span></a>
                        </div>
                        <div class="button-section">
                            <div class="dropdown action-group">
                                <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                                    @*<span id="LlegadaMaterial0040"></span>*@
                                    <span class="caretBlue"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="Acciones">
                                    @*<li><a id="RedirectDashboard"><span id="LlegadaMaterial0041"></span></a></li>
                                    <li><a><span id="LlegadaMaterial0042"></span></a></li>
                                    <li><a id="CancelarFolio" href="#"><span id="LlegadaMaterial0051"></span></a></li>*@
                                </ul>
                            </div>
                        </div>
                        <a id="Imprimir" href="#" class="btn btn-fadeBlue"></a>
                    </div>
                </div>
                @*<div class="row">

                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="button-section">
                            <a id="GuardarParcialmente" href="javascript:void(0);" class="btn btn-yellow"><span id="Cuantificacion0017"></span></a>
                            <a id="GenerarNumerosUnicos" href="javascript:void(0);" class="btn btn-yellow"><span id="Cuantificacion0018"></span></a>
                        </div>
                        <div class="button-section">
                            <a id="TerminarCuantificacion" href="javascript:void(0);" class="btn btn-black"><span id="Cuantificacion0020"></span></a>
                        </div>
                        <div class="button-section">
                            <a id="ImprimirEtiquetas" href="javascript:void(0);" class="btn btn-primary"><span id="Cuantificacion0028"></span></a>
                        </div>
                        <a id="Imprimir" href="javascript:void(0);" class="btn btn-fadeBlue"></a>
                    </div>
                </div>*@
            </div>
            
            <div class="row">
                <div class="filterForm col-sm-12 col-md-12 col-lg-11">
                    <div class="row">
                        <div class="form-group col-sm-6 col-md-4 col-lg-3">
                            <label id="Cuantificacion0012"></label>
                            <input id="FolioAvisoEntradaID" class="" />
                        </div>
                        <div class="form-group col-sm-6 col-md-4 col-lg-3">
                            <label id="Cuantificacion0013"></label>
                            <input id="ProyectoID" />
                        </div>
                        <div class="form-group col-sm-6 col-md-4 col-lg-3">
                            <label id="Cuantificacion0014"></label>
                            <input id="FolioCuantificacionID" />
                        </div>
                        <div class="form-group col-sm-6 col-md-4 col-lg-3">
                            <label id="Cuantificacion0015"></label>
                            <input id="BultoID"  disabled="disabled"/>
                        </div>
                        <div class="form-group col-sm-6 col-md-4 col-lg-3">
                            <label id="Cuantificacion0016"></label>
                            <input id="PackingList" />
                        </div>
                        <div class="form-group col-sm-6 col-md-4 col-lg-3">
                            <label id="Cuantificacion0017"></label>
                            <input id="TipoPackingListID" />
                        </div>
                        <div class="form-group col-sm-6 col-md-4 col-lg-3">
                            <label id="Cuantificacion0018"></label>
                            <input id="TipoUsoID" />
                        </div>
                        <div class="form-group col-sm-6 col-md-4 col-lg-3">
                            <label id="Cuantificacion0019"></label>
                            <button id="massiveUpload" class="btn btn-primary"><span id="Cuantificacion0020"></span></button>
                            <input name="txtFileUpload" id="txtFileUpload" type="file" class="hidden"/>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="filterForm col-sm-12 col-md-12 col-lg-11">
                    <div class="row">
                        <div class="form-group col-sm-6 col-md-4 col-lg-3">
                            <label id="Cuantificacion0022"></label>
                            <input id="Colada" class="" />
                        </div>
                        <div class="form-group col-sm-6 col-md-4 col-lg-3">
                            <label id="Cuantificacion0023"></label>
                            <input id="Cantidad" class="" />
                        </div>
                        <div class="form-group col-sm-6 col-md-4 col-lg-3">
                            <label id="Cuantificacion0024"></label>
                            <input id="MM" class="" />
                        </div>
                        <div class="form-group col-sm-6 col-md-4 col-lg-3">
                            <label id="Cuantificacion0025"></label>
                            <label id="Cuantificacion0026"></label>
                            <input id="todos" class="" type="radio" name="radio" checked/ value="1">
                            <label id="Cuantificacion0027"></label>
                            <input id="vacios" class="" type="radio" name="radio" value="2"/>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="grid"></div>
        </div>
    </div>
</div>


<script>
    @section JavascriptGlobalVariables 
    {
            var Proyecto = {}, Cuantificacion = {}, FolioAvisoEntrada = {}, TipoPackingList = {}, TipoUso = {}, resultadoJson,
            itemCodesJson, lastEditedCellID = "", familiasJson,
            cedulasJson, tipoAceroJson;

            var _folioAvisoEntradaID = getUrlParameter("FolioAvisoEntradaID", "-1");
            var _folioCuantificacion = getUrlParameter("FolioCuantificacionID", "-1");
            //var _packingListID = getUrlParameter("packingListID", "-1");
    };

    @section JavascriptGlobalFunctions 
    {
    function changeLanguageCall() {
        LoadGridQuantification();
    }

    function cargaInicial() {
        document.getElementById('txtFileUpload').addEventListener('change', upload, false);
       
        document.getElementById("txtFileUpload").addEventListener("click", function (event) {
            this.value = null;
        });

        //Botones
        $("#Guardar").click(function () { });
        $("#TerminaryNuevo").click(function () { SaveAndNew(); });
        $("#GuardareImprimir").click(function () { SavePrint(); });
        $("#GuardarParcialmente").click(function () { SavePartially(false);});
        $("#GuardarParcialyNuevo").click(function () { SavePartially(true); });
        $("#GuardaryCerrar").click(function () { SaveAndClose(); });
        $("#Cancelar").click(function () { Cancel();});
        $("#GenerarOrdenRecepción").click(function () { GenerateOrderReception(); });
        $("#massiveUpload").click(function () { $(".k-upload-files.k-reset").find("li").remove(); });

        $("#FolioAvisoEntradaID").kendoComboBox({
                dataTextField: "id",
                dataValueField: "value",
                select: function (e) {
                    var dataItem = this.dataItem(e.item.index());
                    CargarFolioAvisoEntrada(dataItem.id,dataItem.value);
                   
                },
                change: function (e) {
                    var value = this.value();
                    limpiarfiltrosFolioAvisoEntrada();
                    if (value)
                    {
                        ObtenerDatosDelFolioAvisoLlegada();
                    } else {
                        FolioAvisoEntrada = {};
                    }
                    
                },
                filter: "contains",
        });
        ObtenerFoliosAvisoLlegada();

        $("#ProyectoID").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "ProyectoID",
            select: function (e) {
                var dataItem = this.dataItem(e.item.index());
                CargarProyecto(dataItem.ProyectoID, dataItem.Nombre);
            },
            change: function (e) {
                var value = this.value();
                if (!value) {
                    Proyecto = {};
                };
            },
            filter: "contains",
        });
        ObtenerProyecto();


        $("#FolioCuantificacionID").kendoComboBox({
            dataTextField: "FolioCuantificacionID",
            dataValueField: "FolioAvisoEntradaID",
            select: function (e) {
                var dataItem = this.dataItem(e.item.index());
                CargarFolioCuantificacion(dataItem.FolioCuantificacionID);
            },
            change: function (e) {
                var value = this.value();
                limpiarfiltrosFolioCuantificacion();
                if(value){
                    ObtenerDatosDelFolioAvisoLlegadaCuantificacion(FolioAvisoEntrada.FolioAvisoEntradaID, value);// debe de ponerse el folio de llegada de material
                } else {
                    Cuantificacion = {};
                }
        },
            filter: "contains",
        });

        $("#TipoPackingListID").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "id",
            select: function (e) {
                var dataItem = this.dataItem(e.item.index());
                CargarTipoPackingList(dataItem.id, dataItem.Nombre);
            },
            change: function (e) {
                var value = this.value();
                if (!value) {
                    TipoPackingList = {};
                } else {
                    var grid = $("#grid").data("kendoGrid");
                    if (value=="2") {//Tubo
                        grid.hideColumn("MM");
                    } else {
                        grid.showColumn("MM");
                    }
                };
            },
            filter: "contains",
        });
        obtenerTipoPackingList();

        $("#TipoUsoID").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "id",
            select: function (e) {
                var dataItem = this.dataItem(e.item.index());
                CargarTipoUso(dataItem.id, dataItem.Nombre);
            },
            change: function (e) {
                var value = this.value();
                if (!value) {
                    TipoUso = {};
                };
            },
            filter: "contains",
        });
        ObtenerTipoUso();

        $("#Colada").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "TransportistaID",
            select: function (e) {
                
            },
            change: function (e) {
                var value = this.value();
                changeValueColumnColada($("#Colada").data("kendoComboBox").text());
            },
            filter: "contains",
        });

        ObtenerTransportista();

        $("#Cantidad").keyup(function () {
            changeValueColumnCantidad(this.value);
        });

        $("#MM").keyup(function () {
            if (TipoPackingList.TipoPackingListID == "1") {//Tubo
                changeValueColumnMM(this.value);
            }
        });
        $('input:radio').click(function () {
            if ($(this).val() === '1') {
                changeValueColumnsAll();
            } else if ($(this).val() === '2') {
                changeValueColumnsClear();
            }
        });
        //Autocomplete GRID
        cargarItemCodeAutocomplete();
        cargarfamiliaAutocomplete();
        cargarcedulaAutocomplete();
        cargartipoAceroAutocomplete();

    };

    function cargaInicialEdicion() {

        var Client = new $.RestClient($BackEndSAMUri + '/backendsam/api/');
        Client.add('DummyEdicionCuantificacion');

        Client.DummyEdicionCuantificacion.read({}, { folioLlegadaID: _folioLlegadaID, folioEntradaID: _folioEntradaID, packingListID: _packingListID, username: Cookies.get("user"), token: Cookies.get("token") }).done(function (data) {

            if (data.Proyecto) {
                CargarProyecto(data.Proyecto.ProyectoID, data.Proyecto.Nombre);
                $("#ProyectoID").data("kendoAutoComplete").value(data.Proyecto.Nombre);
            }

            if (data.FolioLlegada) {
                CargarFolioLlegada(data.FolioLlegada.FolioLlegadaID, data.FolioLlegada.Consecutivo);
                $("#FolioLlegadaID").data("kendoAutoComplete").value(data.FolioLlegada.FolioLlegadaID);
            }

            $("#PackingList").val(_packingListID);

            if (data.ListadoCuantificacion) {
                $("#grid").data("kendoGrid").dataSource.data(data.ListadoCuantificacion);
            }

            if (data.TerminadoCuantificacion) {
                deshabilitarControles();
            };
        });
    };

    function CargarProyecto(id, value) {
        Proyecto = {};
        Proyecto = { ProyectoID: id, Nombre: value };
    };

    function CargarFolioAvisoEntrada(id, value) {
        FolioAvisoEntrada = {};
        FolioAvisoEntrada = { FolioAvisoEntradaID: id, FolioLlegadaMaterial: value };
    };
    
    function CargarTipoPackingList(id, value) {
        TipoPackingList = {};
        TipoPackingList = { TipoPackingListID: id, Nombre: value };
    };

    function CargarTipoUso(id, value) {
        TipoUso = {};
        TipoUso = { TipoUsoID: id, Nombre: value };
    };

    function CargarFolioCuantificacion(id) {
        Cuantificacion = {};
        Cuantificacion = { FolioCuantificacionID: id };
    };

    function LoadGridQuantification() {
        $("#grid").kendoGrid({
            dataSource: {
                data: resultadoJson,
                autoSync: true,
                schema: {
                    model: {
                        fields: {
                            ItemCode: { type: "string", editable: true },
                            Descripcion: { type: "string", editable: false },
                            D1: { type: "number", editable: true },
                            D2: { type: "number", editable: true },
                            ItemCodeSteelgo: { type: "string", editable: true },
                            Familia: { type: "string", editable: false },
                            Cedula: { type: "string", editable: false },
                            TipoAcero: { type: "string", editable: false },
                            Colada: { type: "string", editable: true },
                            Cantidad: { type: "number", editable: true },
                            MM: { type: "number", editable: true },
                            Detallar: { type: "boolean", defaultValue: false, editable: false },
                            TieneNU: { type: "boolean", defaultValue: false, editable: false },
                            TieneError: { type: "boolean", defaultValue: false, editable: false }
                        }
                    }
                },
                pageSize: 20,
                serverPaging: false,
                serverFiltering: false,
                serverSorting: false,
                aggregate: [
                             { field: "Descripcion", aggregate: "count" },
                             { field: "Cantidad", aggregate: "sum" }
                ]
            },
            autoHeight: true,
            sortable: true,
            scrollable: false,
            filterable: true,
            pageable: false,
            groupable: true,
            editable: "incell",
            edit: function(e) {
            //    if (e.model.TieneNU) {
            //        //No se permite la edición de los que tengan
            //        //asignado numero unico
            //        this.closeCell();
            //    }
            },
            toolbar: [
                    "create"
            ],
            allowCopy: true,
            navigatable: true,
            columns: [
                { field: "ItemCode", title: _dictionary.Cuantificacion0028[$("#language").data("kendoDropDownList").value()], editor: itemCodeAutocomplete, filterable: true },
                { field: "Descripcion", title: _dictionary.Cuantificacion0029[$("#language").data("kendoDropDownList").value()], filterable: true, aggregates: ["count"], footerTemplate: "Total Count: #=count#", groupFooterTemplate: "Count: #=count#" },
                { field: "D1", title: _dictionary.Cuantificacion0030[$("#language").data("kendoDropDownList").value()], filterable: true },
                { field: "D2", title: _dictionary.Cuantificacion0031[$("#language").data("kendoDropDownList").value()], filterable: true },
                { field: "ItemCodeSteelgo", title: _dictionary.Cuantificacion0032[$("#language").data("kendoDropDownList").value()], editor: itemCodeAutocomplete, filterable: true },
                { field: "Familia", title: _dictionary.Cuantificacion0033[$("#language").data("kendoDropDownList").value()], filterable: true },
                { field: "Cedula", title: _dictionary.Cuantificacion0034[$("#language").data("kendoDropDownList").value()], filterable: true },
                { field: "TipoAcero", title: _dictionary.Cuantificacion0035[$("#language").data("kendoDropDownList").value()], filterable: true },
                { field: "Colada", title: _dictionary.Cuantificacion0036[$("#language").data("kendoDropDownList").value()], editor: tipoAceroAutocomplete, filterable: true },
                { field: "Cantidad", title: _dictionary.Cuantificacion0037[$("#language").data("kendoDropDownList").value()], filterable: true, aggregates: ["sum"], footerTemplate: "Total SUM: #=sum#", groupFooterTemplate: "SUM: #=sum#" },
                { field: "MM", title: _dictionary.Cuantificacion0038[$("#language").data("kendoDropDownList").value()], editor: tipoAceroAutocomplete, filterable: true },
                { field: "Detallar", title: _dictionary.Cuantificacion0039[$("#language").data("kendoDropDownList").value()], filterable: true },
                { field: "TieneNU", title: _dictionary.Cuantificacion0040[$("#language").data("kendoDropDownList").value()], filterable: true },
                { field: "TieneError", title: _dictionary.Cuantificacion0041[$("#language").data("kendoDropDownList").value()], filterable: true, hidden: true }
            ]
        });
    };

        function ObtenerFoliosAvisoLlegada() {
            $folioEntradaMaterial.Listado.read({ tipoListado: 1, token: Cookies.get("token"), parametroBusqueda: "" }).done(function (result) {
                ControlErroresObjetosComboBox("FolioAvisoEntradaID", result);
            });
        };

        function ObtenerProyecto() {
            $Proyecto.Proyecto.read({ token: Cookies.get("token") }).done(function (result) {
                ControlErroresObjetosComboBox("ProyectoID", result);
            });
        };

        function obtenerTipoPackingList() {
            $DummyTipoPackingList.DummyTipoPackingList.read({ token: Cookies.get("token") }).done(function (result) {
                ControlErroresObjetosComboBox("TipoPackingListID", result);
            });
        };

        function ObtenerTipoUso() {
            $DummyTipoUso.DummyTipoUso.read({ token: Cookies.get("token") }).done(function (result) {
                ControlErroresObjetosComboBox("TipoUsoID", result);
            });
        };

        function ObtenerDatosDelFolioAvisoLlegada() {
            console.log("ObtenerDatosDelFolioAvisoLlegada " + FolioAvisoEntrada.FolioAvisoEntradaID);
            $dummyObtenerDatosFolioAviso.DummyObtenerDatosFolioAvisoEntrada.read({ FolioAvisoEntradaID: FolioAvisoEntrada.FolioAvisoEntradaID, token: Cookies.get("token") }).done(function (result) {

                if (Error(result)) {
                    ControlErroresObjetosComboBox("ProyectoID", result.Proyecto);
                    ControlErroresObjetosComboBox("FolioCuantificacionID", result.FolioLlegada);
                } else {
                    limpiarfiltrosFolioAvisoEntrada();
                };
            });
        };

        function ObtenerDatosDelFolioAvisoLlegadaCuantificacion(folio, cuantificacion) {
            console.log("$dummyObtenerDatosFolioLlegadaMaterial " + folio + ", " + cuantificacion);
            $dummyObtenerDatosFolioLlegadaMaterial.DummyObtenerDatosFolioLlegadaMaterial.read({ FolioLlegadaMaterialID: FolioAvisoEntrada.FolioAvisoEntradaID, FolioCuantificacion: cuantificacion, token: Cookies.get("token") }).done(function (result) {
                if (Error(result)) {
                    $("#ProyectoID").data("kendoComboBox").value(result.ProyectoID);
                    $("#BultoID").val(result.FolioLlegadaHijo);
                    $("#PackingList").val(result.PackingList);
                    $("#TipoPackingListID").data("kendoComboBox").value(result.TipoPackingList.id);
                    $("#TipoUsoID").data("kendoComboBox").value(result.TipoUso.id);

                    CargarProyecto(result.ProyectoID, $("#ProyectoID").data("kendoComboBox").text());
                    CargarTipoPackingList(result.TipoPackingList.id, $("#TipoPackingListID").data("kendoComboBox").text());
                    CargarTipoUso(result.TipoUso.id, $("#TipoUsoID").data("kendoComboBox").text());

                    var grid = $("#grid").data("kendoGrid");
                    if (result.TipoPackingList.id == "2") {//Tubo
                        grid.hideColumn("MM");
                    } else {
                        grid.showColumn("MM");
                    }

                    cargarGridPackingList();
                } else {
                    limpiarfiltrosFolioCuantificacion();
                };
            });
        }

        function ObtenerTransportista() {
            $Transportista.Transportista.read({ esAvisoEntrada: 0, token: Cookies.get("token") }).done(function (result) {
                ControlErroresObjetosComboBox("Colada", result);
            });
        };

        function changeValueColumnColada(value) {
            var filters = $("#grid").data("kendoGrid").dataSource.filter();
            var allData = $("#grid").data("kendoGrid").dataSource.data();
            var query = new kendo.data.Query(allData);
            var result = query.filter(filters).data;
            var datasource = result;

            $(datasource).each(function () {

                this.set("Colada", value);
            });
        };

        function changeValueColumnCantidad(value) {
            var filters = $("#grid").data("kendoGrid").dataSource.filter();
            var allData = $("#grid").data("kendoGrid").dataSource.data();
            var query = new kendo.data.Query(allData);
            var result = query.filter(filters).data;
            var datasource = result;

            $(datasource).each(function () {
                this.set("Cantidad", value);
            });
        };

        function changeValueColumnMM(value) {
            var filters = $("#grid").data("kendoGrid").dataSource.filter();
            var allData = $("#grid").data("kendoGrid").dataSource.data();
            var query = new kendo.data.Query(allData);
            var result = query.filter(filters).data;
            var datasource = result;

            $(datasource).each(function () {
                this.set("MM", value);
            });
        };

        function changeValueColumnsAll() {
            var filters = $("#grid").data("kendoGrid").dataSource.filter();
            var allData = $("#grid").data("kendoGrid").dataSource.data();
            var query = new kendo.data.Query(allData);
            var result = query.filter(filters).data;
            var datasource = result;

            $(datasource).each(function () {
                this.set("Colada", $("#Colada").data("kendoComboBox").text());
                this.set("Cantidad", $("#Cantidad").val());
                if (TipoPackingList.TipoPackingListID == "1") {//TUBO
                    this.set("MM", $("#MM").val());
                }
            });
        }

        function changeValueColumnsClear() {
            var filters = $("#grid").data("kendoGrid").dataSource.filter();
            var allData = $("#grid").data("kendoGrid").dataSource.data();
            var query = new kendo.data.Query(allData);
            var result = query.filter(filters).data;
            var datasource = result;

            $(datasource).each(function () {
                this.set("Colada", "");
                this.set("Cantidad", "");
                if (TipoPackingList.TipoPackingListID == "1") {//TUBO
                    this.set("MM", "");
                }
            });
        }

        function limpiarfiltrosFolioAvisoEntrada() {
            $("#ProyectoID").data("kendoComboBox").dataSource.data([]);
            $("#ProyectoID").data("kendoComboBox").value("");
            $("#FolioCuantificacionID").data("kendoComboBox").dataSource.data([]);
            $("#FolioCuantificacionID").data("kendoComboBox").value("");
            $("#BultoID").val("");
            $("#PackingList").val("");
            $("#TipoPackingListID").data("kendoComboBox").value("");
            $("#TipoUsoID").data("kendoComboBox").value("");

            Cuantificacion = {};
            Proyecto = {};
            TipoPackingList = {};
            TipoUso = {};
        }

        function ControlErroresObjetosComboBox(control, result) {
            if (Error(result)) {
                $("#" + control).data("kendoComboBox").dataSource.data(result);
            } else {
                $("#" + control).data("kendoComboBox").dataSource.data([]);
            };
        };

        function limpiarfiltrosFolioCuantificacion() {
            Proyecto = {};
            TipoPackingList = {};
            TipoUso = {};

            $("#ProyectoID").data("kendoComboBox").value("");
            $("#BultoID").val("");
            $("#PackingList").val("");
            $("#TipoPackingListID").data("kendoComboBox").value("");
            $("#TipoUsoID").data("kendoComboBox").value("");
        }
    
        function SaveAndNew() {
            var j = 0, z = 0;
            var filters = $("#grid").data("kendoGrid").dataSource.filter();
            var allData = $("#grid").data("kendoGrid").dataSource.data();
            var query = new kendo.data.Query(allData);
            var result = query.filter(filters).data;
            var datasource = result;
            var folioAvisoEntradaID = FolioAvisoEntrada.FolioAvisoEntradaID ? FolioAvisoEntrada.FolioAvisoEntradaID : "-1";
            var folioCuantificacionID = Cuantificacion.FolioCuantificacionID ? Cuantificacion.FolioCuantificacionID : "-1";

            ListadoCuantificacionIncompletos = [];
            ListadoCuantificacion = [];

            for (i = 0; i < datasource.length; i++) {
                var ItemCode = datasource[i].ItemCode;
                var Descripcion = datasource[i].Descripcion;
                var D1 = datasource[i].D1;
                var D2 = datasource[i].D2;
                var ItemCodeSteelgo = datasource[i].ItemCodeSteelgo;
                var Familia = datasource[i].Familia;
                var Cedula = datasource[i].Cedula;
                var TipoAcero = datasource[i].TipoAcero;
                var Colada = datasource[i].Colada;
                var Cantidad = datasource[i].Cantidad;
                var MM = datasource[i].MM;
                var Detallar = datasource[i].Detallar;
                var TieneNU = datasource[i].TieneNU;
                var TieneError = datasource[i].TieneError;

                if (!ItemCode || !D1 || !D2 || !ItemCodeSteelgo || !Colada || !Cantidad) { // informacion incompleta
                    datasource[i].TieneError = true;
                    ListadoCuantificacionIncompletos[z] = { ItemCode: ItemCode, Descripcion: Descripcion, D1: D1, D2: D2, ItemCodeSteelgo: ItemCodeSteelgo, Familia: Familia, Cedula: Cedula, TipoAcero: TipoAcero, Colada: Colada, Cantidad: Cantidad, MM: MM, Detallar: Detallar, TieneNU: TieneNU, TieneError: true };
                    z++;
                } else { // informacion completa
                    ListadoCuantificacion[j] = { ItemCode: ItemCode, Descripcion: Descripcion, D1: D1, D2: D2, ItemCodeSteelgo: ItemCodeSteelgo, Familia: Familia, Cedula: Cedula, TipoAcero: TipoAcero, Colada: Colada, Cantidad: Cantidad, MM: MM, Detallar: Detallar, TieneNU: TieneNU, TieneError: TieneError };
                    j++;
                }

            }
           
            UpdateCuantificacion = { FolioAvisollegadaId: "", ProyectoID: "", FolioCuantificacionID: "", BultoID: "", PackingList: "", TipoPackingList: "", TipoUso: "" };
            UpdateCuantificacion.FolioAvisollegadaId = FolioAvisoEntrada.FolioAvisoEntradaID;
            UpdateCuantificacion.ProyectoID = Proyecto.ProyectoID;
            UpdateCuantificacion.FolioCuantificacionID = Cuantificacion.FolioCuantificacionID;
            UpdateCuantificacion.BultoID = $("#BultoID").val();
            UpdateCuantificacion.PackingList = $("#PackingList").val();
            UpdateCuantificacion.TipoPackingList = TipoPackingList.TipoPackingListID;
            UpdateCuantificacion.TipoUso = TipoUso.TipoUsoID;

            var Client = new $.RestClient($BackEndSAMUri + '/backendsam/api/');
            Client.add('DummyListadoCuantificacion');
            var incompletos = false;
            var detalleIdeaUrl = "@Url.Action("Cuantificacion", "Cuantificacion")";

            if (ListadoCuantificacionIncompletos) {
                incompletos = true;
                closed = false;
            }
            console.log("SaveAndnew" + JSON.stringify(ListadoCuantificacion));

            if (folioCuantificacionID != -1) {
                $DummyGuardarFolioLlegadaCuantificacion.DummyGuardarFolioLlegadaCuantificacion.update({}, { data: JSON.stringify(UpdateCuantificacion), token: Cookies.get("token") }).done(function (data) {
                    Client.DummyListadoCuantificacion.update({}, { cerrar: closed, incompletos: incompletos, FolioAvisollegadaId: FolioAvisoEntrada.FolioAvisoEntradaID, FolioCuantificacionID: Cuantificacion.FolioCuantificacionID, cuantificacion: JSON.stringify(ListadoCuantificacion), token: Cookies.get("token") }).done(function (data) {
                        console.log("DummyListadoCuantificacion.update");
                        llenarGrid(ListadoCuantificacion, ListadoCuantificacionIncompletos);
                        ordenamientoGrid();
                        if (incompletos) {
                            displayMessage("notificationslabel0037", "", '1');
                        } else {
                           window.location.href = detalleIdeaUrl + "?leng=" + $("#language").data("kendoDropDownList").value();
                        }
                    });
                });
            } else {
                $DummyGuardarFolioLlegadaCuantificacion.DummyGuardarFolioLlegadaCuantificacion.create({}, { data: JSON.stringify(UpdateCuantificacion), token: Cookies.get("token") }).done(function (data) {
                    Client.DummyListadoCuantificacion.create({}, { cerrar: closed, incompletos: incompletos, FolioAvisollegadaId: FolioAvisoEntrada.FolioAvisoEntradaID, FolioCuantificacionID: Cuantificacion.FolioCuantificacionID, cuantificacion: JSON.stringify(ListadoCuantificacion), token: Cookies.get("token") }).done(function (data) {
                        console.log("DummyListadoCuantificacion.create");
                        llenarGrid(ListadoCuantificacion, ListadoCuantificacionIncompletos);
                        ordenamientoGrid();
                        if (incompletos) {
                            displayMessage("notificationslabel0037", "", '1');
                        } else {
                            window.location.href = detalleIdeaUrl + "?leng=" + $("#language").data("kendoDropDownList").value();
                        }
                    });
                });
            }
        }

        function SaveAndClose() {
            var j = 0, z = 0;
            var filters = $("#grid").data("kendoGrid").dataSource.filter();
            var allData = $("#grid").data("kendoGrid").dataSource.data();
            var query = new kendo.data.Query(allData);
            var result = query.filter(filters).data;
            var datasource = result;
            var folioAvisoEntradaID = FolioAvisoEntrada.FolioAvisoEntradaID ? FolioAvisoEntrada.FolioAvisoEntradaID : "-1";
            var folioCuantificacionID = Cuantificacion.FolioCuantificacionID ? Cuantificacion.FolioCuantificacionID : "-1";

            ListadoCuantificacionIncompletos = [];
            ListadoCuantificacion = [];

            for (i = 0; i < datasource.length; i++) {
                var ItemCode = datasource[i].ItemCode;
                var Descripcion = datasource[i].Descripcion;
                var D1 = datasource[i].D1;
                var D2 = datasource[i].D2;
                var ItemCodeSteelgo = datasource[i].ItemCodeSteelgo;
                var Familia = datasource[i].Familia;
                var Cedula = datasource[i].Cedula;
                var TipoAcero = datasource[i].TipoAcero;
                var Colada = datasource[i].Colada;
                var Cantidad = datasource[i].Cantidad;
                var MM = datasource[i].MM;
                var Detallar = datasource[i].Detallar;
                var TieneNU = datasource[i].TieneNU;
                var TieneError = datasource[i].TieneError;

                if (!ItemCode || !D1 || !D2 || !ItemCodeSteelgo || !Colada || !Cantidad) { // informacion incompleta
                    datasource[i].TieneError = true;
                    ListadoCuantificacionIncompletos[z] = { ItemCode: ItemCode, Descripcion: Descripcion, D1: D1, D2: D2, ItemCodeSteelgo: ItemCodeSteelgo, Familia: Familia, Cedula: Cedula, TipoAcero: TipoAcero, Colada: Colada, Cantidad: Cantidad, MM: MM, Detallar: Detallar, TieneNU: TieneNU, TieneError: true };
                    z++;
                } else { // informacion completa
                    ListadoCuantificacion[j] = { ItemCode: ItemCode, Descripcion: Descripcion, D1: D1, D2: D2, ItemCodeSteelgo: ItemCodeSteelgo, Familia: Familia, Cedula: Cedula, TipoAcero: TipoAcero, Colada: Colada, Cantidad: Cantidad, MM: MM, Detallar: Detallar, TieneNU: TieneNU, TieneError: TieneError };
                    j++;
                }

            }

            UpdateCuantificacion = { FolioAvisollegadaId: "", ProyectoID: "", FolioCuantificacionID: "", BultoID: "", PackingList: "", TipoPackingList: "", TipoUso: "" };
            UpdateCuantificacion.FolioAvisollegadaId = FolioAvisoEntrada.FolioAvisoEntradaID;
            UpdateCuantificacion.ProyectoID = Proyecto.ProyectoID;
            UpdateCuantificacion.FolioCuantificacionID = Cuantificacion.FolioCuantificacionID;
            UpdateCuantificacion.BultoID = $("#BultoID").val();
            UpdateCuantificacion.PackingList = $("#PackingList").val();
            UpdateCuantificacion.TipoPackingList = TipoPackingList.TipoPackingListID;
            UpdateCuantificacion.TipoUso = TipoUso.TipoUsoID;

            var Client = new $.RestClient($BackEndSAMUri + '/backendsam/api/');
            Client.add('DummyListadoCuantificacion');
            var incompletos = false, closed = false;
            var detalleIdeaUrl = "@Url.Action("Cuantificacion", "Cuantificacion")";

            if (ListadoCuantificacionIncompletos) {
                incompletos = true;
                closed = false;
            }

            if (folioCuantificacionID != -1) {
                $DummyGuardarFolioLlegadaCuantificacion.DummyGuardarFolioLlegadaCuantificacion.update({}, { data: JSON.stringify(UpdateCuantificacion), token: Cookies.get("token") }).done(function (data) {
                    Client.DummyListadoCuantificacion.update({}, { cerrar: closed, incompletos: incompletos, FolioAvisollegadaId: FolioAvisoEntrada.FolioAvisoEntradaID, FolioCuantificacionID: Cuantificacion.FolioCuantificacionID, cuantificacion: JSON.stringify(ListadoCuantificacion), token: Cookies.get("token") }).done(function (data) {
                        console.log("DummyListadoCuantificacion.update");
                        llenarGrid(ListadoCuantificacion, ListadoCuantificacionIncompletos);
                        ordenamientoGrid();
                        if (incompletos) {
                            displayMessage("notificationslabel0037", "", '1');
                        }
                    });
                });
            } else {
                $DummyGuardarFolioLlegadaCuantificacion.DummyGuardarFolioLlegadaCuantificacion.create({}, { data: JSON.stringify(UpdateCuantificacion), token: Cookies.get("token") }).done(function (data) {
                    Client.DummyListadoCuantificacion.create({}, { cerrar: closed, incompletos: incompletos, FolioAvisollegadaId: FolioAvisoEntrada.FolioAvisoEntradaID, FolioCuantificacionID: Cuantificacion.FolioCuantificacionID, cuantificacion: JSON.stringify(ListadoCuantificacion), token: Cookies.get("token") }).done(function (data) {
                        console.log("DummyListadoCuantificacion.create");
                        llenarGrid(ListadoCuantificacion, ListadoCuantificacionIncompletos);
                        ordenamientoGrid();
                        if (incompletos) {
                            displayMessage("notificationslabel0037", "", '1');
                        }
                    });
                });
            }
        }

        function SavePrint() {
            var incompletos = false;
            var filters = $("#grid").data("kendoGrid").dataSource.filter();
            var allData = $("#grid").data("kendoGrid").dataSource.data();
            var query = new kendo.data.Query(allData);
            var result = query.filter(filters).data;
            var folioAvisoEntradaID = FolioAvisoEntrada.FolioAvisoEntradaID ? FolioAvisoEntrada.FolioAvisoEntradaID : "-1";
            var folioCuantificacionID = Cuantificacion.FolioCuantificacionID ? Cuantificacion.FolioCuantificacionID : "-1";

            console.log(JSON.stringify(result));

            UpdateCuantificacion = { FolioAvisollegadaId: "", ProyectoID: "", FolioCuantificacionID: "", BultoID: "", PackingList: "", TipoPackingList: "", TipoUso: "" };
            UpdateCuantificacion.FolioAvisollegadaId = FolioAvisoEntrada.FolioAvisoEntradaID;
            UpdateCuantificacion.ProyectoID = Proyecto.ProyectoID;
            UpdateCuantificacion.FolioCuantificacionID = Cuantificacion.FolioCuantificacionID;
            UpdateCuantificacion.BultoID = $("#BultoID").val();
            UpdateCuantificacion.PackingList = $("#PackingList").val();
            UpdateCuantificacion.TipoPackingList = TipoPackingList.TipoPackingListID;
            UpdateCuantificacion.TipoUso = TipoUso.TipoUsoID;

            var Client = new $.RestClient($BackEndSAMUri + '/backendsam/api/');
            Client.add('DummyListadoCuantificacion');

            if (folioCuantificacionID != -1) {
                $DummyGuardarFolioLlegadaCuantificacion.DummyGuardarFolioLlegadaCuantificacion.update({}, { data: JSON.stringify(UpdateCuantificacion), token: Cookies.get("token") }).done(function (data) {
                    Client.DummyListadoCuantificacion.update({}, { cerrar: false, incompletos: incompletos, FolioAvisollegadaId: FolioAvisoEntrada.FolioAvisoEntradaID, FolioCuantificacionID: Cuantificacion.FolioCuantificacionID, cuantificacion: JSON.stringify(result), token: Cookies.get("token") }).done(function (data) {
                        if (Error(data)) {
                            displayMessage("notificationslabel0038", '', '0');
                        }
                    });
                });
            } else {
                $DummyGuardarFolioLlegadaCuantificacion.DummyGuardarFolioLlegadaCuantificacion.create({}, { data: JSON.stringify(UpdateCuantificacion), token: Cookies.get("token") }).done(function (data) {
                    Client.DummyListadoCuantificacion.create({}, { cerrar: false, incompletos: incompletos, FolioAvisollegadaId: FolioAvisoEntrada.FolioAvisoEntradaID, FolioCuantificacionID: Cuantificacion.FolioCuantificacionID, cuantificacion: JSON.stringify(result), token: Cookies.get("token") }).done(function (data) {
                        console.log("DummyListadoCuantificacion.create");
                        if (Error(data)) {
                            displayMessage("notificationslabel0038", '', '0');
                        }
                    });
                });
            };
        };

        function SavePartially(guardarynuevo)
        {
                var incompletos = false;
                var filters = $("#grid").data("kendoGrid").dataSource.filter();
                var allData = $("#grid").data("kendoGrid").dataSource.data();
                var query = new kendo.data.Query(allData);
                var result = query.filter(filters).data;
                var folioAvisoEntradaID = FolioAvisoEntrada.FolioAvisoEntradaID ? FolioAvisoEntrada.FolioAvisoEntradaID : "-1";
                var folioCuantificacionID = Cuantificacion.FolioCuantificacionID ? Cuantificacion.FolioCuantificacionID : "-1";

                console.log(JSON.stringify(result));

                UpdateCuantificacion = { FolioAvisollegadaId: "", ProyectoID: "", FolioCuantificacionID: "", BultoID: "", PackingList: "", TipoPackingList: "", TipoUso: "" };
                UpdateCuantificacion.FolioAvisollegadaId = FolioAvisoEntrada.FolioAvisoEntradaID;
                UpdateCuantificacion.ProyectoID = Proyecto.ProyectoID;
                UpdateCuantificacion.FolioCuantificacionID = Cuantificacion.FolioCuantificacionID;
                UpdateCuantificacion.BultoID = $("#BultoID").val();
                UpdateCuantificacion.PackingList = $("#PackingList").val();
                UpdateCuantificacion.TipoPackingList = TipoPackingList.TipoPackingListID;
                UpdateCuantificacion.TipoUso = TipoUso.TipoUsoID;

                var Client = new $.RestClient($BackEndSAMUri + '/backendsam/api/');
                Client.add('DummyListadoCuantificacion');

                if (folioCuantificacionID != -1) {

                    $DummyGuardarFolioLlegadaCuantificacion.DummyGuardarFolioLlegadaCuantificacion.update({}, { data: JSON.stringify(UpdateCuantificacion), token: Cookies.get("token") }).done(function (data) {
                        Client.DummyListadoCuantificacion.update({}, { cerrar: false, incompletos: incompletos, FolioAvisollegadaId: FolioAvisoEntrada.FolioAvisoEntradaID, FolioCuantificacionID: Cuantificacion.FolioCuantificacionID, cuantificacion: JSON.stringify(result), token: Cookies.get("token") }).done(function (data) {
                            if (Error(data)) {
                                displayMessage("notificationslabel0038",'', '0');
                                if (guardarynuevo) {
                                    var detalleIdeaUrl = "@Url.Action("Cuantificacion", "Cuantificacion")";
                                window.location.href = detalleIdeaUrl + "?leng=" + $("#language").data("kendoDropDownList").value();
                            }
                        }
                    });
                });
            } else {
                $DummyGuardarFolioLlegadaCuantificacion.DummyGuardarFolioLlegadaCuantificacion.create({}, { data: JSON.stringify(UpdateCuantificacion), token: Cookies.get("token") }).done(function (data) {
                    Client.DummyListadoCuantificacion.create({}, { cerrar: false, incompletos: incompletos, FolioAvisollegadaId: FolioAvisoEntrada.FolioAvisoEntradaID, FolioCuantificacionID: Cuantificacion.FolioCuantificacionID, cuantificacion: JSON.stringify(result), token: Cookies.get("token") }).done(function (data) {
                        console.log("DummyListadoCuantificacion.create");
                        if (Error(data)) {
                            displayMessage("notificationslabel0038", '', '0');
                            if (guardarynuevo) {
                                var detalleIdeaUrl = "@Url.Action("Cuantificacion", "Cuantificacion")";
                                window.location.href = detalleIdeaUrl + "?leng=" + $("#language").data("kendoDropDownList").value();
                            }
                        }
                    });
                });
            };
        }
     

        function llenarGrid(dataJson, incompletos) {
            $("#grid").data("kendoGrid").dataSource.data([]);
            $.each(dataJson, function (key) {
                var item =
                       { ItemCode: dataJson[key].ItemCode, Descripcion: dataJson[key].Descripcion, D1: dataJson[key].D1, D2: dataJson[key].D2, ItemCodeSteelgo: dataJson[key].ItemCodeSteelgo, Familia: dataJson[key].Familia, Cedula: dataJson[key].Cedula, TipoAcero: dataJson[key].TipoAcero, Colada: dataJson[key].Colada, Cantidad: dataJson[key].Cantidad, MM: dataJson[key].MM, Detallar: dataJson[key].Detallar, TieneNU: dataJson[key].TieneNU, TieneError: dataJson[key].TieneError };
                $("#grid").data("kendoGrid").dataSource.insert(item);
            });

            $.each(incompletos, function (key) {
                var item =
                       { ItemCode: incompletos[key].ItemCode, Descripcion: incompletos[key].Descripcion, D1: incompletos[key].D1, D2: incompletos[key].D2, ItemCodeSteelgo: incompletos[key].ItemCodeSteelgo, Familia: incompletos[key].Familia, Cedula: incompletos[key].Cedula, TipoAcero: incompletos[key].TipoAcero, Colada: incompletos[key].Colada, Cantidad: incompletos[key].Cantidad, MM: dataJson[key].MM, Detallar: incompletos[key].Detallar, TieneNU: incompletos[key].TieneNU, TieneError: incompletos[key].TieneError };
                $("#grid").data("kendoGrid").dataSource.insert(item);
            });
        };

        function ordenamientoGrid() {
            var dsSort = [];
            dsSort.push({ field: "TieneError", dir: "desc" });
            $("#grid").data('kendoGrid').dataSource.sort(dsSort);
            $('#grid').data('kendoGrid').refresh();
        };


        //function guardadoParcial() {
        //    var filters = $("#grid").data("kendoGrid").dataSource.filter();
        //    var allData = $("#grid").data("kendoGrid").dataSource.data();
        //    var query = new kendo.data.Query(allData);
        //    var result = query.filter(filters).data;
        //    var foliollegadaID = FolioLlegada.length > 0 ? FolioLlegada[0].FolioLlegadaID : "";
        //    var proyectoID = Proyecto.length > 0 ? Proyecto[0].ProyectoID : "";

        //    console.log(JSON.stringify(result));

        //    if ($("#PackingList").val()) {
        //        var Client = new $.RestClient($BackEndSAMUri + '/backendsam/api/');
        //        Client.add('DummyListadoCuantificacion');

        //        Client.DummyListadoCuantificacion.update({}, { foliollegadaid: foliollegadaID, proyectoid: proyectoID, packingList: $("#PackingList").val(), cuantificacion: JSON.stringify(result), username: Cookies.get("user"), token: Cookies.get("token") }).done(function (data) {
        //            console.log("DummyListadoCuantificacion.update");
        //            $("#grid").data("kendoGrid").dataSource.data(data);
        //            ordenamientoGrid();
        //        });
        //    } else {
        //        var ClientPackingList = new $.RestClient($BackEndSAMUri + '/backendsam/api/');
        //        ClientPackingList.add('DummyPackingList');

        //        ClientPackingList.DummyPackingList.create({}, { foliollegadaid: foliollegadaID, proyectoid: proyectoID, username: Cookies.get("user"), token: Cookies.get("token") }).done(function (data) {
        //            console.log("DummyPackingList");
        //            $("#PackingList").val(data.PackingListID);

        //            var Client = new $.RestClient($BackEndSAMUri + '/backendsam/api/');
        //            Client.add('DummyListadoCuantificacion');

        //            Client.DummyListadoCuantificacion.create({}, { foliollegadaid: foliollegadaID, proyectoid: proyectoID, cuantificacion: JSON.stringify(result), username: Cookies.get("user"), token: Cookies.get("token") }).done(function (data) {
        //                console.log("DummyListadoCuantificacion.create");
        //                $("#grid").data("kendoGrid").dataSource.data(data);
        //                ordenamientoGrid();
        //            });
        //        });
        //    };

        //};

        function cargarGridPackingList() {
            GridPackingList = [];
            GridPackingList[0] = { FolioAvisoEntradaID:"" , FolioLlegadaMaterialID: ""};

            GridPackingList[0].FolioAvisoEntradaID = FolioAvisoEntrada.FolioAvisoEntradaID;
            GridPackingList[0].FolioCuantificacionID = Cuantificacion.FolioCuantificacionID;

            var Client = new $.RestClient($BackEndSAMUri + '/backendsam/api/');
            Client.add('DummyCargarGridPackingList');

            Client.DummyCargarGridPackingList.read({}, { gridPackingList: JSON.stringify(GridPackingList), username: Cookies.get("user"), token: Cookies.get("token") }).done(function (data) {
                console.log("DummyCargarGridPackingList FolioAvisoEntradaID: " + FolioAvisoEntrada.FolioAvisoEntradaID + ", FolioCuantificacionID: " + Cuantificacion.FolioCuantificacionID);
                if ($("#grid").data("kendoGrid")) {
                    if (data.ListadoCuantificacion.length > 0) {
                        $("#grid").data("kendoGrid").dataSource.data(data.ListadoCuantificacion);
                    } else {
                        $("#grid").data("kendoGrid").dataSource.data([]);
                    };
                };
            });
        };

        function cargarAutocompleteProyecto() {
            var ClientProy = new $.RestClient($BackEndSAMUri + '/backendsam/api/');
            ClientProy.add('Proyecto');

            ClientProy.Proyecto.read({}, { username: Cookies.get("user"), token: Cookies.get("token") }).done(function (data) {
                $("#ProyectoID").data("kendoAutoComplete").dataSource.data(data);
            });
        };

        function cargarAutocompleteFolioLlegada() {
            var ClientFolioLlegadaID = new $.RestClient($BackEndSAMUri + '/backendsam/api/');
            ClientFolioLlegadaID.add('FolioLlegada');

            ClientFolioLlegadaID.FolioLlegada.read({}, { username: Cookies.get("user"), token: Cookies.get("token") }).done(function (data) {
                $("#FolioLlegadaID").data("kendoAutoComplete").dataSource.data(data);
            });
        };


        function cargarFolioLlegadaPorProyecto() {
            var proyectoID;
            if (Proyecto[0]) {//arreglo
                proyectoID = Proyecto[0].ProyectoID;
            };
            var Client = new $.RestClient($BackEndSAMUri + '/backendsam/api/');
            Client.add('FolioLlegadaPorProyecto');

            Client.FolioLlegadaPorProyecto.read({}, { proyectoid: proyectoID, username: Cookies.get("user"), token: Cookies.get("token") }).done(function (data) {
                if (data.length == 0) {
                    $("#FolioLlegadaID").data("kendoAutoComplete").value("");
                }
                $("#FolioLlegadaID").data("kendoAutoComplete").dataSource.data(data);
            });
        };

        function cargarProyectoPorFolio() {
            var foliollegadaID;
            if (FolioLlegada[0]) {
                foliollegadaID = FolioLlegada[0].FolioLlegadaID;
            };
            var Client = new $.RestClient($BackEndSAMUri + '/backendsam/api/');
            Client.add('ProyectoPorFolioLlegada');

            Client.ProyectoPorFolioLlegada.read({}, { foliollegadaid: foliollegadaID, username: Cookies.get("user"), token: Cookies.get("token") }).done(function (data) {
                $("#ProyectoID").data("kendoAutoComplete").value(data[0].Nombre);
                CargarProyecto(data[0].ProyectoID, data[0].Nombre);
            });
        };

        

        function cargarItemCodeAutocomplete() {
            var Client = new $.RestClient($BackEndSAMUri + '/backendsam/api/');
            Client.add('DummyItemCode');

            Client.DummyItemCode.read({}, { username: Cookies.get("user"), token: Cookies.get("token") }).done(function (data) {
                console.log(data);
                itemCodesJson = data;
            });
        };

        function itemCodeAutocomplete(container, options) {
            $('<input required data-text-field="Codigo" data-value-field="ItemCodeID" data-bind="value:' + options.field + '"/>')
                .appendTo(container)
                .kendoAutoComplete({
                    autoBind: false,
                    dataTextField: "Codigo",
                    dataValueField: "ItemCodeID",
                    dataSource: {
                        data: itemCodesJson
                    },
                    change: function (e) {
                        $.each(itemCodesJson, function (index) {
                            if (this.Codigo == lastEditedCellID.ItemCode) {
                                lastEditedCellID.Descripcion = this.Descripcion;
                                lastEditedCellID.Familia = this.Familia;
                                lastEditedCellID.Cedula = this.Cedula;
                                lastEditedCellID.TipoAcero = this.TipoAcero;
                                lastEditedCellID.D1 = this.D1;
                                lastEditedCellID.D2 = this.D2;
                            };
                        });
                        $('#grid').data('kendoGrid').refresh();
                    }
                });
            lastEditedCellID = options.model;
        };

        function cargarfamiliaAutocomplete() {
            var Client = new $.RestClient($BackEndSAMUri + '/backendsam/api/');
            Client.add('DummyFamilia');

            Client.DummyFamilia.read({}, { username: Cookies.get("user"), token: Cookies.get("token") }).done(function (data) {
                console.log(data);
                familiasJson = data;
            });
        };

        function familiaAutocomplete(container, options) {
            $('<input required data-text-field="Nombre" data-value-field="FamiliaAceroID" data-bind="value:' + options.field + '"/>')
                .appendTo(container)
                .kendoAutoComplete({
                    autoBind: false,
                    dataSource: {
                        data: familiasJson
                    }
                });
        };

        function cargarcedulaAutocomplete() {
            var Client = new $.RestClient($BackEndSAMUri + '/backendsam/api/');
            Client.add('DummyCedula');

            Client.DummyCedula.read({}, { username: Cookies.get("user"), token: Cookies.get("token") }).done(function (data) {
                console.log(data);
                cedulasJson = data;
            });
        };

        function cedulaAutocomplete(container, options) {
            $('<input required data-text-field="Codigo" data-value-field="CedulaID" data-bind="value:' + options.field + '"/>')
                .appendTo(container)
                .kendoAutoComplete({
                    autoBind: false,
                    dataSource: {
                        data: cedulasJson
                    }
                });
        };

        function cargartipoAceroAutocomplete() {
            var Client = new $.RestClient($BackEndSAMUri + '/backendsam/api/');
            Client.add('DummyTipoAcero');

            Client.DummyTipoAcero.read({}, { username: Cookies.get("user"), token: Cookies.get("token") }).done(function (data) {
                console.log("DummyTipoAcero="+ data);
                tipoAceroJson = data;
            });
        };

        function tipoAceroAutocomplete(container, options) {
            $('<input required data-text-field="Nomenclatura" data-value-field="AceroID" data-bind="value:' + options.field + '"/>')
                .appendTo(container)
                .kendoAutoComplete({
                    autoBind: false,
                    dataSource: {
                        data: tipoAceroJson
                    }
                });
        };

        function deshabilitarControles() {
            $("#ProyectoID").kendoAutoComplete({ enable: false });
            $("#FolioLlegadaID").kendoAutoComplete({ enable: false });
            $("#GuardarParcialmente").attr("disabled", "disabled");
            $("#GenerarNumerosUnicos").attr("disabled", "disabled");
            $("#TerminarCuantificacion").attr("disabled", "disabled");
            $(".k-button").addClass("k-state-disabled").removeClass("k-grid-add");
            $("#FamiliaID").attr("disabled", "disabled");
            $("#CedulaID").attr("disabled", "disabled");
            $("#TipoAceroID").attr("disabled", "disabled");
            $("#Diametro1").attr("disabled", "disabled");
            $("#Diametro2").attr("disabled", "disabled");
            $("#Cantidad").attr("disabled", "disabled");
            $("#txtFileUpload").attr("disabled", "disabled");
        };

        function browserSupportFileUpload() {
            var isCompatible = false;
            if (window.File && window.FileReader && window.FileList && window.Blob) {
                isCompatible = true;
            }
            return isCompatible;
        };

        function upload(evt) {
            if (!(/\.(csv)$/i).test(evt.target.files[0].name)) {
                displayMessage("notificationslabel0018", "", '1');
                event.preventDefault();
            } else {
                if (!browserSupportFileUpload()) {
                    displayMessage("notificationslabel0019", "", '1');
                } else {
                    var dataJson = null;
                    var file = evt.target.files[0];
                    var reader = new FileReader();
                    reader.readAsText(file);

                    reader.onload = function (event) {
                        var csvData = event.target.result;
                        dataJson = $.parseJSON(csvJSON(csvData));

                        if (dataJson && dataJson.length > 0) {
                            $.each(dataJson, function (key) {
                                var item =
                                       { ItemCode: dataJson[key].ItemCode, Descripcion: dataJson[key].Descripcion, D1: dataJson[key].D1, D2: dataJson[key].D2, ItemCodeSteelgo: dataJson[key].ItemCodeSteelgo, Familia: dataJson[key].Familia, Cedula: dataJson[key].Cedula, TipoAcero: dataJson[key].TipoAcero, Colada: dataJson[key].Colada, Cantidad: dataJson[key].Cantidad, MM: dataJson[key].MM, Detallar: dataJson[key].Detallar, TieneNU: false, TieneError: false };
                                $("#grid").data("kendoGrid").dataSource.insert(item);
                            });
                            document.getElementById('txtFileUpload').addEventListener('change', upload, false);
                        } else {
                            displayMessage("notificationslabel0020", "", '1');
                        }
                    };
                    reader.onerror = function () {
                        displayMessage("notificationslabel0021", file.fileName, '1');
                    };
                }
            }
        };
       

        function Error(data) {
            if (data.ReturnCode) {
                if (data.ReturnCode != 200) {
                    if (data.ReturnCode == 401) {
                        removeUserSession();
                        return true;
                    } else {
                        displayMessage("notificationslabel0008", data.ReturnMessage, '2');
                        return false;
                    }
                } else {
                    return true;
                }
            } else {
                return true;
            }
        };

        }

        function imprimirEtiquetas() {
            var filters = $("#grid").data("kendoGrid").dataSource.filter();
            var allData = $("#grid").data("kendoGrid").dataSource.data();
            var query = new kendo.data.Query(allData);
            var result = query.filter(filters).data;
            var datasource = result;
            var _tieneNU = false;
            var strItemCodes = "";
            var x = 0;
            for (i = 0; i < datasource.length; i++) {
                if (datasource[i].TieneNU) {
                    _tieneNU = true;
                    if (x == 0) {
                        strItemCodes = datasource[i].ItemCode;
                    } else {
                        strItemCodes += "," + datasource[i].ItemCode;
                    }
                    x++;
                };
       
            };

            if (_tieneNU) {
                Cookies.set("ItemCodes", strItemCodes, {path: '/'});
                window.open("@Url.Action("FormatoEtiquetas", "Cuantificacion")");
            } else {
                displayMessage("notificationslabel0022", "", '1');
                return;
            }

        };
        function csvJSON(csv) {
            var lines = csv.split("\n");
            var result = [];
            var headers = lines[0].split(",");
            for (var i = 1; i < lines.length - 1; i++) 
            {
                var obj = {};
                var currentline = lines[i].split(",");

                for (var j = 0; j < headers.length; j++) {
                    if (headers[j] == "D1" || headers[j] == "D2" || headers[j] == "Cantidad" ) {
                        obj[headers[j]] = Number(currentline[j]);
                    } else {
                        if (headers[j] == "TieneError" || headers[j] == "TieneNU") {
                            obj[headers[j]] = currentline[j] == "True" ? true : false;
                        } else {
                            obj[headers[j]] = currentline[j];
                        }
                    }
            
                }

                result.push(obj);
            };

            return JSON.stringify(result);
        };
    
        @section JavascriptDocumentReadyFunctions 
    {
        cargaInicial();

        //if (_folioLlegadaID || _folioEntradaID || _packingListID) {
        //    cargaInicialEdicion();
        //};

        $("#massiveUpload").click( function () {
            $("#txtFileUpload").click();
        });
        }
</script>
