@{
    ViewBag.Title = "Listado Packing List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="ListadoPackingList0021"></span></a>
    </li>
    @*<li>
        <a href="@Url.Action("DashboardRecepcionAlmacenaje", "DashboardRecepcionAlmacenaje")"><span id="ListadoPackingList0022"></span></a>
    </li>*@
    <li class="active">
        <a href="@Url.Action("ListadoOrdenRecepcion", "OrdenRecepcion")"><span id="ListadoPackingList0020"></span></a>
    </li>
}

<div class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="formNav filtersFields clearfix">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-4 col-lg-3 longButton">
                        <div class="button-section">
                            <button id="Nuevo" type="button" class="btn btn-newArrival btn-yellow"><span id="ListadoPackingList0007"></span></button>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-8 col-lg-9 filter-section">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                <label id="ListadoPackingList0001"></label>
                                <input id="ClienteID" class="" />
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                <label id="ListadoPackingList0002"></label>
                                <input id="ProyectoID" class="" />
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                <label id="ListadoPackingList0003"></label>
                                <input id="FolioAvisoEntradaID" class="" />
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                <label id="ListadoPackingList0004"></label>
                                <input id="FechaInic" class="" />
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                <label id="ListadoPackingList0005"></label>
                                <input id="FechaFinal" class="" />
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                <label id="ListadoPackingList0006"></label>
                                <input id="PeriodoTiempo" class="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 listado">
            <div class="row">
                <div id="filterContainer" class="quick-filters col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="clearfix">
                        <input id="FechaAvisoLlegada" class="quickFilters general-input" />
                        <input id="FolioConfiguracion" class="quickFilters general-input" />
                        <input id="AvisoEntradaID" class="quickFilters general-input" />
                        <input id="PackingList" class="quickFilters general-input" />
                        <input id="FolioLlegada" class="quickFilters general-input" />
                        <input id="TipoPackingList" class="quickFilters general-input" />
                        <input id="TipoUso" class="quickFilters general-input" />
                        <input id="Estatus" class="quickFilters general-input" />
                    </div>
                </div>
            </div>
            <div id="grid"></div>
        </div>
    </div>
</div>
<input id="hdAccionFiltrado" type="hidden" />

<ul id="menu" class="incidencia">
    <li id="Incidencia"><span id="ListadoPackingList0023"></span></li>
</ul>
<script>
    @section JavascriptGlobalVariables 
    {
    var Cliente = {}, Proyecto = {}, FolioAvisoEntrada = {}, FechaInic, FechaFinal, PeriodoTiempo, resultadoJson;
    var _cuantificacionUrl = "@Url.Action("Cuantificacion", "Cuantificacion")";
    var _complementoUrl = "@Url.Action("ComplementoRecepcion", "ComplementoRecepcion")";
    var _incidenciasURL = "@Url.Action("Incidencias", "Incidencias")";

    var $ListadoPackingListModel = {
        listContainer: {
            create: ".button-section",
            list: ".listado",
            detail: ".detailLink",
            destroy: ".k-grid-Cancelar",
            createIncidence: ".incidencia"
        },
    };
    }

    @section JavascriptGlobalFunctions 
    {
        function changeLanguageCall() {
            var tmp = removeGrid($("#grid"));
            cargarInicialGrid();
            $("#grid").data("kendoGrid").dataSource.data(tmp);
            createPeriodoTiempo();            
    };
    function changeDatePickerDateFormat(datePickerOptions) {
        FechaInic.setOptions(datePickerOptions);
        FechaFinal.setOptions(datePickerOptions);
    };



    function CargaInicial() {
        $("#FechaAvisoLlegada").val("");
        $("#AvisoEntradaID").val("");
        $("#PackingList").val("");
        $("#FolioLlegada").val("");
        $("#TipoPackingList").val("");
        $("#TipoUso").val("");
        $("#Estatus").val("");

        $("#FechaAvisoLlegada").keyup(function () {
            var ds = $("#grid").data("kendoGrid").dataSource;
            ds.filter([
                {
                    "field": "FechaFolioAvisoEntrada",
                    "operator": "Contains",
                    "value": this.value
                }
            ]);
            if(!$("#FechaAvisoLlegada").val().length){ $("#FechaAvisoLlegada").parent().children("a.k-state-active").removeClass("k-state-active");}
            $("#FechaAvisoLlegada").focus();
        });


        $("#FolioConfiguracion").keyup(function () {
            var ds = $("#grid").data("kendoGrid").dataSource;
            ds.filter([
                {
                    "field": "FolioConfiguracion",
                    "operator": "Contains",
                    "value": this.value
                }
            ]);
            if (!$("#FolioConfiguracion").val().length) { $("#FolioConfiguracion").parent().children("a.k-state-active").removeClass("k-state-active"); }
            $("#FolioConfiguracion").focus();
        });


        $("#AvisoEntradaID").keyup(function () {
            var ds = $("#grid").data("kendoGrid").dataSource;
            ds.filter([
                {
                    "field": "FolioEntrada",
                    "operator": "Contains",
                    "value": this.value
                }
            ]);
            if(!$("#AvisoEntradaID").val().length){ $("#AvisoEntradaID").parent().children("a.k-state-active").removeClass("k-state-active");}
            $("#AvisoEntradaID").focus();
        });

        $("#PackingList").keyup(function () {
            var ds = $("#grid").data("kendoGrid").dataSource;
            ds.filter([
                {
                    "field": "PackingList",
                    "operator": "Contains",
                    "value": this.value
                }
            ]);
            if(!$("#PackingList").val().length){ $("#PackingList").parent().children("a.k-state-active").removeClass("k-state-active");}
            $("#PackingList").focus();
        });

        $("#FolioLlegada").keyup(function () {
            var ds = $("#grid").data("kendoGrid").dataSource;
            ds.filter([
                {
                    "field": "FolioCuantificacion",
                    "operator": "Contains",
                    "value": this.value
                }
            ]);
            if(!$("#FolioLlegada").val().length){ $("#FolioLlegada").parent().children("a.k-state-active").removeClass("k-state-active");}
            $("#FolioLlegada").focus();
        });

        $("#TipoPackingList").keyup(function () {
            var ds = $("#grid").data("kendoGrid").dataSource;
            ds.filter([
                {
                    "field": "TipoPackingList",
                    "operator": "Contains",
                    "value": this.value
                }
            ]);
            if(!$("#TipoPackingList").val().length){ $("#TipoPackingList").parent().children("a.k-state-active").removeClass("k-state-active");}
            $("#TipoPackingList").focus();
        });

        $("#TipoUso").keyup(function () {
            var ds = $("#grid").data("kendoGrid").dataSource;
            ds.filter([
                {
                    "field": "TipoUso",
                    "operator": "Contains",
                    "value": this.value
                }
            ]);
            if(!$("#TipoUso").val().length){ $("#TipoUso").parent().children("a.k-state-active").removeClass("k-state-active");}
            $("#TipoUso").focus();
        });

        $("#Estatus").keyup(function () {
            var ds = $("#grid").data("kendoGrid").dataSource;
            ds.filter([
                {
                    "field": "Estatus",
                    "operator": "Contains",
                    "value": this.value
                }
            ]);
            if(!$("#Estatus").val().length){ $("#Estatus").parent().children("a.k-state-active").removeClass("k-state-active");}
            $("#Estatus").focus();
        });

        $("#Nuevo").click(function () {
            var detalleIdeaUrl = "@Url.Action("Cuantificacion", "Cuantificacion")";
            window.location.href = detalleIdeaUrl + "?leng=" + $("#language").data("kendoDropDownList").value();
        });

        $("#ClienteID").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "ClienteID",
            select: function (e) {
            },
            change: function (e) {
                var dataItem = this.dataItem();
                dataItem!==undefined ? CargarCliente(dataItem.ClienteID, dataItem.Nombre):CargarCliente("", "");
                var value = this.value();
                if (!value || this.selectedIndex == -1) {
                    messageindexKendoCombobox(this);
                    Cliente = {};
                    this.value("");
                }
                Filtros();
            },
            filter: "contains",
        });
        ObtenerCliente();

        $("#ProyectoID").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "ProyectoID",
            select: function (e) {
            },
            change: function (e) {
                var dataItem = this.dataItem();
                dataItem!==undefined ? CargarProyecto(dataItem.ProyectoID, dataItem.Nombre):CargarProyecto("", "");
                var value = this.value();
                if (!value || this.selectedIndex == -1) {
                    messageindexKendoCombobox(this);
                    Proyecto = {};
                    this.value("");
                }
                Filtros();
            },
            filter: "contains",
        });

        ObtenerProyecto();


        $("#FolioAvisoEntradaID").kendoComboBox({
            dataTextField: "value",
            dataValueField: "id",
            filter: "contains",
            select: function (e) {
            },
            change: function (e) {
                var dataItem = this.dataItem();
                dataItem!==undefined ? CargarFolio(dataItem.id):CargarFolio("");
                var value = this.value();
                if (!value || this.selectedIndex == -1) {
                    messageindexKendoCombobox(this);
                    FolioAvisoEntrada = {};
                    this.value("");
                }
                Filtros();
            },
        });

        ObtenerFolioAvisoEntrada();

        $("#PeriodoTiempo").kendoComboBox({});

        FechaInic = new kendo.ui.DatePicker($("#FechaInic"));
        FechaFinal = new kendo.ui.DatePicker($("#FechaFinal"));

        $("#FechaInic").bind("change", function () {
            if (!$("#FechaInic").data("kendoDatePicker").value() && this.value!=="") {
                $("#FechaInic").css("color","#EB4D50");
                displayMessage("notificationslabel0082","","2")
            }else{
                $("#FechaInic").attr("style","")
                Filtros();
            }
        });

        $("#FechaFinal").bind("change", function () {
            if (!$("#FechaFinal").data("kendoDatePicker").value() && this.value!=="") {
                $("#FechaFinal").css("color","#EB4D50");
                displayMessage("notificationslabel0082","","2")
            }else{
                $("#FechaFinal").attr("style","")
                Filtros();
            }
        });

        ObtenerFechasporDefecto();
        Filtros();


    };

    function cargarInicialGrid() {
         $("#grid").kendoGrid({
            dataSource: {
                data: resultadoJson,
                schema: {
                    model: {
                        fields: {
                            FechaFolioAvisoEntrada: { type: "date" },
                            FolioConfiguracion: { type: "string" },
                            FolioEntrada: { type: "string" },
                            PackingList: { type: "string" },
                            FolioConfiguracionCuantificacionID: { type: "string" },
                            FolioCuantificacion: { type: "string" },
                            TipoPackingList: { type: "string" },
                            TipoUso: { type: "string" },
                            Estatus: { type: "string" },
                        }
                    }
                },
                serverPaging: false,
                serverFiltering: false,
                serverSorting: false,
                pageSize: 20,
                serverPaging: false,
                serverFiltering: false,
                serverSorting: false
            },
            autoHeight: true,
            sortable: true,
            scrollable: false,
            selectable: true,
            filterable: getKendoGridFilterable($("#language").data("kendoDropDownList").value()),
            pageable: {
                refresh: false,
                pageSizes: [10, 15, 20],
                info: false,
                input: false,
                numeric: true,
                buttonCount: 2
            },
            columns:[
                { field: "FechaFolioAvisoEntrada", title: _dictionary.ListadoPackingList0008[$("#language").data("kendoDropDownList").value()], format: "{0:dd/MM/yyyy}", },
                { field: "FolioConfiguracion", title: _dictionary.ListadoPackingList0009[$("#language").data("kendoDropDownList").value()], template: "<a class='detailLink' onclick='mostrarDetalle(#:FolioEntrada#,#:FolioCuantificacion#)'>#:FolioConfiguracion#</a>" },
                { field: "PackingList", title: _dictionary.ListadoPackingList0010[$("#language").data("kendoDropDownList").value()] },
                { field: "FolioConfiguracionCuantificacionID", title: _dictionary.ListadoPackingList0011[$("#language").data("kendoDropDownList").value()], template: "<a class='detailLink' onclick='mostrarDetalleComplemento(#:FolioCuantificacion#)'>#:FolioConfiguracionCuantificacionID#</a>" },
                { field: "TipoPackingList", title: _dictionary.ListadoPackingList0012[$("#language").data("kendoDropDownList").value()] },
                { field: "TipoUso", title: _dictionary.ListadoPackingList0013[$("#language").data("kendoDropDownList").value()] },
                { field: "Estatus", title: _dictionary.ListadoPackingList0014[$("#language").data("kendoDropDownList").value()] },
                 { field: "FolioCuantificacion", title: _dictionary.ListadoPackingList0011[$("#language").data("kendoDropDownList").value()], template: "<a class='detailLink' onclick='mostrarDetalleComplemento(#:FolioCuantificacion#)'>#:FolioCuantificacion#</a>", hidden: true },
                { field: "FolioEntrada", title: _dictionary.ListadoPackingList0009[$("#language").data("kendoDropDownList").value()], template: "<a class='detailLink' onclick='mostrarDetalle(#:FolioEntrada#,#:FolioCuantificacion#)'>#:FolioEntrada#</a>",hidden:true },
            ],
            dataBound: function (e) {
                //$(".k-grid input.k-textbox").prop('readonly', true);
                //$(".k-grid td .k-button").text('');
                //$(".k-grid td:first-child, .k-grid td:last-child").css('text-overflow', 'clip');
                
                //$("th[data-field='FechaFolioAvisoEntrada']").append($("#FechaAvisoLlegada"));
                //$("th[data-field='FolioConfiguracion']").append($("#FolioConfiguracion"));
                //$("th[data-field='FolioEntrada']").append($("#AvisoEntradaID"));
                //$("th[data-field='PackingList']").append($("#PackingList"));
                //$("th[data-field='FolioCuantificacion']").append($("#FolioLlegada"));
                //$("th[data-field='TipoPackingList']").append($("#TipoPackingList"));
                //$("th[data-field='TipoUso']").append($("#TipoUso"));
                //$("th[data-field='Estatus']").append($("#Estatus"));

                //$("#FechaAvisoLlegada").click(function (event) { event.stopPropagation(); });
                //$("#FolioConfiguracion").click(function (event) { event.stopPropagation(); });
                //$("#AvisoEntradaID").click(function( event ) {event.stopPropagation();});
                //$("#PackingList").click(function( event ) {event.stopPropagation();});
                //$("#FolioLlegada").click(function( event ) {event.stopPropagation();});
                //$("#TipoPackingList").click(function( event ) {event.stopPropagation();});
                //$("#TipoUso").click(function( event ) {event.stopPropagation();});
                //$("#Estatus").click(function( event ) {event.stopPropagation();});
                checkTH($("#grid").data("kendoGrid"));
                quickHeadFilter($("#grid").data("kendoGrid"));
            }
         });

         $("#menu").kendoContextMenu({
             target: "#grid",
             filter: "td",
             select: function (e) {
                 var grid = $("#grid").data("kendoGrid");
                 var select = grid.select();
                 var data = grid.dataItem(select);
                 window.open(_incidenciasURL + "?leng=" + $("#language").data("kendoDropDownList").value() + "&LevantarIncidencia=1&ReferenciaID=" + data.FolioCuantificacion + "&TipoIncidencia=4&Clasificacion=1");

             }
         });

         $("#grid").on("mousedown", "tr[role='row']", function (e) {
             $('#grid').data("kendoGrid").select(e.target.parentElement);
             $("#grid thead .k-state-selected> .k-link").css({
                 "color": "black"
             });
         });
    };



    function ObtenerFechasporDefecto() {
        var fechaFinal = new Date();
        var fechainicio = new Date(fechaFinal.getTime() - (7 * 24 * 3600 * 1000));

        if ($("#language").data("kendoDropDownList").value() == "es-MX") {
            format = "dd/MM/yyyy";
        } else {
            format = "MM/dd/yyyy";
        };

        var curr_date0 = fechainicio.getDate();
        var curr_month0 = fechainicio.getMonth() + 1; //Months are zero based
        var curr_year0 = fechainicio.getFullYear();


        var curr_date = fechaFinal.getDate();
        var curr_month = fechaFinal.getMonth() + 1; //Months are zero based
        var curr_year = fechaFinal.getFullYear();


        var fechaInicial = new Date(curr_year0, curr_month0 - 1, curr_date0);
        var fechFinal = new Date(curr_year, curr_month - 1, curr_date);

        var fechaInicialkendo = kendo.parseDate(fechaInicial, format);
        var fechaFinalkendo = kendo.parseDate(fechFinal, format);

        $("#FechaInic").data("kendoDatePicker").value(fechaInicialkendo);
        $("#FechaFinal").data("kendoDatePicker").value(fechaFinalkendo);
    };

    function createPeriodoTiempo() {
        $("#PeriodoTiempo").kendoComboBox({
            dataTextField: "Periodo",
            dataValueField: "PeriodoID",
            dataSource: [
                { "PeriodoID": "1", "Periodo": _dictionary.ListadoPackingList0015[$("#language").data("kendoDropDownList").value()] },
                { "PeriodoID": "2", "Periodo": _dictionary.ListadoPackingList0016[$("#language").data("kendoDropDownList").value()] },
                { "PeriodoID": "3", "Periodo": _dictionary.ListadoPackingList0017[$("#language").data("kendoDropDownList").value()] },
                { "PeriodoID": "4", "Periodo": _dictionary.ListadoPackingList0018[$("#language").data("kendoDropDownList").value()] },
                { "PeriodoID": "5", "Periodo": _dictionary.ListadoPackingList0019[$("#language").data("kendoDropDownList").value()] }
            ],
            select: function (e) {
            },
            change: function (e) {
                var dataItem = this.dataItem();
                dataItem!==undefined ? CargarPeriodoTiempo(dataItem.PeriodoID):CargarPeriodoTiempo("");
                var value = this.value();

                if (!value || this.selectedIndex == -1) {
                    messageindexKendoCombobox(this);
                    PeriodoTiempo = [];
                    this.value("");
                }
                ObtenerFechasporPeriodo(value);
                Filtros();
            },
            filter: "contains",
        });
    };

    function ObtenerFechasporPeriodo(id) {
        var fechaInicio = FechaFinal.value();
        var fechaFin = FechaFinal.value();

        if ($("#language").data("kendoDropDownList").value() == "es-MX") {
            format = "dd/MM/yyyy";
        } else {
            format = "MM/dd/yyyy";
        }

        if (!fechaInicio) {
            var todayInicio = new Date();
            var curr_dateInicio = todayInicio.getDate();
            var curr_monthInicio = todayInicio.getMonth() + 1;
            var curr_yearInicio = todayInicio.getFullYear();

            var todayInicial = new Date(curr_yearInicio, curr_monthInicio - 1, curr_dateInicio);
            fechaInicio = kendo.parseDate(todayInicial, format);
        }

        if (!fechaFin) {
            var todayFinal = new Date();
            var curr_dateFinal = todayFinal.getDate();
            var curr_monthFinal = todayFinal.getMonth() + 1;
            var curr_yearFinal = todayFinal.getFullYear();

            var todayFinal = new Date(curr_yearFinal, curr_monthFinal - 1, curr_dateFinal);
            fechaFin = kendo.parseDate(todayFinal, format);
        }

        

        var curr_date = fechaFin.getDate();
        var curr_month = fechaFin.getMonth() + 1;
        var curr_year = fechaFin.getFullYear();

        var fechaFinal = new Date(curr_year, curr_month - 1, curr_date);
        var fechaFinalkendo = kendo.parseDate(fechaFinal, format);

        switch (parseInt(id)) {
            case 1: //Semana Actual
                fechaInicio.setDate(fechaInicio.getDate() - 7);
                break;
            case 2: //Dos Semanas
                fechaInicio.setDate(fechaInicio.getDate() - 14);
                break;
            case 3: //Mes
                fechaInicio.setMonth(fechaInicio.getMonth() - 1);
                break;
            case 4: //Trimestre
                fechaInicio.setMonth(fechaInicio.getMonth() - 3);
                break;
            case 5: //Año
                fechaInicio.setFullYear(fechaInicio.getFullYear() - 1);
                break;
            default:
                fechaInicio.setDate(fechaInicio.getDate() - 7);
                break;
        }

        var curr_date0 = fechaInicio.getDate();
        var curr_month0 = fechaInicio.getMonth() + 1;
        var curr_year0 = fechaInicio.getFullYear();

        var fechaInicial = new Date(curr_year0, curr_month0 - 1, curr_date0);

        var fechaInicialkendo = kendo.parseDate(fechaInicial, format);

        $("#FechaInic").data("kendoDatePicker").value(fechaInicialkendo);
        $("#FechaFinal").data("kendoDatePicker").value(fechaFinalkendo);
    };

    function CargarCliente(id, value) {
        Cliente = {};
        Cliente = { ClienteID: id };
    };

    function CargarProyecto(id, value) {
        Proyecto = {};
        Proyecto = { ProyectoID: id, Nombre: value };
    };

    function CargarFolio(id) {
        FolioAvisoEntrada = {};
        FolioAvisoEntrada = { FolioAvisoEntradaID: id };
    };

    function CargarPeriodoTiempo(id) {
        PeriodoTiempo = {};
        PeriodoTiempo = { PeriodoTiempo: id };
    };

    function ControlErroresObjetosComboBox(control, result) {
        if (Error(result)) {
            $("#" + control).data("kendoComboBox").dataSource.data(result);
        } else {
            $("#" + control).data("kendoComboBox").dataSource.data([]);
        };
    };

    function ObtenerProyecto() {
        $Proyecto.Proyecto.read({ token: Cookies.get("token") }).done(function (result) {
            ControlErroresObjetosComboBox("ProyectoID", result);
        });
    };

    function ObtenerCliente() {
        $Cliente.Cliente.read({ token: Cookies.get("token") }).done(function (result) {
            ControlErroresObjetosComboBox("ClienteID", result);
        });
    };
    function ObtenerFolioAvisoEntrada() {
        $folioEntradaMaterial.Listado.read({ tipoListado: 1, token: Cookies.get("token"), parametroBusqueda: "" }).done(function (result) {
            ControlErroresObjetosComboBox("FolioAvisoEntradaID", result);
        });
    };

    function mostrarDetalle(folioAvisoLlegadaID, foliocuantificacion) {
        if ((typeof returnOfSecurityCheck != 'undefined') && (typeof returnOfSecurityCheck["Cuantificacion"] != 'undefined') && (typeof returnOfSecurityCheck["Cuantificacion"]["detail"] != 'undefined') && returnOfSecurityCheck["Cuantificacion"]["detail"]) {
            window.location.href = _cuantificacionUrl + "?leng=" + $("#language").data("kendoDropDownList").value() + "&EdicionPackingList=1" + "&FolioAvisoEntradaID=" + folioAvisoLlegadaID + "&FolioCuantificacionID=" + foliocuantificacion;
        }
    };

    function mostrarDetalleComplemento(foliocuantificacion) {
        if ((typeof returnOfSecurityCheck != 'undefined') && (typeof returnOfSecurityCheck["Cuantificacion"] != 'undefined') && (typeof returnOfSecurityCheck["Cuantificacion"]["detail"] != 'undefined') && returnOfSecurityCheck["Cuantificacion"]["detail"]) {
            window.location.href = _complementoUrl + "?leng=" + $("#language").data("kendoDropDownList").value() + "&Edicion=1&FolioCuantificacionID=" + foliocuantificacion;
        }
        
    };
    function Filtros() {
        var Listado;
        var accion = $("#hdAccionFiltrado").val() ? $("#hdAccionFiltrado").val() : 1;
        AccionesListado(accion);
    };

    function AccionesListado(accion) {
        //loadingStart();
        var Listado;
        Listado = ArregloListado(accion);

        $("#hdAccionFiltrado").val(accion);
        $folioEntradaMaterial.Listado.read({ data: JSON.stringify(Listado) }).done(function (data) {
            if (Error(data)) {
                resultadoJson = data;
                if ($("#grid").data("kendoGrid")) {
                    if (resultadoJson.length > 0) {
                        $("#grid").data("kendoGrid").dataSource.data(resultadoJson);
                        $("#grid").data("kendoGrid").dataSource.page(1);
                    } else {
                        $("#grid").data("kendoGrid").dataSource.data([]);
                        $("#grid").data("kendoGrid").dataSource.page(0);
                    };
                    AsignarPaginaActualCookie();
                    applySecurityPolicy(false);
                };
            };
            //loadingStop();
        });
    };

    function AsignarPaginaActualCookie() {
        Cookies.set("navegacion", "19", { path: '/' });
    }

    function ArregloListado(accion) {
        var Listado;
        Listado = { FolioAvisoEntradaID: "", ProyectoID: "", ClienteID: "", FechaInicial: "", FechaFinal: "", token: "" };

        var d = new Date($("#FechaInic").data("kendoDatePicker").value());
        var d1 = new Date($("#FechaFinal").data("kendoDatePicker").value());

        if (d.getFullYear() == "1969") {
            d = new Date();
            d.setDate(d.getDate() - 30);
        }
        if (d1.getFullYear() == "1969") {
            d1 = new Date();
        }

        Listado.FolioAvisoLlegadaID = FolioAvisoEntrada.FolioAvisoEntradaID ? FolioAvisoEntrada.FolioAvisoEntradaID : "";
        Listado.ProyectoID = Proyecto.ProyectoID ? Proyecto.ProyectoID : "";
        Listado.ClienteID = Cliente.ClienteID ? Cliente.ClienteID : "";
        Listado.FechaInicial = obtenerFormatoFecha(d);
        Listado.FechaFinal = obtenerFormatoFecha(d1);
        Listado.token = Cookies.get("token");
        Listado.TipoListado = 17;

        return Listado;
    };

    function imprimirOrden() {
        e.preventDefault();
        var dataItem = $("#grid").data("kendoGrid").dataItem($(e.currentTarget).closest("tr"));
        var OrdenRecepcion = dataItem.OrdenRecepcion;
        window.open("http://www.asp.net");
    };

    function obtenerFormatoFecha(d) {
        var curr_date = d.getDate();
        var curr_month = d.getMonth() + 1; //Months are zero based
        var curr_year = d.getFullYear();
        var horaActual = new Date();

        if (curr_year == "1969") {
            return null;
        } else {
            return curr_year + "-" + curr_month + "-" + curr_date + " " + horaActual.getHours() + ":" + horaActual.getMinutes() + ":" + horaActual.getSeconds();
        }
    };

    function Error(data) {
        if (data.ReturnCode) {
            if (data.ReturnCode != 200) {
                if (data.ReturnCode == 401) {
                    removeUserSession();
                    return false;
                } else {
                    displayMessage("notificationslabel0008", data.ReturnMessage, '2');
                    return false;
                }
            } else {
                return true;
            }
        } else {
            return true;
        }
    };
    }

    @section JavascriptDocumentReadyFunctions {
    CargaInicial();
    $authorizationModel["Cuantificacion"] = $ListadoPackingListModel;
    }
    @section JavascriptDocumentReadyHomeCookie 
    {
    Cookies.set("home", true, { path: '/' });
    Cookies.set("navegacion", "19", { path: '/' });
    }

</script>
