@{
    ViewBag.Title = "Dashboard - Llegada Material";
}

@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="DashboardLlegadaMaterial0001"></span></a>
    </li>
    <li>
        <a href="@Url.Action("DashboardLlegadaMaterial", "EntradaMaterial")"><span id="DashboardLlegadaMaterial0021"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("DashboardLlegadaMaterial", "EntradaMaterial")"><span id="DashboardLlegadaMaterial0002"></span></a>
    </li>
}


<div class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="formNav filtersFields clearfix">
                <div class="row">
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
                        <div class="button-section">
                            <button id="Nuevo" type="button" class="btn btn-yellow"><span id="DashboardLlegadaMaterial0014"></span></button>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 filter-section">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2">
                                <label id="DashboardLlegadaMaterial0004"></label>
                                <input id="PatioID" class="" />
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2">
                                <label id="DashboardLlegadaMaterial0003"></label>
                                <input id="ClienteID" class="" />
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2">
                                <label id="DashboardLlegadaMaterial0005"></label>
                                <input id="FechaInicial" class="" />
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2">
                                <label id="DashboardLlegadaMaterial0006"></label>
                                <input id="FechaFinal" class="" />
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2">
                                <label id="DashboardLlegadaMaterial0015"></label>
                                <input id="PeriodoTiempo" class="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="btn-group col-xs-12 col-sm-12 col-md-12 col-lg-12" role="group" arial-label="tabs">
                    

                    <button id="btnPorLlegar" class="btn btn-tab btn-dashLlegada">
                        <label id="DashboardLlegadaMaterial0007"></label>
                        <span id="spanPorLlegar"></span>
                    </button>
                    <button id="btnPorDescargar" class="btn btn-tab btn-dashLlegada">
                        <label id="DashboardLlegadaMaterial0008"></label>
                        <span id="spanPorDescargar"></span>
                    </button>
                    <button id="btnPorSalir" class="btn btn-tab btn-dashLlegada active">
                        <label id="DashboardLlegadaMaterial0009"></label>
                        <span id="spanPorSalir"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    @section JavascriptDocumentReadyHomeCookie {
    Cookies.set("home", true, { path: '/' });
    Cookies.set("navegacion", "10", { path: '/' });
    }

    @section JavascriptGlobalVariables {
    var Patio = {}, Cliente = {};
    var FechaInicial, FechaFinal, PeriodoTiempo;
    var invalidDate=false;

    var $LlegadaMaterialModel = {
        listContainer: {
            create: "#Nuevo",
            list: ".btn-group",
            detail: ".btn-dashLlegada",
            destroy: ""
        },
    };
    }
    @section JavascriptGlobalFunctions {

    function changeLanguageCall() {
        createPeriodoTiempo();
    }
    function createPeriodoTiempo() {
        $("#PeriodoTiempo").kendoComboBox({
            dataTextField: "Periodo",
            dataValueField: "PeriodoID",
            dataSource: [
                { "PeriodoID": "1", "Periodo": _dictionary.DashboardLlegadaMaterial0016[$("#language").data("kendoDropDownList").value()] },
                { "PeriodoID": "2", "Periodo": _dictionary.DashboardLlegadaMaterial0017[$("#language").data("kendoDropDownList").value()] },
                { "PeriodoID": "3", "Periodo": _dictionary.DashboardLlegadaMaterial0018[$("#language").data("kendoDropDownList").value()] },
                { "PeriodoID": "4", "Periodo": _dictionary.DashboardLlegadaMaterial0019[$("#language").data("kendoDropDownList").value()] },
                { "PeriodoID": "5", "Periodo": _dictionary.DashboardLlegadaMaterial0020[$("#language").data("kendoDropDownList").value()] }
            ],
            select: function (e) {
            },
            change: function (e) {
                var dataItem = this.dataItem(e.item.index());
                //console.log("dataItem");
                //console.log(dataItem);
                dataItem!==undefined ? CargarPeriodoTiempo(dataItem.PeriodoID):CargarPeriodoTiempo("");
                var value = this.value();

                if (!value || this.selectedIndex == -1) {
                    messageindexKendoCombobox(this);
                    PeriodoTiempo = [];
                    this.value("");
                }
                ObtenerFechasporPeriodo(value);

                CantidadesDelMenuDashboard();
            },
            filter: "contains",
        });
    }

    function changeDatePickerDateFormat(datePickerOptions) {
        FechaInicial.setOptions(datePickerOptions);
        FechaFinal.setOptions(datePickerOptions);
    };

    function ObtenerAccionesListado(Listado) {
        $folioEntradaMaterial.Listado.read({}, { data: JSON.stringify(Listado) }).done(function (result) {
            Error(result);

            //Segun resultado del controller result.Creados
            $("#spanPorLlegar").html(result.SinEstaus ? result.SinEstaus : 0);
            $("#spanPorDescargar").html(result.SinOrdenDescarga ? result.SinOrdenDescarga : 0);
            $("#spanPorSalir").html(result.SinPaseSalida ? result.SinPaseSalida : 0);
        });
    };

    function AccionesListado(accion) {
        var PatioID = Patio.PatioID ? Patio.PatioID : "";
        var ClienteID = Cliente.ClienteID ? Cliente.ClienteID : "";
        var PeriodoID = PeriodoTiempo ? PeriodoTiempo.PeriodoTiempo : "";

        var d = new Date($("#FechaInicial").data("kendoDatePicker").value());
        var d1 = new Date($("#FechaFinal").data("kendoDatePicker").value());

        if (d.getFullYear() == "1969") {
            d = new Date();
            d.setDate(d.getDate() - 30);
        }
        if (d1.getFullYear() == "1969") {
            d1 = new Date();
        }

        var fechainicial = obtenerFormatoFecha(d);
        var fechafinal = obtenerFormatoFecha(d1);

        var url = "@Url.Action("ListadoLlegadaMaterial", "EntradaMaterial")";
        window.location.href = url + "?leng=" + $("#language").data("kendoDropDownList").value() + "&DashBoardAccionListado=" + accion + "&DashPatioID=" + PatioID + "&DashClienteID=" + ClienteID + "&DashFechaInicial=" + fechainicial + "&DashFechaFinal=" + fechafinal + "&DashPeriodo=" + PeriodoID;
    };

    function CargarPatio(id, value) {
        Patio = {};
        Patio = { PatioID: id, Nombre: value };
    };

    function CargarCliente(id, value) {
        Cliente = {};
        Cliente = { ClienteID: id, Nombre: value };
    };
    function CargarPeriodoTiempo(id)
    {
        PeriodoTiempo = {};
        PeriodoTiempo = { PeriodoTiempo: id };
    }

    function ObtenerPatio() {
        $Patio.Patio.read({ esAvisoEntrada: 0, paginaID: Cookies.get("navegacion"), token: Cookies.get("token") }).done(function (result) {
            ControlErroresObjetosComboBox("PatioID", result);
        });
    };

    function ObtenerCliente() {
        $Cliente.Cliente.read({ token: Cookies.get("token") }).done(function (result) {
            ControlErroresObjetosComboBox("ClienteID", result);
        });
    };

    function ObtenerFechasporDefecto() {
        var fechaFinal = new Date();
        var fechainicio = new Date(fechaFinal.getTime() - (7 * 24 * 3600 * 1000));

        if ($("#language").data("kendoDropDownList").value() == "es-MX") {
            format = "dd/MM/yyyy";
        } else {
            format = "MM/dd/yyyy";
        }

        var curr_date0 = fechainicio.getDate();
        var curr_month0 = fechainicio.getMonth() + 1;
        var curr_year0 = fechainicio.getFullYear();

        var curr_date = fechaFinal.getDate();
        var curr_month = fechaFinal.getMonth() + 1;
        var curr_year = fechaFinal.getFullYear();

        var fechaInicial = new Date(curr_year0, curr_month0 - 1, curr_date0);
        var fechaFinal = new Date(curr_year, curr_month - 1, curr_date);

        var fechaInicialkendo = kendo.parseDate(fechaInicial, format);
        var fechaFinalkendo = kendo.parseDate(fechaFinal, format);

        $("#FechaInicial").data("kendoDatePicker").value(fechaInicialkendo);
        $("#FechaFinal").data("kendoDatePicker").value(fechaFinalkendo);
    };

    function ObtenerFechasporPeriodo(id) {
        var fechaInicio = FechaFinal.value();
        var fechaFin = FechaFinal.value();

        if ($("#language").data("kendoDropDownList").value() == "es-MX") {
            format = "dd/MM/yyyy";
        } else {
            format = "MM/dd/yyyy";
        }

        if (!fechaInicio) {
            var todayInicio = new Date();
            var curr_dateInicio = todayInicio.getDate();
            var curr_monthInicio = todayInicio.getMonth() + 1;
            var curr_yearInicio = todayInicio.getFullYear();

            var todayInicial = new Date(curr_yearInicio, curr_monthInicio - 1, curr_dateInicio);
            fechaInicio = kendo.parseDate(todayInicial, format);
        }

        if (!fechaFin) {
            var todayFinal = new Date();
            var curr_dateFinal = todayFinal.getDate();
            var curr_monthFinal = todayFinal.getMonth() + 1;
            var curr_yearFinal = todayFinal.getFullYear();

            var todayFinal = new Date(curr_yearFinal, curr_monthFinal - 1, curr_dateFinal);
            fechaFin = kendo.parseDate(todayFinal, format);
        }

        

        var curr_date = fechaFin.getDate();
        var curr_month = fechaFin.getMonth() + 1;
        var curr_year = fechaFin.getFullYear();

        var fechaFinal = new Date(curr_year, curr_month - 1, curr_date);
        var fechaFinalkendo = kendo.parseDate(fechaFinal, format);

        switch(parseInt(id))
        {
            case 1: //Semana Actual
                fechaInicio.setDate(fechaInicio.getDate() - 7);
                break;
            case 2: //Dos Semanas
                fechaInicio.setDate(fechaInicio.getDate() - 14);
                break;
            case 3: //Mes
                fechaInicio.setMonth(fechaInicio.getMonth() - 1);
                break;
            case 4: //Trimestre
                fechaInicio.setMonth(fechaInicio.getMonth() - 3);
                break;
            case 5: //Año
                fechaInicio.setFullYear(fechaInicio.getFullYear() - 1);
                break;
            default:
                fechaInicio.setDate(fechaInicio.getDate() - 7);
                break;
        }

        var curr_date0 = fechaInicio.getDate();
        var curr_month0 = fechaInicio.getMonth() + 1;
        var curr_year0 = fechaInicio.getFullYear();

        var fechaInicial = new Date(curr_year0, curr_month0 - 1, curr_date0);

        var fechaInicialkendo = kendo.parseDate(fechaInicial, format);

        $("#FechaInicial").data("kendoDatePicker").value(fechaInicialkendo);
        $("#FechaFinal").data("kendoDatePicker").value(fechaFinalkendo);
    }

    function Error(data) {
        if (data.ReturnCode) {
            if (data.ReturnCode != 200) {
                if (data.ReturnCode == 401) {
                    removeUserSession();
                } else {
                    displayMessage("notificationslabel0009", data.ReturnMessage, '2');
                    return;
                }
            } else {
                return true;
            }
        } else {
            return true;
        }
    };

    function CantidadesDelMenuDashboard() {
        var Listado;
        Listado = { PatioId: "", ClienteID: "", FechaInicial: "", FechaFinal: "", token: "", TipoListado: "" };

        var d = new Date($("#FechaInicial").data("kendoDatePicker").value());
        var d1 = new Date($("#FechaFinal").data("kendoDatePicker").value());

        if (d.getFullYear() == "1969") {
            d = new Date();
            d.setDate(d.getDate() - 30);
        }
        if (d1.getFullYear() == "1969") {
            d1 = new Date();
        }

        Listado.PatioId = $("#PatioID").data("kendoComboBox").value();
        Listado.FechaInicial = obtenerFormatoFechaConHora(d);
        Listado.FechaFinal = obtenerFormatoFechaConHora(d1);
        Listado.ClienteID = $("#ClienteID").data("kendoComboBox").value();
        Listado.token = Cookies.get("token");
        Listado.TipoListado = 5;
        //console.log("Cantidades del menu dashboard: " + JSON.stringify(Listado));

        ObtenerAccionesListado(Listado);
    }

    function obtenerFormatoFecha(d) {
        var curr_date = d.getDate();
        var curr_month = d.getMonth() + 1;
        var curr_year = d.getFullYear();
        if (curr_year == "1969") {
            return "";
        } else {
            return curr_year + "-" + curr_month + "-" + curr_date;
        }
    };

    function obtenerFormatoFechaConHora(d) {
        var curr_date = d.getDate();
        var curr_month = d.getMonth() + 1; //Months are zero based
        var curr_year = d.getFullYear();
            
        var horaActual = new Date();

        if (curr_year == "1969") {
            return null;
        } else {
            return curr_year + "-" + curr_month + "-" + curr_date + " " + horaActual.getHours() + ":" + horaActual.getMinutes() + ":" + horaActual.getSeconds();
        }
    };

    function ControlErroresObjetosComboBox(control, result) {
        if (Error(result)) {
            $("#" + control).data("kendoComboBox").dataSource.data(result);
        } else {
            $("#" + control).data("kendoComboBox").dataSource.data([]);
        };
    };
  }

    @section JavascriptDocumentReadyFunctions {

    $authorizationModel["LLegada Material"] = $LlegadaMaterialModel;

    $("#Nuevo").click(function () {
        var url = "@Url.Action("DetalleLlegadaMaterial", "EntradaMaterial")";
        window.open(url + "?leng=" + $("#language").data("kendoDropDownList").value());
    });

    //Botones Dashboard
    $("#btnPorLlegar").click(function () { AccionesListado(1); });
    $("#btnPorDescargar").click(function () { AccionesListado(2); });
    $("#btnPorSalir").click(function () { AccionesListado(3); });
   
    $("#PatioID").kendoComboBox({
        dataTextField: "Nombre",
        dataValueField: "PatioID",
        select: function (e) {
        },
        change: function (e) {
            var dataItem = this.dataItem();
            dataItem!==undefined ? CargarPatio(dataItem.PatioID, dataItem.Nombre):CargarPatio("", "");
            var value = this.value();
            if (!value || this.selectedIndex == -1) {
                messageindexKendoCombobox(this);
                Patio = [];
                this.value("");
            }
            CantidadesDelMenuDashboard();
        },
        filter: "contains",
    });
    ObtenerPatio();

    $("#ClienteID").kendoComboBox({
        dataTextField: "Nombre",
        dataValueField: "ClienteID",
        select: function (e) {
        },
        change: function (e) {
            var dataItem = this.dataItem();
            //console.log("dataItem");
            //console.log(dataItem);
            dataItem!==undefined ? CargarCliente(dataItem.ClienteID, dataItem.Nombre):CargarCliente("", "");
            var value = this.value();

            if (!value || this.selectedIndex == -1) {
                messageindexKendoCombobox(this);
                Cliente = [];
                this.value("");
            }
            CantidadesDelMenuDashboard();
        },
        filter: "contains",
    });
    ObtenerCliente();

    $("#PeriodoTiempo").kendoComboBox({});
   

    FechaInicial = new kendo.ui.DatePicker($("#FechaInicial"));
    FechaFinal = new kendo.ui.DatePicker($("#FechaFinal"));
    FechaInicial.bind("change",function(e){
        invalidDate=kendoDateValidation(this,FechaFinal);
        if(invalidDate){
            this.close();
            return false;
        }
    })
    FechaFinal.bind("change",function(e){
        invalidDate=kendoDateValidation(this);
        if(invalidDate){
            this.close();
            invalidDate=true;
            return false;
        }
    })
    $("#FechaInicial").bind("change", function () {
        if (!$("#FechaInicial").data("kendoDatePicker").value() && this.value!=="" && !invalidDate) {
            $("#FechaInicial").css("color","#EB4D50");
            displayMessage("notificationslabel0082","","2");
        }else{
            $("#FechaInicial").attr("style","");
            CantidadesDelMenuDashboard();
        }
    });

    $("#FechaFinal").bind("change", function () {
        if (!$("#FechaFinal").data("kendoDatePicker").value() && this.value!=="" && !invalidDate) {
            $("#FechaFinal").css("color","#EB4D50");
            displayMessage("notificationslabel0082","","2")
        }else{
            $("#FechaFinal").attr("style","");
            CantidadesDelMenuDashboard();
        }
    });

    ObtenerFechasporDefecto();
    CantidadesDelMenuDashboard();


    }
</script>
