@{
    ViewBag.Title = "DetalleEntradaMaterial";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="LlegadaMaterial0022"></span></a>
    </li>
    <li>
        <a href="@Url.Action("DashboardLlegadaMaterial", "EntradaMaterial")"><span id="LlegadaMaterial0036"></span></a>
    </li>
    <li>
        <a href="@Url.Action("ListadoLlegadaMaterial", "EntradaMaterial")"><span id="LlegadaMaterial0023"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("DetalleLlegadaMaterial", "EntradaMaterial")"><span id="LlegadaMaterial0024"></span></a>
    </li>
}

<div id="formLlegadaMaterial" class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <span id="divTitulos" class="folioLabel hidden">
                <span id="LlegadaMaterial0013"></span>
                <span id="spanFolioEntrada"></span>
                <span id="LlegadaMaterial0014"></span>
                <span id="SpanFolioLlegada"></span>
                <div class="branchCut"></div>
            </span>
            <div class="formNav clearfix">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="button-section">
                            <div class="btn-group save-group">
                                <button id="Guardar" onclick="javascript:void(0);" type="button" class="btn btn-yellow"><span id="LlegadaMaterial0011"></span></button>
                                <button id="Editar" onclick="javascript:void(0);" type="button" class="btn btn-yellow" style="display:none"><span id="LlegadaMaterial0044"></span></button>
                                <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caretWhite"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><span id="LlegadaMaterial0037"></span></a></li>
                                    <li><a href="#"><span id="LlegadaMaterial0038"></span></a></li>
                                </ul>
                            </div>
                            <a id="Cancelar" href="#" class="btn btn-black"><span id="LlegadaMaterial0012"></span></a>
                        </div>
                        <div class="button-section">
                            <a id="GenerarOrdenDescarga" href="" class="btn btn-primary"><span id="LlegadaMaterial0039"></span></a>
                        </div>
                        <div class="button-section">
                            <div class="dropdown action-group">
                                <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                                    <span id="LlegadaMaterial0040"></span>
                                    <span class="caretBlue"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="Acciones">
                                    <li><a><span id="LlegadaMaterial0041"></span></a></li>
                                    <li><a><span id="LlegadaMaterial0042"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <a id="Imprimir" href="" class="btn btn-fadeBlue"></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="filterForm col-sm-12 col-md-12 col-lg-11">
                    <div class="row">
                        <div id="divFolioEntradaID" class="form-group col-sm-6 col-md-4 col-lg-3">
                            <label id="LlegadaMaterial0003"></label>
                            <input id="FolioEntradaID" />
                        </div>
                        <div id="ClienteDiv" class="form-group col-sm-6 col-md-6 col-lg-3">
                            <label id="LlegadaMaterial0043" ></label>
                            <input id="ClienteID" />
                        </div>
                        <div class="form-group col-sm-6 col-md-4 col-lg-3">
                            <label id="LlegadaMaterial0002"></label>
                            <input id="ProyectoID" />
                        </div>
                        <div class="form-group col-sm-6 col-md-4 col-lg-3">
                            <label id="LlegadaMaterial0035"></label>
                            <input id="ProveedorID" class="" />
                        </div>
                         <div class="form-group col-sm-6 col-md-4 col-lg-3">
                            <label id="LlegadaMaterial0033"></label>
                            <input id="OrdenDeCompra" />
                        </div>
                        <div class="form-group col-sm-6 col-md-4 col-lg-3">
                            <label id="LlegadaMaterial0034"></label>
                            <input id="Factura" />
                        </div>
                        <div class="form-group col-sm-6 col-md-4 col-lg-3">
                            <label id="LlegadaMaterial0004"></label>
                            <input id="Estatus" />
                        </div>
                        <div id="divPatio" class="form-group col-sm-6 col-md-4 col-lg-3" style="display: none">
                            <label id="LlegadaMaterial0001"></label>
                            <input id="PatioID" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="addedSection clearfix">
                    <div class="form-group col-sm-12 col-md-12 col-lg-11">
                        <div class="col-sm-5 col-md-4 col-lg-3">
                            <label id="LlegadaMaterial0006"></label>
                            <input id="Descripcion" />
                        </div>
                        <div class="col-sm-7 col-md-8 col-lg-5">
                            <label id="LlegadaMaterial0005"></label>
                            <input name="files" id="AdjuntarArchivos" type="file" />
                        </div>
                    </div>
                    <div class="form-group col-sm-12 col-md-12 col-lg-12">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <table id="listaArchivos" class="filesTable">
                                <thead>
                                    <tr>
                                        <td>
                                            <label id="LlegadaMaterial0015"></label>
                                        </td>
                                        <td>
                                            <label id="LlegadaMaterial0016"></label>
                                        </td>
                                        <td>
                                            <label id="LlegadaMaterial0017"></label>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@*Ventana Modal*@
<div id="window">
    <div id="modalPatio" style="display: none">
                <div class="alert-container">
                    <div class="message">
                        Mensaje de éxito/error/advertencia
                    </div>
                </div>
                <div id="Nombre_PatioDiv" class="form-group">
                    <label id="LlegadaMaterial0045"></label>
                    <input id="Nombre_Patio" class="" />
                </div>
                <div id="Propietario_PatioDiv" class="form-group">
                    <label id="LlegadaMaterial0046"></label>
                    <input id="Propietario_Patio" class="" />
                </div>
                <div id="Descripcion_PatioDiv" class ="form-group">
                    <label id="LlegadaMaterial0047"></label>
                    <input id="Descripcion_Patio" class="l" />
                </div>
                <div id="RequierePermisoAduana_PatioDiv" class="form-group">
                    <label id="LlegadaMaterial0048" class="checkLabel"></label>
                    <input id="RequierePermisoAduana_Patio" class="l" type="checkbox" />
                </div>
                <div class="buttonSave">
                    <a id="GuardarPatio" href="#" class="btn btn-primary">
                        <span id="LlegadaMaterial0049"></span>
                    </a>
                    <a id="CancelarPatio" href="#" class="btn btn-primary">
                        <span id="LlegadaMaterial0050"></span>
                    </a>
                </div>
    </div>
</div>
<script type="text/javascript">
    kendo.ui.Upload.fn._supportsDrop = function () { return false; }
    @section JavascriptGlobalVariables {
    var folioAvisoLlegada = getUrlParameter("folioAvisoLlegadaID", "-1");
    var folioLlegada = getUrlParameter("folioLlegada", "-1");
        //your partial views variables
        var Patio = {}, Proyecto = {},
            Proveedor = {}, Folio = {},
            Cliente = {}, Estatus = {}, _estatus="En Patio";
    };
    
    @section JavascriptGlobalFunctions {
    function CargaInicial() {

            $("#GenerarOrdenDescarga").click(function (e) {
               if (folioLlegada == -1) {
                   displayMessage("notificationslabel0035", "", '1');
                    return;
               };
            });

            $("#Guardar").click(function (e) {
                GuardarLlegadaMaterial();
            });

            $("#Editar").click(function (e) {
                BotonEdicion();
                $("#AdjuntarArchivos").data("kendoUpload").enable();
            });

            $("#Cancelar").click(function (e) {
                var detalleIdeaUrl = "@Url.Action("ListadoLlegadaMaterial", "EntradaMaterial")";
                window.location.href = detalleIdeaUrl + "?leng=" + $("#language").data("kendoDropDownList").value();
            });

            // modal Patio
            $("#GuardarPatio").click(function (e) {
                if (validarRequeridosModalPatio()) {
                    GuardarPatio();
                } else {
                    displayMessage("notificationslabel0031", "", '1');
                };
            });
            $("#CancelarPatio").click(function (e) { CancelarPatio(); });

            $("#FolioEntradaID").kendoComboBox({
                dataTextField: "id",
                dataValueField: "value",
                filter: "contains",
                select: function (e) {
                    var dataItem = this.dataItem(e.item.index());
                    CargarFolio(dataItem.id);
                },
                change: function (e) {
                    var value = this.value();
                    if (!value) {
                        Folio = {};
                    };
                },
            });
            ObtenerFoliosAvisoLlegada();

            $("#ClienteID").kendoComboBox({
                dataTextField: "Nombre",
                dataValueField: "ClienteID",
                select: function (e) {
                    var dataItem = this.dataItem(e.item.index());
                    CargarCliente(dataItem.ClienteID, dataItem.Nombre);
                },
                change: function (e) {
                    var value = this.value();
                    if (!value) {
                        Cliente = {};
                    };
                },
                filter: "contains",
            });
            ObtenerCliente();

            $("#ProyectoID").kendoComboBox({
                dataTextField: "Nombre",
                dataValueField: "ProyectoID",
                select: function (e) {
                    var dataItem = this.dataItem(e.item.index());
                    CargarProyecto(dataItem.ProyectoID, dataItem.Nombre);
                },
                change: function (e) {
                    var value = this.value();
                    if (!value) {
                        Proyecto = {};
                    };
                },
                filter: "contains",
            });
            ObtenerProyecto();

            $("#ProveedorID").kendoComboBox({
                dataTextField: "Nombre",
                dataValueField: "ProveedorID",
                select: function (e) {
                    var dataItem = this.dataItem(e.item.index());
                    CargarProveedor(dataItem.ProveedorID, dataItem.Nombre);
                },
                change: function (e) {
                    var value = this.value();
                    if (!value) {
                        Proveedor = {};
                    };
                },
                filter: "contains",
            });
            ObtenerProveedor();

            $("#PatioID").kendoComboBox({
                dataTextField: "Nombre",
                dataValueField: "PatioID",
                select: function (e) {
                    var dataItem = this.dataItem(e.item.index());
                    if (dataItem.PatioID == 0) {
                        VentanaModal(1);
                        e.preventDefault();
                    }
                    CargarPatio(dataItem.PatioID, dataItem.Nombre);
                },
                change: function (e) {
                    var value = this.value();
                    if (!value) {
                        Patio = {};
                    };
                },
                filter: "contains",
            });
            ObtenerPatio();

            $("#Estatus").kendoComboBox({
                dataSource: {
                    serverFiltering: false,
                    type: "json",
                    transport: {
                        read: {
                            url: $BackEndSAMUri + "/backendsam/api/DummyEstatus",
                        }
                    }
                },
                dataTextField: "Nombre",
                dataValueField: "EstatusID",
                select: function (e) {
                    var dataItem = this.dataItem(e.item.index());
                    CargarEstatus(dataItem.EstatusID, dataItem.Nombre);
                    if (dataItem.Nombre == _estatus) {//En Patio
                        $("#divPatio").show();
                        $("#GenerarOrdenDescarga").removeAttr("disabled");
                    }
                    else
                    {
                        $("#divPatio").hide();
                        $("#PatioID").data("kendoComboBox").value("");
                        Patio = {};
                        $("#GenerarOrdenDescarga").attr("disabled", "disabled");
                    }
                },
                change: function (e) {
                    var value = this.value();
                    if (!value) {
                        $("#divPatio").hide();
                        $("#PatioID").data("kendoComboBox").value("");
                        Patio = {};
                        $("#GenerarOrdenDescarga").attr("disabled", "disabled");
                    };
                },
                filter: "contains",
            });

            $('#AdjuntarArchivos').kendoUpload({
                async: {
                    ////VAlida que este tomando todos los parametros por favor
                    saveUrl: $DocumentoLlegadaMaterialUploadFiles + folioLlegada + + "&token=" + Cookies.get("token"),
                    autoUpload: false,
                    withCredentials: false,
                    batch: true
                },
                success: function (data) {
                    HabilitarObtenerDocumentosLlegadaMaterial();
                },
                error: function (data) { },
                upload: onUploadAdjuntarArchivos
            });

           
            $("#AdjuntarArchivos").data("kendoUpload").enable(false);
            $("#Descripcion").attr('disabled', 'disabled');
            $("#GenerarOrdenDescarga").attr('disabled', 'disabled');
        };

    function CargaInicialEdicion(id) {
        $FiltrosListadoLlegadaMaterial.FolioAvisoEntrada.read({}, { FolioAvisoEntradaID: id, token: Cookies.get("token") }).done(function (data) {
                if (data.Proyecto) {
                    CargarProyecto(data.Proyecto.ProyectoID, data.Proyecto.Nombre);
                    $("#ProyectoID").data("kendoComboBox").value(data.Proyecto.Nombre);
                };

                if (data.Estatus) {
                    $("#Estatus").data("kendoComboBox").value(data.Estatus)
                    if (data.Estatus == "En Patio") {
                        $("#divPatio").show();
                        CargarPatio(data.Patio.PatioID, data.Patio.Nombre);
                        $("#PatioID").data("kendoComboBox").value(data.Patio.Nombre);
                    };
                };

                if (data.OrdenCompra) {
                    $("#OrdenDeCompra").val(data.OrdenCompra);
                };

                if (data.Factura) {
                    $("#Factura").val(data.Factura);
                };

                if (data.Proveedor) {
                    CargarProveedor(data.Proveedor.ProveedorID, data.Proveedor.Nombre);
                    $("#ProveedorID").data("kendoComboBox").value(data.Proveedor.Nombre);
                };

                if (data.Cliente) {
                    CargarCliente(data.Cliente.ClienteID, data.Cliente.Nombre);
                    $("#ClienteID").data("kendoComboBox").value(data.Cliente.Nombre);
                };

                $.each(data.Archivos, function (index, value) {
                    $("#listaArchivos").append("<tr id='" + value.id + "," + value.Extension + "'><td><a href='#' onclick='descargarArchivo(" + value.id + ");'>" + value.Archivo + "</a></td><td>" + value.Descripcion + "</td><td><a href='#' onclick='borrarArchivo(" + value.id + ",$(this));' >" + "<span class='delete'></span>" + "</a></td></tr>");
                });
            });
        };

        function ObtenerFoliosAvisoLlegada() {// MODIFICAR EL TIPO DE LISTADA, necesito obtener los folios que no tengan pase de salida
            $folioEntradaMaterial.Listado.read({ tipoListado: 1, token: Cookies.get("token"), parametroBusqueda: "" }).done(function (result) {
                ControlErroresObjetosComboBox("FolioEntradaID", result);
            });
        };

        function ObtenerCliente() {
            $Cliente.Cliente.read({ token: Cookies.get("token") }).done(function (result) {
                ControlErroresObjetosComboBox("ClienteID", result);
            });
        };

        function ObtenerProyecto() {
            $Proyecto.Proyecto.read({ token: Cookies.get("token") }).done(function (result) {
                ControlErroresObjetosComboBox("ProyectoID", result);
            });
        };

        function ObtenerProveedor() {
            $Proveedor.Proveedor.read({ esAvisoEntrada: 0, token: Cookies.get("token") }).done(function (result) {
                ControlErroresObjetosComboBox("ProveedorID", result);
            });
        };

        function ObtenerPatio() {
            $Patio.Patio.read({ esAvisoEntrada: 1, token: Cookies.get("token") }).done(function (result) {
                ControlErroresObjetosComboBox("PatioID", result);
            });
        };

        function CargarCliente(id, value) {
            Cliente = {};
            Cliente = { ClienteID: id, Nombre: value };
        };

        function CargarProveedor(id, value) {
            Proveedor = {};
            Proveedor = { ProveedorID: id, Nombre: value };
        };

        function CargarProyecto(id, value) {
            Proyecto = {};
            Proyecto = { ProyectoID: id, Nombre: value };
        };

        function CargarPatio(id, value) {
            Patio = {};
            Patio = { PatioID: id, Nombre: value };
        };

        function CargarFolio(id) {
            Folio = {};
            Folio = { FolioAvisoLlegadaID: id };
        };
        
        function CargarEstatus(id, value) {
            Estatus = {};
            Estatus = { EstatusID: id, Nombre: value };
        };

        function VentanaModal(id) {

            var modalTitle = "";

            switch (id) {
                case 1:
                    $("#modalPatio").show();
                    modalTitle = "Patio";
                    break;
            };

            var window = $("#window");
            var win = window.kendoWindow({
                actions: false,
                modal: true,
                title: modalTitle,
                resizable: false,
                visible: false,
                width: "32.6%",
                minWidth: 660,
                position: {
                    top: "10%",
                    left: "20%"
                }
            }).data("kendoWindow");
            window.data("kendoWindow").title(modalTitle);
            window.data("kendoWindow").center().open();
        };

        function onUploadAdjuntarArchivos() {
            if (!$("#Descripcion").val()) {
                displayMessage("notificationslabel0025", "", '1');
                e.preventDefault();
            }

            $("#AdjuntarArchivos").data("kendoUpload").options.async.saveUrl = $DocumentoLlegadaMaterialUploadFiles + folioLlegada + "&tipoArchivoID=-1" + "&descripcion=" + $("#Descripcion").val() + "&token=" + Cookies.get("token");
        };

        function borrarArchivo(id, fila) {
            $DocumentoFolioAvisoEntrada.DocumentoFolioAvisoEntrada.destroy({}, { archivoID: id, token: Cookies.get("token") }).done(function (data) {
                fila.closest("tr").remove();
                console.log("$DocumentoFolioAvisoEntrada.DocumentoFolioAvisoEntrada.destroy");
            });
        };

        function DesahabilitarObtenerDocumentosLlegadaMaterial() {
            $DocumentoFolioAvisoEntrada.DocumentoFolioAvisoEntrada.read({ folio: folioLlegada, token: Cookies.get("token") }).done(function (result) {
                loadingStart();
                if (Error(result)) {
                    if (result.length > 0) {
                        $("#listaArchivos tbody").empty();
                        $.each(result, function (index, value) {
                            $("#listaArchivos tbody").append("<tr id='" + value.DocumentoID + "," + value.Extencion + "'><td><a target='_blank' href='" + value.Url + "'>" + value.Nombre + "</a></td><td>" + value.Descripcion + "</td><td><a href='#' >" + "<span class='delete disable'></span>" + "</a></td></tr>");
                        });
                    }
                };
                loadingStop();
            });
        };

        function HabilitarObtenerDocumentosLlegadaMaterial() {
            $DocumentoFolioAvisoEntrada.DocumentoFolioAvisoEntrada.read({ folio: folioLlegada, token: Cookies.get("token") }).done(function (result) {
                loadingStart();
                if (Error(result)) {
                    if (result.length > 0) {
                        $("#listaArchivos tbody").empty();
                        $.each(result, function (index, value) {
                            $("#listaArchivos tbody").append("<tr id='" + value.DocumentoID + "," + value.Extencion + "'><td><a target='_blank' href='" + value.Url + "' >" + value.Nombre + "</a></td><td>" + value.Descripcion + "</td><td><a href='#' onclick='borrarArchivo(" + value.DocumentoID + ",$(this));' >" + "<span class='delete'></span>" + "</a></td></tr>");
                        });
                    }
                };
                loadingStop();
            });
        };

        function GuardarLlegadaMaterial() {
            //Arreglo Llegada Material
            FolioLlegada = { FolioAvisollegadaId: "", ClienteId: "", ProyectoID: "", ProveedorID: "", OrdenCompra: "", Factura: "", Estatus: "", PatioID: "" };
            

            CargarDefaults();

            FolioLlegada.FolioAvisollegadaId = folioAvisoLlegada != -1 ? folioAvisoLlegada : Folio.FolioAvisoLlegadaID;
            FolioLlegada.ClienteId = Cliente.ClienteID;
            FolioLlegada.ProyectoID = Proyecto.ProyectoID;
            FolioLlegada.ProveedorID = Proveedor.ProveedorID;
            FolioLlegada.OrdenCompra = $("#OrdenDeCompra").val();
            FolioLlegada.Factura = $("#Factura").val();
            FolioLlegada.Estatus = Estatus.Nombre;
            FolioLlegada.PatioID = Patio.PatioID;

            console.log(JSON.stringify(FolioLlegada));

            loadingStart();
            if (folioLlegada != -1)//Edición
            {
                BotonEdicion();
                $FolioAvisoEntrada.FolioAvisoEntrada.update(FolioLlegada, { token: Cookies.get("token") }).done(function (data) {
                    console.log("$FolioAvisoEntrada.FolioAvisoEntrada.update");
                    Error(data);
                    loadingStop();
                    BotonAlta();
                    
                });
            } else //Alta
            {
                $FolioAvisoEntrada.FolioAvisoEntrada.create(FolioLlegada, { token: Cookies.get("token") }).done(function (data) {
                    console.log("$FolioAvisoEntrada.FolioAvisoEntrada.create");
                    if (Error(data))
                    {
                        folioLlegada = data.ReturnMessage[1];
                        folioAvisoLlegada = FolioLlegada.FolioAvisollegadaId;
                        BotonAlta();
                    }
                    console.log("foliollegada: " + folioLlegada + ", folioAvisoLlegada: " + folioAvisoLlegada);
                    loadingStop();
                });
            }


        };

        function CargarDefaults() {
            $("#formLlegadaMaterial :not(.security_required)").each(function (i, elem) {
                if (elem.tagName.toLowerCase() != 'label') {
                    switch ($(elem).attr("id")) {
                        case 'ClienteID':
                            if (!$("#ClienteID").data("kendoComboBox").value().length > 0) {
                                CargarCliente(1, "");
                            }
                            break;
                        case 'ProyectoID':
                            if (!$("#ProyectoID").data("kendoComboBox").value() > 0) {
                                CargarProyecto(1, "");
                            }
                            break;
                        case 'ProveedorID':
                            if (!$("#ProveedorID").data("kendoComboBox").value()) {
                                CargarProveedor(1, "");
                            }
                            break;
                        case 'PatioID':
                            if (!$("#PatioID").data("kendoComboBox").value() > 0) {
                                CargarPatio(1, "");
                            }
                            break;
                        case 'Estatus':
                            if (!$("#Estatus").data("kendoComboBox").value() > 0) {
                                CargarEstatus(1, "");
                            }
                            break;
                    };
                };
            });
        };

        function BotonEdicion() {
            $("#dropdown-toggle").show();
            $("#Editar").css("display", "none");
            $("#Guardar").css("display", "block");
            habilitarControles();
        };

        function BotonAlta() {
            $("#dropdown-toggle").hide();
            $("#Editar").css("display", "block");
            $("#Guardar").css("display", "none");
            deshabilitarControles();
        };

        function habilitarControles() {
            $("#FolioEntradaID").data("kendoComboBox").enable();
            $("#ClienteID").data("kendoComboBox").enable();
            $("#ProyectoID").data("kendoComboBox").enable();
            $("#ProveedorID").data("kendoComboBox").enable();
            $("#OrdenDeCompra").removeAttr('disabled');
            $("#Factura").removeAttr('disabled');
            $("#Estatus").data("kendoComboBox").enable();
            $("#PatioID").data("kendoComboBox").enable();
            $("#Descripcion").removeAttr('disabled');
            $("#AdjuntarArchivos").data("kendoUpload").enable();

            if (Estatus.Nombre == _estatus) {
                $("#GenerarOrdenDescarga").removeAttr("disabled");
            }
            //if ($("#hdPermisoTramite").val() == "1") {
            //    $("#TramitarPermiso").attr('disabled', 'disabled');
            //    $("#TramitarPermisoDiv").hide();
            //    $("#AutorizarPermisoDiv").show();
            //    $("#AutorizarPermiso").removeAttr('disabled');
            //};

            //if ($("#hdPermisoAutorizado").val() == "1") {
            //    $("#TramitarPermiso").attr('disabled', 'disabled');
            //    $("#AutorizarPermiso").attr('disabled', 'disabled');
            //};
            HabilitarObtenerDocumentosLlegadaMaterial();
        };
        
        function deshabilitarControles() {
            $("#FolioEntradaID").data("kendoComboBox").enable(false);
            $("#ClienteID").data("kendoComboBox").enable(false);
            $("#ProyectoID").data("kendoComboBox").enable(false);
            $("#ProveedorID").data("kendoComboBox").enable(false);
            $("#OrdenDeCompra").attr('disabled', 'disabled');
            $("#Factura").attr('disabled', 'disabled');
            $("#Estatus").data("kendoComboBox").enable(false);
            $("#PatioID").data("kendoComboBox").enable(false);
            $("#Descripcion").attr('disabled', 'disabled');
            $("#AdjuntarArchivos").data("kendoUpload").enable(false);

            //$("#TramitarPermiso").attr('disabled', 'disabled');
            //if ($("#hdPermisoTramite").val() == "1") {
            //    $("#TramitarPermisoDiv").hide();
            //    $("#AutorizarPermisoDiv").show();
            //    $("#AutorizarPermiso").removeAttr('disabled');
            //};
            DesahabilitarObtenerDocumentosLlegadaMaterial();
        };

        function validarRequeridosModalPatio() {
            var bool = true;
            $("#modalPatio .security_required").each(function (i, elem) {
                if (elem.tagName.toLowerCase() != 'label') {
                    if (!$(this).val()) {
                        bool = false;
                        $(this).closest("div").find("label").addClass("error");
                        $(this).closest("div").addClass("clearfix");
                    } else {
                        $(this).closest("div").find("label").removeClass("error");
                        $(this).closest("div").removeClass("clearfix");
                    };
                };
            });
            return bool;
        };

        function GuardarPatio() {
            PatioModal = [];
            PatioModal[0] = { Nombre: "", Propietario: "", Descripcion: "", RequierePermisoAduana: "" };
            PatioModal[0].Nombre = $("#Nombre_Patio").val();
            PatioModal[0].Propietario = $("#Propietario_Patio").val();
            PatioModal[0].Descripcion = $("#Descripcion_Patio").val();
            PatioModal[0].RequierePermisoAduana = $("#RequierePermisoAduana_Patio").is(":checked");

            console.log(PatioModal[0]);

            $Patio.Patio.create(PatioModal[0], { token: Cookies.get("token") }).done(function (data) {
                LimpiarModalPatio();
                if (Error(data)) {
                    $("#window").data("kendoWindow").close();
                    ObtenerPatio();
                };
            });
        };

        function CancelarPatio() {
            LimpiarModalPatio();
            cerrarVentanaModal();
        };

        function LimpiarModalPatio() {
            $("#Nombre_Patio").val("");
            $("#Propietario_Patio").val("");
            $("#Descripcion_Patio").val("");
            $("#RequierePermisoAduana_Patio").attr("checked", false);
        };

        function cerrarVentanaModal() {
            $("#window").data("kendoWindow").close();
        };

        function ControlErroresObjetosComboBox(control, result) {
            if (Error(result)) {
                $("#" + control).data("kendoComboBox").dataSource.data(result);
            } else {
                $("#" + control).data("kendoComboBox").dataSource.data([]);
            };
        };

        function Error(data) {
            if (data.ReturnCode) {
                if (data.ReturnCode != 200) {
                    if (data.ReturnCode == 401) {
                        removeUserSession();
                        return true;
                    } else {
                        displayMessage("notificationslabel0008", data.ReturnMessage, '2');
                        return false;
                    }
                } else {
                    return true;
                }
            } else {
                return true;
            }
        };

    };
   
    @section JavascriptDocumentReadyFunctions {
    CargaInicial();
        if (folioLlegada != -1)
        {
            $("#divFolioEntradaID").hide();
            $("#divTitulos").removeClass('hidden');
            $("#SpanFolioLlegada").html(folioLlegada);
            CargaInicialEdicion(folioLlegada);
        }
    };
</script>
