@{
    ViewBag.Title = "DetalleEntradaMaterial";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="EntradaMaterial0022"></span></a>
    </li>
    <li>
        <a href="@Url.Action("ListadoLlegadaMaterial", "EntradaMaterial")"><span id="EntradaMaterial0023"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("DetalleLlegadaMaterial", "EntradaMaterial")"><span id="EntradaMaterial0024"></span></a>
    </li>
}

<div>
    <div class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <h2>
                            <label id="" class="title">Detalle de Entrada de Material</label>
                            <label id="divTitulos" class="folioLabel">
                                <span id="EntradaMaterial0013"></span>
                                <span id="spanFolioEntrada"></span>
                                <span id="EntradaMaterial0014"></span>
                                <span id="SpanFolioLlegada"></span>
                            </label>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-8">
                <div class="row">
                    <div id="divFolioEntradaID" class="form-group col-sm-12 col-md-4 col-lg-3">
                        <label id="EntradaMaterial0003"></label>
                        <input id="FolioEntradaID" />
                    </div>
                    <div class="form-group col-sm-12 col-md-4 col-lg-3">
                        <label id="EntradaMaterial0002"></label>
                        <input id="ProyectoID" />
                    </div>
                    <div class="form-group col-sm-12 col-md-4 col-lg-3">
                        <label id="EntradaMaterial0004"></label>
                        <input id="Estatus" />
                    </div>
                    <div id="divPatio" class="form-group col-sm-12 col-md-4 col-lg-3" style="display: none">
                        <label id="EntradaMaterial0001"></label>
                        <div class="input-group">
                            <input id="PatioID" />
                            <span class="input-group-btn">
                                <a class="add" href='javascript:void(0);' onclick="VentanaModal(4);"></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-8">
                <div class="row">
                    <div class="form-group col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-4">
                                <label id="EntradaMaterial0005"></label>
                                <input name="files" id="AdjuntarArchivos" type="file" />
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4">
                                <label id="EntradaMaterial0006"></label>
                                <input id="Descripcion" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <table id="listaArchivos" class="filesTable">
                                    <thead>
                                        <tr>
                                            <td>
                                                <label id="EntradaMaterial0015"></label>
                                            </td>
                                            <td>
                                                <label id="EntradaMaterial0016"></label>
                                            </td>
                                            <td>
                                                <label id="EntradaMaterial0017"></label>
                                            </td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="divFoliosGenerados" class="form-group col-sm-12 col-md-12 col-lg-12" style="display: none">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <table id="listaFoliosGenerados" class="filesTable">
                                    <thead>
                                        <tr>
                                            <td>
                                                <label id="EntradaMaterial0018"></label>
                                            </td>
                                            <td>
                                                <label id="EntradaMaterial0019"></label>
                                            </td>
                                            <td>
                                                <label id="EntradaMaterial0020"></label>
                                            </td>
                                            <td>
                                                <label id="EntradaMaterial0021"></label>
                                            </td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             @********Pase Salida*********@
            <div id="PaseSalida" class="col-sm-12 col-md-12 col-lg-12 addedSection" style="display: none">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <h2>
                            <label id="EntradaMaterial0025"></label>
                        </h2>
                    </div>
                    <div class="form-group col-sm-12 col-md-8 col-lg-4">
                        <div class="row">
                            <div class="col-sm-5 col-md-4 col-lg-4">
                                    <label id="EntradaMaterial0031"></label>
                                    <input id="TipoArchivo" class="" />
                            </div>
                            <div class="col-sm-7 col-md-8 col-lg-8">
                                <label id="EntradaMaterial0026"></label>
                                <input name="files" id="PackingList" type="file" class="" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <table id="listaArchivosPaseSalida" class="filesTable">
                                    <thead>
                                        <tr>
                                            <td>
                                                <label id="EntradaMaterial0028"></label>
                                            </td>
                                            <td>
                                                <label id="EntradaMaterial0032"></label>
                                            </td>
                                            <td>
                                                <label id="EntradaMaterial0029"></label>
                                            </td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="col-sm-5 col-md-4 col-lg-4">
                                <a href="javascript:void(0);" id="ImprimirPase" class="btn btn-primary buttonBar">
                                    <span id="EntradaMaterial0027"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="formButtons col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="divisor"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <a id="Cancelar" href="javascript:void(0);" class="btn btn-black"><span id="EntradaMaterial0012"></span></a>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <a id="Guardar" href="javascript:void(0);" class="btn btn-yellow"><span id="EntradaMaterial0011"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@*Ventana Modal*@
    <div id="window">
        <div id="modalPatio" style="display: none">
            <div class="form-group">
                <label id="EntradaMaterial0007"></label>
                <input id="Nombre_Patio" />
            </div>
            <div class="form-group">
                <label id="EntradaMaterial0008"></label>
                <input id="Propietario_Patio" />
            </div>
            <div class="form-group">
                <label id="EntradaMaterial0009"></label>
                <input id="Descripcion_Patio" />
            </div>
            <div class="form-group">
                <a id="GuardarPatio" href="javascript:void(0);" class="btn btn-primary"><span id="EntradaMaterial0010"></span></a>
            </div>
        </div>
    </div>



<input id="hdPaseSalida" type="hidden" value="" />
<script>
  @section JavascriptGlobalVariables {
      var folioLlegada = getUrlParameter("folioLlegada", "-1");
      var folioAvisoLlegada = getUrlParameter("folioAvisoLlegada", "-1");//FolioEntradaID
      //your partial views variables
      var FechaRecepcion;
      var Patio = [];
      var Proyecto = [];
  };


    @section JavascriptGlobalFunctions {
        function CargaInicial() {
            $("#Guardar").click(function (e) {
                GuardarLlegadaMaterial();
            });
            $("#GuardarPatio").click(function (e) { GuardarPatio(); });
            $("#Cancelar").click(function (e) {
                var detalleIdeaUrl = "@Url.Action("ListadoLlegadaMaterial", "EntradaMaterial")";
                window.location.href = detalleIdeaUrl + "?leng=" + $("#language").data("kendoDropDownList").value();
            });

            $("#ImprimirPase").click(function () {
                var count = $('#listaArchivosPaseSalida > tbody  > tr').length;
                if (!(count > 0)) {
                    alert("Por lo menos un packing list firmado debe estar anexado para poder imprimir el pase de salida");
                    return false;
                }
                var FolioEntradaID = folioAvisoLlegada != -1 ? folioAvisoLlegada : $("#FolioEntradaID").data("kendoAutoComplete").value();
                var url = "@Url.Action("FormatoPaseSalida", "EntradaMaterial")" + "?FolioLlegadaID=" + folioLlegada + "&FolioEntradaID=" + FolioEntradaID;
                window.open(url);
            });

            $("#FolioEntradaID").kendoAutoComplete({
                dataSource: {
                    serverFiltering: false,
                    type: "json",
                    transport: {
                        read: {
                            url: "http://localhost:60960/backendsam/api/DummyFolioEntrada",
                        }
                    }
                },
                dataTextField: "FolioAvisoLlegadaID",
                dataValueField: "Consecutivo",
                select: function (e) {
                    var dataItem = this.dataItem(e.item.index());
                    CargarFolio(dataItem.FolioAvisoLlegadaID);
                },
                filter: "contains"
            });

            $("#PatioID").kendoAutoComplete({
                dataSource: {
                    serverFiltering: false,
                    type: "json",
                    transport: {
                        read: {
                            url: "http://localhost:60960/backendsam/api/DummyPatio",
                        }
                    }
                },
                dataTextField: "Nombre",
                dataValueField: "PatioID",
                select: function (e) {
                    var dataItem = this.dataItem(e.item.index());
                    CargarPatio(dataItem.PatioID, dataItem.Nombre);
                },
                filter: "contains"
            });

            $("#ProyectoID").kendoAutoComplete({
                dataSource: {
                    serverFiltering: false,
                    type: "json",
                    transport: {
                        read: {
                            url: "http://localhost:60960/backendsam/api/Proyecto",
                        }
                    }
                },
                dataTextField: "value",
                dataValueField: "id",
                select: function (e) {
                    var dataItem = this.dataItem(e.item.index());
                    CargarProyecto(dataItem.id, dataItem.value);
                },
                filter: "contains",
            });

            $("#Estatus").kendoComboBox({
                dataSource: {
                    serverFiltering: false,
                    type: "json",
                    transport: {
                        read: {
                            url: "http://localhost:60960/backendsam/api/DummyEstatus",
                        }
                    }
                },
                dataTextField: "Nombre",
                dataValueField: "EstatusID",
                select: function (e) {
                    var dataItem = this.dataItem(e.item.index());
                    if(dataItem.Nombre=="En Patio"){
                        $("#divPatio").show();
                    } else
                    {
                        $("#divPatio").hide();
                        $("#PatioID").data("kendoAutoComplete").value("");
                        Patio = [];
                    }
                },
                filter: "contains",
            });


            $('#AdjuntarArchivos').kendoUpload({
                async: {
                    saveUrl: "http://localhost:60960/backendsam/api/DummyFileManager?username=test&token=testt",
                    autoUpload: false,
                    withCredentials: false
                },
                success: function (data) {
                    //Se crea la tabla dinamica con el archivo que  se dio de alta, [id], [Archivo], [Extension]
                    $.each(data, function (index, value) {
                        $("#listaArchivos").append("<tr id='" + value.id + "," + value.Extension + "'><td><a href='javascript:void(0);' onclick='descargarArchivo(" + value.id + ");'>" + value.Archivo + "</a></td><td>" + $("#Descripcion").val() + "</td><td><a href='javascript:void(0);' onclick='borrarArchivo(" + value.id + ",$(this));' >" + "<span class='delete'></span>" + "</a></td></tr>");
                    });
                },
                error: function (data) { },
                upload: onUploadAdjuntarArchivos
            });

            //Pase Salida
            $("#TipoArchivo").kendoComboBox({
                dataSource: {
                    serverFiltering: false,
                    type: "json",
                    transport: {
                        read: {
                            url: "http://localhost:60960/backendsam/api/Proyecto",
                        }
                    }
                },
                dataTextField: "value",
                dataValueField: "id",
                filter: "contains",
            });

            $('#PackingList').kendoUpload({
                async: {
                    saveUrl: '@Url.Action("AvisoLlegada", "FileUploadFile")',
                        autoUpload: false
                    },
                success: function (data) {
                    $("#hdPaseSalida").val(1);
                    $.each(data, function (index, value) {
                        $("#listaArchivosPaseSalida").append("<tr id='" + value.id + "," + value.Extension + "'><td><a href='javascript:void(0);' onclick='descargarArchivo(" + value.id + ");'>" + value.Archivo + "</a></td><td><a href='javascript:void(0);' onclick='borrarArchivo(" + value.id + ",$(this));' >" + "<span class='delete'></span>" + "</a></td></tr>");
                    });
                },
                error: function (data) { },
                upload: onUploadArchivoPaseSalida
            });

        };

        function onUploadArchivoPaseSalida() {
            if (!$("#TipoArchivo").data("kendoComboBox").value()) {
                alert("Por favor, seleccionar el tipo de archivo");
                e.preventDefault();
            }
        };

        function CargaInicialEdicion() {
            var Client = new $.RestClient('http://localhost:60960' + '/backendsam/api/');
            Client.add('DummyEntradaMaterial');

            Client.DummyEntradaMaterial.read({}, { folioAvisoLlegada: folioAvisoLlegada, folioLlegada: folioLlegada, username: Cookies.get("user"), token: Cookies.get("token") }).done(function (data) {
                if (data.Proyecto) {
                    CargarProyecto(data.Proyecto.ProyectoID, data.Proyecto.Nombre);
                    $("#ProyectoID").data("kendoAutoComplete").value(data.Proyecto.Nombre);
                };

                if (data.Estatus) {
                    $("#Estatus").data("kendoComboBox").value(data.Estatus)
                    if (data.Estatus == "En Patio") {
                        $("#divPatio").show();
                        CargarPatio(data.Patio.PatioID, data.Patio.Nombre);
                        $("#PatioID").data("kendoAutoComplete").value(data.Patio.Nombre);
                    };
                };

                $.each(data.Archivos, function (index, value) {
                    $("#listaArchivos").append("<tr id='" + value.id + "," + value.Extension + "'><td><a href='javascript:void(0);' onclick='descargarArchivo(" + value.id + ");'>" + value.Archivo + "</a></td><td>" + value.Descripcion + "</td><td><a href='javascript:void(0);' onclick='borrarArchivo(" + value.id + ",$(this));' >" + "<span class='delete'></span>" + "</a></td></tr>");
                });
            
            });
        };
        function VentanaModal(id) {

            switch (id) {
                case 1:
                    $("#modalProveedor").hide();
                    $("#modalPatio").hide();
                    $("#modalChofer").hide();
                    $("#modalPlana").hide();
                    $("#modalTransportista").show();
                    break;
                case 2:
                    $("#modalTransportista").hide();
                    $("#modalPatio").hide();
                    $("#modalChofer").hide();
                    $("#modalPlana").hide();
                    $("#modalProveedor").show();
                    break;
                case 3:
                    $("#modalTransportista").hide();
                    $("#modalPatio").hide();
                    $("#modalChofer").hide();
                    $("#modalProveedor").hide();
                    $("#modalPlana").show();
                    break;
                case 4:
                    $("#modalTransportista").hide();
                    $("#modalProveedor").hide();
                    $("#modalChofer").hide();
                    $("#modalPlana").hide();
                    $("#modalPatio").show();
                    break;
                case 5:
                    $("#modalTransportista").hide();
                    $("#modalProveedor").hide();
                    $("#modalPatio").hide();
                    $("#modalPlana").hide();
                    $("#modalChofer").show();
                    break;
            };

            var window = $("#window");
            var win = window.kendoWindow({
                actions: ["Maximize", "Minimize", "Close"],
                modal: true,
                resizable: false,
                visible: false,
                width: "60%",
                height: "50%",
                position: {
                    top: "10%",
                    left: "20%"
                }
            }).data("kendoWindow");
            window.data("kendoWindow").open();
        };

        function CargarProyecto(id, value) {
            Proyecto = [];
            _proyecto = {};
            _proyecto["ProyectoID"] = id;
            _proyecto["Nombre"] = value;
            Proyecto.push(_proyecto);
        };

        function CargarPatio(id, value) {
            Patio = [];
            _patio = {};
            _patio["PatioID"] = id;
            _patio["Nombre"] = value;
            Patio.push(_patio);
        };

        function CargarFolio(id) {
            Folio = [];
            _folio = {};
            _folio["FolioAvisoLlegadaID"] = id;
            Folio.push(_folio);
        };

        function onUploadAdjuntarArchivos() {
            if (!$("#Descripcion").val()) {
                alert("Por favor, debe llenar la descripción");
                e.preventDefault();
            }
        };

        function descargarArchivo(id) {
            var Client = new $.RestClient('http://localhost:60960' + '/backendsam/api/');
            Client.add('DummyDescargarArchivo');

            Client.DummyDescargarArchivo.read({}, { archivoID: id, username: Cookies.get("user"), token: Cookies.get("token") }).done(function (data) {
                console.log("Client.DummyDescargarArchivo.read");
            });
        };

        function borrarArchivo(id, fila) {
            var Client = new $.RestClient('http://localhost:60960' + '/backendsam/api/');
            Client.add('DummyFileManager');

            Client.DummyFileManager.destroy({}, { archivoID: id, username: Cookies.get("user"), token: Cookies.get("token") }).done(function (data) {
                fila.closest("tr").remove();
                console.log("Client.DummyFileManager.destroy");
            });
        };

        function GuardarLlegadaMaterial() {
            //Arreglo Llegada Material
            FolioLlegada = [];
            FolioLlegada[0] = { FolioLlegadaID: "", FolioAvisoLlegadaID: "", Proyecto: "", Patio: "", Archivos: "", Estatus: "" };
            //objeto para los documentos.
            Documentos = [];

            $('#listaArchivos > tbody  > tr').each(function () {
                if ($(this).find("td:first").length > 0) {
                    var id = $(this).attr("id").split(",")[0];
                    var archivo = $(this).find("td a").eq(0).html();
                    var extencion = $(this).attr("id").split(",")[1];
                    var descripcion = $(this).find("td").eq(1).html();

                    item = {};
                    item["ArchivoID"] = id;
                    item["Nombre"] = archivo;
                    item["Extension"] = extencion;
                    item["Descripcion"] = descripcion;
                    Documentos.push(item);
                }
            });
            
            FolioLlegada[0].FolioLlegadaID = folioLlegada != -1 ? folioLlegada : -1;
            FolioLlegada[0].FolioAvisoLlegadaID = folioAvisoLlegada != -1 ? folioAvisoLlegada : $("#FolioEntradaID").data("kendoAutoComplete").value();
            FolioLlegada[0].Proyecto = Proyecto;
            FolioLlegada[0].Patio = Patio;
            FolioLlegada[0].Archivos = Documentos;
            FolioLlegada[0].Estatus = $("#Estatus").data("kendoComboBox").text();


            console.log(JSON.stringify(FolioLlegada));

            var Client = new $.RestClient('http://localhost:60960' + '/backendsam/api/');
            Client.add('DummyFolioEntrada');

            $("#PaseSalida").show();
            if (folioLlegada != -1 && folioAvisoLlegada != -1)//Edición
            {
                Client.DummyFolioEntrada.update({}, { folioLlegada: JSON.stringify(FolioLlegada), username: Cookies.get("user"), token: Cookies.get("token") }).done(function (data) {
                    console.log("Client.DummyFolioEntrada.update");
                    MostrarFoliosGenerados();
                });
            } else //Alta
            {
                Client.DummyFolioEntrada.create({}, { folioLlegada: JSON.stringify(FolioLlegada), username: Cookies.get("user"), token: Cookies.get("token") }).done(function (data) {
                    console.log("Client.DummyFolioEntrada.create");
                    folioLlegada = data.FolioLlegadaID;                   
                    $("#FolioEntradaID, #ProyectoID").kendoAutoComplete({
                        enable: false
                    });
                    MostrarFoliosGenerados();
                    console.log(folioLlegada);
                });
            }


        };

        function MostrarFoliosGenerados() {
            $("#listaFoliosGenerados tbody tr").empty();
            var Client = new $.RestClient('http://localhost:60960' + '/backendsam/api/');
            Client.add('DummyFoliosGenerados');

            Client.DummyFoliosGenerados.read({}, { foliollegadaid: folioLlegada, username: Cookies.get("user"), token: Cookies.get("token") }).done(function (data) {
                $.each(data, function (index, value) {
                    $("#divFoliosGenerados").show();
                    $("#listaFoliosGenerados").append("<tr><td><a href='javascript:void(0);' onclick='AbrirArchivo(" + value.FolioLlegadaID + "," + value.FolioAvisoLlegadaID + ");'>" + value.FolioLlegadaID + "</a></td><td>" + value.FolioAvisoLlegadaID + "</td>" + "<td>" + value.PackingListID + "</td>" + "<td>" + value.Proyecto + "</td>" + "</tr>");
                });
            });
        };


        function AbrirArchivo(entradaid, llegadaid) {
            var Listado = "@Url.Action("DetalleLlegadaMaterial", "EntradaMaterial")";
            folioAvisoLlegada = entradaid;
            folioLlegada = llegadaid;
            window.location.href = Listado + "?leng=" + $("#language").data("kendoDropDownList").value() + "&folioLlegada=" + folioLlegada + "&folioAvisoLlegada=" + folioAvisoLlegada;
        };

        function GuardarPatio() {
            PatioModal = [];
            PatioModal[0] = { Nombre: "", Propietario: "", Descripcion: "" };
            PatioModal[0].Nombre = $("#Nombre_Patio").val();
            PatioModal[0].Propietario = $("#Propietario_Patio").val();
            PatioModal[0].Descripcion = $("#Descripcion_Patio").val();

            console.log(JSON.stringify(PatioModal));

            var Client = new $.RestClient('http://localhost:60960' + '/backendsam/api/');
            Client.add('DummyPatio');
            Client.DummyPatio.create({}, { patio: JSON.stringify(PatioModal), username: Cookies.get("user"), token: Cookies.get("token") }).done(function (data) {
                console.log("Client.DummyPatio.create");
                LimpiarModalPatio();
            });
        };

        function LimpiarModalPatio() {
            $("#Nombre_Patio").val("");
            $("#Propietario_Patio").val("");
            $("#Descripcion_Patio").val("");
        };

        function AbrirListadoEntrada(folioentrada, foliollegada) {
            alert("folioentrada=" + folioentrada + ",foliollegada=" + foliollegada);
            var detalleIdeaUrl = "@Url.Action("ListadoAvisoLlegada", "AvisoLlegada")";

            window.location.href = detalleIdeaUrl + "?leng=" + $("#language").data("kendoDropDownList").value() + "&folioLlegadaID=" + foliollegada + "&folioEntradaID=" + folioentrada;
        };
        function validarArchivoPaseSalida() {
            if ($('#listaArchivosPaseSalida > tbody  > tr').length)
            {
                alert("Por lo menos un packing list firmado debe estar anexado para poder imprimir el pase de salida");
                return false;
            }
        }
    };
   
    @section JavascriptDocumentReadyFunctions {
        CargaInicial();
        if (folioLlegada != -1 && folioAvisoLlegada != -1)
        {
            $("#divFolioEntradaID").hide();
            $("#divTitulos").show();
            $("#spanFolioEntrada").html("<a href='javascript:void(0);' onclick='AbrirListadoEntrada(" + folioAvisoLlegada + "," + folioLlegada + ");'>" + folioAvisoLlegada + "</a>");
            $("#SpanFolioLlegada").html(folioLlegada);
            CargaInicialEdicion();
        } else
        {
            var Client = new $.RestClient('http://localhost:60960' + '/backendsam/api/');
            Client.add('DummyFileManager');

            Client.DummyFileManager.read({}, { username: Cookies.get("user"), token: Cookies.get("token") }).done(function (data) {
                $.each(data, function (index, value) {
                    $("#listaArchivos").append("<tr id='" + value.id + "," + value.Extension + "'><td><a href='javascript:void(0);' onclick='descargarArchivo(" + value.id + ");'>" + value.Archivo + "</a></td><td>" + value.Descripcion + "</td><td><a href='javascript:void(0);' onclick='borrarArchivo(" + value.id + ",$(this));' >" + "<span class='delete'></span>" + "</a></td></tr>");
                });

                $.each(data, function (index, value) {
                    $("#listaArchivosPaseSalida").append("<tr id='" + value.id + "," + value.Extension + "'><td><a href='javascript:void(0);' onclick='descargarArchivo(" + value.id + ");'>" + value.Archivo + "</a></td><td></td><td><a href='javascript:void(0);' onclick='borrarArchivo(" + value.id + ",$(this));' >" + "<span class='delete'></span>" + "</a></td></tr>");
                });
            });
        }
    };
</script>
