@{
    ViewBag.Title = "Listado Llegada de Material";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="ListadoLlegadaMaterial0019"></span></a>
    </li>
    <li>
        <a href="@Url.Action("DashboardLlegadaMaterial", "EntradaMaterial")"><span id="ListadoLlegadaMaterial0023"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("ListadoLlegadaMaterial", "EntradaMaterial")"><span id="ListadoLlegadaMaterial0020"></span></a>
    </li>
}

<div class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="formNav filtersFields clearfix">
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-1">
                        <div class="button-section">
                            <button id="Nuevo" type="button" class="btn btn-yellow"><span id="DashboardAvisoLlegada0003"></span></button>
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-10 col-lg-9 filter-section">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <label id="ListadoLlegadaMaterial0001"></label>
                                <input id="PackingListID" class="" />
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <label id="ListadoLlegadaMaterial0002"></label>
                                <input id="FolioLlegadaID" class="" />
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <label id="ListadoLlegadaMaterial0003"></label>
                                <input id="Placas" class="" />
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <label id="ListadoLlegadaMaterial0004"></label>
                                <input id="ChoferID" class="" />
                            </div>
                        </div>
                    </div>
                    @*<div class="col-sm-12 col-md-12 col-lg-3 buttonBar">
                        <a id="Mostrar" href="javascript:void(0);" class="btn btn-yellow"><span id="ListadoLlegadaMaterial0005"></span></a>
                        <a id="Creacion" href="javascript:void(0);" class="btn btn-primary"></a>
                    </div>*@
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="btn-group tabList col-xs-12 col-sm-12 col-md-12 col-lg-12" role="group" arial-label="tabList">
                            <button id="btnCreados" class="btn btn-tabList"><span id="ListadoAvisoLlegada0027"></span><span id="spanCreados">0</span></button>
                            <button id="btnSinPermiso" class="btn btn-tabList"><span id="ListadoAvisoLlegada0023"></span><span id="spanSinPermiso">0</span></button>
                            <button id="btnSinAutorizacion" class="btn btn-tabList"><span id="ListadoAvisoLlegada0024"></span><span id="spanSinAutorizacion">0</span></button>
                            <button id="btnCompletos" class="btn btn-tabList"><span id="ListadoAvisoLlegada0025"></span><span id="spanCompletos">0</span></button>
                        </div>
                    </div>
                    <div class="row">
                        <div id="filterContainer" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <input id="PackingListFilterID" class="quickFilters arrivalMaterial" />
                            <input id="FolioLlegadaMaterialID" class="quickFilters arrivalMaterial" />
                            <input id="FolioAvisoID" class="quickFilters arrivalMaterial " />
                            <input id="FechaCreacion" class="quickFilters arrivalMaterial" />
                            <input id="FechaGeneracion" class="quickFilters arrivalMaterial" />
                            <input id="Cancel" class="quickFilters arrivalMaterial" disabled />
                        </div>
                    </div>
                    <div id="grid" class="entradaMaterial"></div>
                </div>
            </div>
        </div>
        <div id="window">
            @*Content of the Window*@
        </div>
    </div>
</div>

<script>

    @section JavascriptGlobalVariables 
    {
        var PackingList = {}, FolioLlegada = {}, Placa = {},
            Chofer = {}, resultadoJson;
    }

    @section JavascriptGlobalFunctions 
    {
        function changeLanguageCall() {
            CargarGridLlegadaMaterial();
        };

        function CargarGridLlegadaMaterial() {
            $("#grid").kendoGrid({
                dataSource: {
                    data: resultadoJson,
                    schema: {
                        model: {
                            fields: {
                                PackingListID: { type: "string" },
                                FolioLlegadaID: { type: "string" },
                                FolioAvisoLlegadaID: { type: "string" },
                                FechaCreacion: { type: "string" },
                                FechaGeneracion: { type: "string" },
                                //FolioAvisoLlegadaID: { type: "string" },
                                
                                //Proyecto: { type: "string" },
                                //Patio: { type: "string" },
                                //Estatus: { type: "string" },
                                //EstatusFolioEntrada: { type: "string" },
                                //EstatusPackingList: { type: "string" }
                            }
                        }
                    },
                    pageSize: 20,
                    serverPaging: false,
                    serverFiltering: false,
                    serverSorting: false
                },
                autoHeight: true,
                sortable: true,
                scrollable: false,
                filterable: {
                    extra: false,
                    operators: {
                        string: {
                            startswith: "Starts with",
                            eq: "Is equal to",
                            neq: "Is not equal to"
                        }
                    }
                },
                pageable: {
                    refresh: false,
                    pageSizes: [10, 15, 20],
                    info: false,
                    input: false,
                    numeric: true,
                },
                columns: [
                    { field: "PackingListID", title: _dictionary.ListadoLlegadaMaterial0009[$("#language").data("kendoDropDownList").value()], template: "<a class='detailLink' onclick='mostrarDetalle(#:FolioLlegadaID#, #:FolioAvisoLlegadaID#)'>#:PackingListID#</a>", filterable: true },
                    { field: "FolioLlegadaID", title: _dictionary.ListadoLlegadaMaterial0007[$("#language").data("kendoDropDownList").value()], filterable: true },
                    { field: "FolioAvisoLlegadaID", title: _dictionary.ListadoLlegadaMaterial0008[$("#language").data("kendoDropDownList").value()], filterable: true },
                    { field: "FechaCreacion", title: _dictionary.ListadoLlegadaMaterial0021[$("#language").data("kendoDropDownList").value()], filterable: true },
                    { field: "FechaGeneracion", title: _dictionary.ListadoLlegadaMaterial0022[$("#language").data("kendoDropDownList").value()], filterable: true },
                    //{ field: "FolioAvisoLlegadaID", title: _dictionary.ListadoLlegadaMaterial0008[$("#language").data("kendoDropDownList").value()], filterable: true },
                    //{ field: "Proyecto", title: _dictionary.ListadoLlegadaMaterial0010[$("#language").data("kendoDropDownList").value()], filterable: true },
                    //{ field: "Patio", title: _dictionary.ListadoLlegadaMaterial0011[$("#language").data("kendoDropDownList").value()], filterable: true },
                    //{ field: "Estatus", title: _dictionary.ListadoLlegadaMaterial0012[$("#language").data("kendoDropDownList").value()], filterable: true },
                    //{ field: "EstatusFolioEntrada", title: _dictionary.ListadoLlegadaMaterial0015[$("#language").data("kendoDropDownList").value()], filterable: true },
                    //{ field: "EstatusPackingList", title: _dictionary.ListadoLlegadaMaterial0016[$("#language").data("kendoDropDownList").value()], filterable: true },
                    { command: { text: _dictionary.ListadoLlegadaMaterial0017[$("#language").data("kendoDropDownList").value()], click: complemento }, title: " ", width: "40px"},
                    { command: { text: _dictionary.ListadoLlegadaMaterial0018[$("#language").data("kendoDropDownList").value()], click: cuantificacion }, title: " ", width: "40px"},
                    //{ command: { text: _dictionary.ListadoLlegadaMaterial0013[$("#language").data("kendoDropDownList").value()], click: mostrarDetalle }, title: " ", width: "40px"},
                    { command: { text: _dictionary.ListadoLlegadaMaterial0014[$("#language").data("kendoDropDownList").value()], click: cancelarFolio }, title: " ", width: "40px" }
                ]
            });
        };

            
        function complemento(e) {
            //displayMessage("notificationslabel0028", "", '1');
        };

        function cuantificacion(e) {

           @* e.preventDefault();
            var dataItem = $("#grid").data("kendoGrid").dataItem($(e.currentTarget).closest("tr"));
            var FolioLlegadaID = dataItem.FolioLlegadaID;
            var FolioAvisoLlegadaID = dataItem.FolioAvisoLlegadaID;
            var PackingListID = dataItem.PackingListID;
            
            //REDIRECT
            var detalleIdeaUrl = "@Url.Action("Cuantificacion", "Cuantificacion")";
            window.location.href = detalleIdeaUrl + "?leng=" + $("#language").data("kendoDropDownList").value() + "&folioLlegadaID=" + FolioLlegadaID + "&folioEntradaID=" + FolioAvisoLlegadaID + "&packingListID=" + PackingListID;*@
        };

        function mostrarDetalle(FolioLlegadaID,FolioAvisoLlegadaID) {
            //e.preventDefault();
            //var dataItem = $("#grid").data("kendoGrid").dataItem($(e.currentTarget).closest("tr"));
            //var FolioLlegadaID = dataItem.FolioLlegadaID;
            //var FolioAvisoLlegadaID = dataItem.FolioAvisoLlegadaID;
            //REDIRECT
            var detalleIdeaUrl = "@Url.Action("DetalleLlegadaMaterial", "EntradaMaterial")";
            window.location.href = detalleIdeaUrl + "?leng=" + $("#language").data("kendoDropDownList").value() + "&folioLlegada=" + FolioLlegadaID + "&folioAvisoLlegada=" + FolioAvisoLlegadaID;
        };

        function cancelarFolio(e) {
                e.preventDefault();
                var dataItem = $("#grid").data("kendoGrid").dataItem($(e.currentTarget).closest("tr"));
                var FolioLlegadaID = dataItem.FolioLlegadaID
                var folioAvisoLlegadaID = dataItem.FolioAvisoLlegadaID
                var dataSource = $("#grid").data("kendoGrid").dataSource;

                if (confirm("Estas seguro de cancelar el folio de entrada?")) {
                    var Client = new $.RestClient($BackEndSAMUri + '/backendsam/api/');
                    Client.add('DummyCancelacionListadoLlegadaMaterial');

                    Client.DummyCancelacionListadoLlegadaMaterial.read({}, { folioavisollegadaid: folioAvisoLlegadaID, foliollegadaid: FolioLlegadaID, username: Cookies.get("user"), token: Cookies.get("token") }).done(function (data) {
                        console.log("Client.DummyCancelacionListadoLlegadaMaterial.read");
                        if ($("#grid").data("kendoGrid")) {
                            $("#grid").data("kendoGrid").dataSource.data(data);
                        };
                    });
                };
        };

        function CargaInicial() {
            //$("#Mostrar").click(function () { Filtros(2); });
            $("#Nuevo").click(function (e) {
                var detalleIdeaUrl = "@Url.Action("DetalleLlegadaMaterial", "EntradaMaterial")";
                window.location.href = detalleIdeaUrl + "?leng=" + $("#language").data("kendoDropDownList").value();
            });

            $("#PackingListID").kendoComboBox({
                dataSource: {
                    serverFiltering: false,
                    type: "json",
                    transport: {
                        read: {
                            url: $BackEndSAMUri + "/backendsam/api/DummyPackingList",
                        }
                    }
                },
                dataTextField: "PackingListID",
                dataValueField: "Consecutivo",
                select: function (e) {
                    var dataItem = this.dataItem(e.item.index());
                    CargarPackingList(dataItem.PackingListID, dataItem.Consecutivo);
                },
                change: function (e) {
                    var value = this.value();
                    if (!value) {
                        PackingList = {};
                    };
                },
                filter: "contains",
            });
            $("#FolioLlegadaID").kendoComboBox({
                dataSource: {
                    serverFiltering: false,
                    type: "json",
                    transport: {
                        read: {
                            url: $BackEndSAMUri + "/backendsam/api/FolioLlegada",
                        }
                    }
                },
                dataTextField: "FolioLlegadaID",
                dataValueField: "Consecutivo",
                select: function (e) {
                    var dataItem = this.dataItem(e.item.index());
                    CargarFolioLlegada(dataItem.FolioLlegadaID, dataItem.Consecutivo);
                },
                change: function (e) {
                    var value = this.value();
                    if (!value) {
                        FolioLlegada = {};
                    };
                },
                filter: "contains",
            });

            $("#Placas").kendoComboBox({
                dataSource: {
                    serverFiltering: false,
                    type: "json",
                    transport: {
                        read: {
                            url: $BackEndSAMUri + "/backendsam/api/DummyCamion",
                        }
                    }
                },
                dataTextField: "Placas",
                dataValueField: "CamionID",
                select: function (e) {
                    var dataItem = this.dataItem(e.item.index());
                    CargarPlacas(dataItem.CamionID, dataItem.Placas);
                },
                change: function (e) {
                    var value = this.value();
                    if (!value) {
                        Placa = {};
                    };
                },
                filter: "contains",
            });
        
            $("#ChoferID").kendoComboBox({
                dataTextField: "Nombre",
                dataValueField: "ChoferID",
                select: function (e) {
                    var dataItem = this.dataItem(e.item.index());
                    CargarChofer(dataItem.ChoferID, dataItem.Nombre);

                },
                change: function (e) {
                    var value = this.value();
                    if (!value) {
                        Chofer = {};
                    };
                },
                filter: "contains",
            });
            ObtenerChofer();


            $("#PackingListFilterID").keyup(function () {
                var ds = $("#grid").data("kendoGrid").dataSource;
                ds.filter([
                    {
                        "field": "PackingListID",
                        "operator": "Contains",
                        "value": this.value
                    }
                ]);
            });

            $("#FolioLlegadaMaterialID").keyup(function () {
                var ds = $("#grid").data("kendoGrid").dataSource;
                ds.filter([
                    {
                        "field": "FolioLlegadaID",
                        "operator": "Contains",
                        "value": this.value
                    }
                ]);
            });

            $("#FolioAvisoID").keyup(function () {
                var ds = $("#grid").data("kendoGrid").dataSource;
                ds.filter([
                    {
                        "field": "FolioAvisoLlegadaID",
                        "operator": "Contains",
                        "value": this.value
                    }
                ]);
            });
            
            $("#FechaCreacion").keyup(function () {
                var ds = $("#grid").data("kendoGrid").dataSource;
                ds.filter([
                    {
                        "field": "FechaCreacion",
                        "operator": "Contains",
                        "value": this.value
                    }
                ]);
            });

            $("#FechaGeneracion").keyup(function () {
                var ds = $("#grid").data("kendoGrid").dataSource;
                ds.filter([
                    {
                        "field": "FechaGeneracion",
                        "operator": "Contains",
                        "value": this.value
                    }
                ]);
            });

            Filtros(1);


        };

        function Filtros(prueba)
        {
            Listado = [];
            Listado[0] = { PackingList: "", FolioLlegada: "", Placas: "", Chofer: "" };

            Listado[0].PackingList = PackingList;
            Listado[0].FolioLlegada = FolioLlegada;
            Listado[0].Placas = Placa;
            Listado[0].Chofer = Chofer;

            console.log(JSON.stringify(Listado[0]));

            var Client = new $.RestClient($BackEndSAMUri + '/backendsam/api/');
            Client.add('DummyListadoLlegadaMaterial');

            Client.DummyListadoLlegadaMaterial.read({}, { prueba: prueba, foliollegada: JSON.stringify(Listado), username: Cookies.get("user"), token: Cookies.get("token") }).done(function (data) {
                console.log(data);
                resultadoJson = data;
                if ($("#grid").data("kendoGrid")) {
                    $("#grid").data("kendoGrid").dataSource.data(resultadoJson);
                };
                
            });
        };

        function CargarPackingList(id, value) {
            PackingList = {};
            PackingList = { PackingListID: id, Consecutivo: value };
        };

        function CargarFolioLlegada(id, value) {
            FolioLlegada = {};
            FolioLlegada = { FolioLlegadaID: id, Consecutivo: value };
        };

        function CargarPlacas(id, value) {
            Placa = {};
            Placa = { Placas: id, CamionID: value };
        };
        
        function CargarChofer(id, value) {
            Chofer = {};
            Chofer = { ChoferID: id, Nombre: value };
        };

        function ObtenerChofer() {
            $Chofer.Chofer.read({ esAvisoEntrada: 0, token: Cookies.get("token") }).done(function (result) {
                Error(result);
                if (result.length > 0) {
                    $("#ChoferID").data("kendoComboBox").dataSource.data(result);
                } else {
                    Chofer = [];
                    $("#ChoferID").data("kendoComboBox").value("");
                    $("#ChoferID").data("kendoComboBox").dataSource.data([]);
                }
            });
        };
    }

    @section JavascriptDocumentReadyFunctions 
    {
        CargaInicial();
    }
     
</script>
