@{
    ViewBag.Title = "Pase De Salida";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="PaseDeSalida0001"></span></a>
    </li>
    <li>
        <a href="@Url.Action("DashboardLlegadaMaterial", "EntradaMaterial")"><span id="PaseDeSalida0002"></span></a>
    </li>
    <li>
        <a href="@Url.Action("ListadoLlegadaMaterial", "EntradaMaterial")"><span id="PaseDeSalida0003"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("PaseDeSalida", "AvisoLlegada")"><span id="PaseDeSalida0004"></span></a>
    </li>
}

<div id="formPaseSalida" class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="button-section">
                            <div class="btn-group save-group">
                                <button id="GenerarPaseSalida" onclick="javascript:void(0);" type="button" class="btn btn-yellow"><span id="PaseDeSalida0005"></span></button>
                                <button id="ImprimirPaseSalida" onclick="javascript:void(0);" type="button" class="btn btn-yellow" style="display: none"><span id="PaseDeSalida0018"></span></button>
                            </div>
                            <a id="Cancelar" href="#" class="btn btn-black"><span id="PaseDeSalida0006"></span></a>
                        </div>
                        <div class="button-section">
                            <div class="dropdown action-group">
                                <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                                    <span id="PaseDeSalida0007"></span>
                                    <span class="caretBlue"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="Acciones">
                                    @*
                                    <li><a><span id="DetalleAvisoLlegada0065"></span></a></li>
                                    <li><a><span id="DetalleAvisoLlegada0066"></span></a></li>
                                    *@
                                </ul>
                            </div>
                        </div>
                        <a id="Imprimir" href="" class="btn btn-fadeBlue"></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="filterForm form col-sm-12 col-md-12 col-lg-11">
                    <div class="row">
                        <div id="FolioAvisoLlegadaIDDiv" class="form-group col-sm-6 col-md-4 col-lg-3">
                            <label id="PaseDeSalida0008"></label>
                            <input id="FolioAvisoLlegadaID" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6 col-md-4 col-lg-3">
                            <label id="PaseDeSalida0009"></label>
                            <a id="ImprimirIncidencias" href="javascript:void(0);" class="btn btn-primary"><span id="PaseDeSalida0010"></span></a>
                        </div>
                    </div>
                    <div class="row">
                        <div id="ListaIncidenciasDiv" class="form-group col-sm-6 col-md-4 col-lg-3">
                            <table id="ListaIncidencias" class="filesTable">
                                <thead>
                                    <tr>
                                        <td>&nbsp;
                                        </td>
                                        <td>
                                            <label id="PaseDeSalida0011"></label>
                                        </td>
                                        <td>
                                            <label id="PaseDeSalida0012"></label>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12 col-md-12 col-lg-11">
                    <div class="row">
                        <div id="TipoArchivoDiv" class="col-sm-5 col-md-4 col-lg-3">
                            <label id="PaseDeSalida0013"></label>
                            <input id="TipoArchivo" class="" />
                        </div>
                        <div id="PackingListDiv" class="col-sm-7 col-md-8 col-lg-5">
                            <label id="PaseDeSalida0014"></label>
                            <input name="files" id="PackingList" type="file" class="" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div id="listaArchivosPaseSalidaDiv" class="col-sm-12 col-md-12 col-lg-12">
                            <table id="listaArchivosPaseSalida" class="filesTable">
                                <thead>
                                    <tr>
                                        <td>
                                            <label id="PaseDeSalida0015"></label>
                                        </td>
                                        <td>
                                            <label id="PaseDeSalida0016"></label>
                                        </td>
                                        <td>
                                            <label id="PaseDeSalida0017"></label>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








<script>
    kendo.ui.Upload.fn._supportsDrop = function () { return false; }
    @section JavascriptDocumentReadyHomeCookie {
        Cookies.set("home", true, { path: '/' });
        Cookies.set("navegacion", "11", { path: '/' });
    }

    @section JavascriptGlobalVariables {
        var Folio = {};

        var $PaseSalidaModel = {
            listContainer: {
                create: "",
                list: "",
                detail: "",
                destroy: ""
            },
            properties: {
                listarArchivos: {
                    visible: "#listaArchivosPaseSalidaDiv",
                    editable: "#listaArchivosPaseSalida",
                    required: "#listaArchivosPaseSalida"
                },
                folioAvisoEntrada: {
                    visible: "#FolioAvisoLlegadaIDDiv",
                    editable: "#FolioAvisoLlegadaID",
                    required: "#FolioAvisoLlegadaID"
                },
                tipoArchivo: {
                    visible: "#TipoArchivoDiv",
                    editable: "#TipoArchivo",
                    required: "#TipoArchivo"
                },
                seleccionarArchivo: {
                    visible: "#PackingListDiv",
                    editable: "#PackingList",
                    required: "#PackingList"
                },
                listaIncidencias: {
                    visible: "#ListaIncidenciasDiv",
                    editable: "#ListaIncidencias",
                    required: "#ListaIncidencias"
                }
            }
        };
    }

    @section JavascriptGlobalFunctions {
        
        function CargaInicial() {
            $("#Cancelar").click(function () {
                Folio = {};
                $('#ListaIncidencias tbody').empty();
                $("#listaArchivosPaseSalida tbody").empty();
                habilitarControles();
                $("#GenerarPaseSalida").css("display", "block");
                $("#ImprimirPaseSalida").css("display", "none");
                $("#FolioAvisoLlegadaID").data("kendoComboBox").value("");
            });

            $("#GenerarPaseSalida").click(function () {
                if (!$("#FolioAvisoLlegadaID").data("kendoComboBox").value()) {
                    displayMessage("notificationslabel0034", "", '1');
                    return false;
                }

                if ($('#listaArchivosPaseSalida > tbody  > tr').length == 0) {
                    displayMessage("notificationslabel0027", "", '1');
                    return false;
                };

                GenerarPaseSalida();
            });

            $("#ImprimirPaseSalida").click(function () {
                var url = "@Url.Action("FormatoPaseSalida", "EntradaMaterial")" + "?FolioAvisoLlegadaID=" + Folio.FolioAvisoLlegadaID;
                window.open(url);
            });

            $("#ImprimirIncidencias").click(function () {
                var strIncidenciasChecked = "", strALLincidencias = "", strincidencias = "";
                if(!$("#FolioAvisoLlegadaID").data("kendoComboBox").value()){
                    displayMessage("notificationslabel0034", "", '1');
                    return;
                }

                if ($('#ListaIncidencias > tbody  > tr').length == 0) {
                    displayMessage("notificationslabel0033", "", '1');
                    return;
                };

                $("#ListaIncidencias input[type=checkbox]").each(function () {
                    strALLincidencias += $(this).attr("id") + ",";
                });

                $("#ListaIncidencias input[type=checkbox]:checked").each(function () {
                    strIncidenciasChecked += $(this).attr("id") + ",";
                });
                console.log("incidencias: " + strIncidenciasChecked + ", all: " + strALLincidencias);

                if (strIncidenciasChecked) {
                    strincidencias = strIncidenciasChecked;
                } else {
                    strincidencias = strALLincidencias;
                }

                
                Cookies.set("Incidencias", strincidencias, { path: '/' });
                var url = "@Url.Action("FormatoIncidencias", "AvisoLlegada")";
                window.open(url);
            });

            $("#FolioAvisoLlegadaID").kendoComboBox({
                dataTextField: "id",
                dataValueField: "value",
                filter: "contains",
                select: function (e) {
                    limpiarUploadFiles();
                    var dataItem = this.dataItem(e.item.index());
                    CargarFolio(dataItem.id);
                    ObtenerIncidencias(dataItem.id);
                    ChecarPaseSalidaEnviado();
                },
                change: function (e) {
                    var value = this.value();
                    if (!value) {
                        limpiarUploadFiles();
                    };
                },
            });

            ObtenerFoliosAvisoLlegada();

            $("#TipoArchivo").kendoComboBox({
                dataSource: [
                    { Nombre: "Packing List Firmado", id: 1 },
                    { Nombre: "Incidencias Firmadas", id: 2 }
                ],
                dataTextField: "Nombre",
                dataValueField: "TipoArchivoID",
                filter: "contains",
                select: function (e) {
                    var dataItem = this.dataItem(e.item.index());
                    CargarTipoArchivo(dataItem.TipoArchivoID, dataItem.Nombre);
                },
                change: function (e) {
                    var value = this.value();
                    if (!value) {
                        TipoArchivo = {};
                    };
                },
            });


            $('#PackingList').kendoUpload({
                async: {
                    saveUrl: $DocumentoPaseSalidaUploadFiles + Folio.FolioAvisoLlegadaID + "&tipoArchivo=" + TipoArchivo.TipoArchivoID + "&token=" + Cookies.get("token"),
                    autoUpload: false,
                    withCredentials: false,
                    batch: true
                },
                success: function (data) {
                    ObtenerDocumentosPaseSalida();
                },
                error: function (data) { },
                upload: onUploadArchivoPaseSalida
            });
        }

        function GenerarPaseSalida() {
            loadingStart();
            $PaseSalida.PaseSalida.create({},{ folioAvisoLlegadaID: Folio.FolioAvisoLlegadaID, token: Cookies.get("token") }).done(function (result) {
                console.log("$PaseSalida");
                if (Error(result)) {
                    loadingStop();
                    DesahabilitarControles();
                    $("#GenerarPaseSalida").css("display", "none");
                    $("#ImprimirPaseSalida").css("display", "block");
                    DeshabilitarObtenerDocumentosPaseSalida();
                };
            });
        } 
        function limpiarUploadFiles() {
            Folio = {};
            TipoArchivo = {};

            habilitarControles();
            $('#ListaIncidencias tbody').empty();
            $("#listaArchivosPaseSalida tbody").empty();
            $("#GenerarPaseSalida").css("display", "block");
            $("#ImprimirPaseSalida").css("display", "none");
            $(".k-upload-files").remove();
            $(".k-upload-status").remove();
            $(".k-upload-selected").remove();
            $(".k-upload.k-header").addClass("k-upload-empty");
            $(".k-upload-button").removeClass("k-state-focused");            
            $("#TipoArchivo").data("kendoComboBox").value("");
            limpiarRequeridos();
        };

        function CargarFolio(id) {
            Folio = {};
            Folio = { FolioAvisoLlegadaID: id };
        };

        function CargarTipoArchivo(id, value) {
            TipoArchivo = {};
            TipoArchivo = { TipoArchivoID: id, Nombre: value};
        };

        function ObtenerFoliosAvisoLlegada() {
            $folioEntradaMaterial.Listado.read({ tipoListado: 6, token: Cookies.get("token"), parametroBusqueda: "" }).done(function (result) {
                ControlErroresObjetosComboBox("FolioAvisoLlegadaID", result);
            });
        };

        function ObtenerIncidencias(id) {
            $('#ListaIncidencias tbody').empty();
            $Incidencias.DummyIncidencias.read({ folio: id, token: Cookies.get("token") }).done(function (result) {
                $.each(result, function (index, value) {
                    $("#ListaIncidencias tbody").append("<tr><td><input id='" + value.NumeroIncidencia + "' class='l' type='checkbox' /></td><td>"+ value.NumeroIncidencia +"</td><td>" + value.Descripcion + "</td></tr>");
                });
            });
        }

        function onUploadArchivoPaseSalida(e) {
            $("#formPaseSalida .security_required").each(function (i, elem) {
                if (elem.tagName.toLowerCase() != 'label') {
                    if ($(elem).attr("id") == "FolioAvisoLlegadaID" || $(elem).attr("id") == "TipoArchivo") {
                        if (!$(this).val()) {
                            bool = true;
                            $(this).closest("div").find("label").addClass("error");
                            $(this).closest("div").addClass("clearfix");
                        } else {
                            $(this).closest("div").find("label").removeClass("error");
                            $(this).closest("div").removeClass("clearfix");
                        };
                    }
                };
            });

            if (bool) {
                if (!$("#FolioAvisoLlegadaID").data("kendoComboBox").value() || !$("#TipoArchivo").data("kendoComboBox").value()) {
                    displayMessage("notificationslabel0031", "", '1');
                    e.preventDefault();
                }
            }

            limpiarRequeridos();
            $("#PackingList").data("kendoUpload").options.async.saveUrl = $DocumentoPaseSalidaUploadFiles + Folio.FolioAvisoLlegadaID + "&tipoArchivo=" + TipoArchivo.Nombre + "&token=" + Cookies.get("token");
        };

        function ObtenerDocumentosPaseSalida() {
            $("#listaArchivosPaseSalida tbody").empty();
            $DocumentoPaseSalida.DocumentoPaseSalida.read({ folio: Folio.FolioAvisoLlegadaID, token: Cookies.get("token") }).done(function (result) {
                loadingStart();
                if (Error(result)) {
                    if (result.length > 0) {
                        $.each(result, function (index, value) {
                            $("#listaArchivosPaseSalida tbody").append("<tr id='" + value.DocumentoID + "," + value.Extencion + "'><td><a target='_blank' href='" + value.Url + "' >" + value.Nombre + "</a></td><td>" + value.TipoArchivo + "</td><td><a href='#' onclick='borrarArchivo(" + value.DocumentoID + ",$(this));' >" + "<span class='delete'></span>" + "</a></td></tr>");
                        });
                    }
                };
                loadingStop();
            });
        };

        function DeshabilitarObtenerDocumentosPaseSalida() {
            $("#listaArchivosPaseSalida tbody").empty();
            $DocumentoPaseSalida.DocumentoPaseSalida.read({ folio: Folio.FolioAvisoLlegadaID, token: Cookies.get("token") }).done(function (result) {
                loadingStart();
                if (Error(result)) {
                    if (result.length > 0) {
                        $.each(result, function (index, value) {
                            $("#listaArchivosPaseSalida tbody").append("<tr id='" + value.DocumentoID + "," + value.Extencion + "'><td><a target='_blank' href='" + value.Url + "' >" + value.Nombre + "</a></td><td>" + value.TipoArchivo + "</td><td><a href='#' >" + "<span class='delete disable'></span>" + "</a></td></tr>");
                        });
                    }
                };
                loadingStop();
            });
        }

        function borrarArchivo(id, fila) {
            $DocumentoPaseSalida.DocumentoPaseSalida.destroy({}, { documentoID: id, token: Cookies.get("token") }).done(function (data) {
                fila.closest("tr").remove();
                console.log("$DocumentoPaseSalida.DocumentoPaseSalida.destroy");
            });
        };

        function habilitarControles() {
            $("#TipoArchivo").data("kendoComboBox").enable(true);
            $("#PackingList").data("kendoUpload").enable(true);
        };

        function DesahabilitarControles() {
            $("#TipoArchivo").data("kendoComboBox").enable(false);
            $("#PackingList").data("kendoUpload").enable(false);
        }

        function ChecarPaseSalidaEnviado() {
            loadingStart();
            $PaseSalida.PaseSalida.read({ folioAvisoLlegadaID: Folio.FolioAvisoLlegadaID, token: Cookies.get("token") }).done(function (result) {
                if (Error(result)) {
                    if (result) {
                        DesahabilitarControles();
                        $("#GenerarPaseSalida").css("display", "none");
                        $("#ImprimirPaseSalida").css("display", "block");
                        DeshabilitarObtenerDocumentosPaseSalida();
                    } else {
                        habilitarControles();
                        $("#GenerarPaseSalida").css("display", "block");
                        $("#ImprimirPaseSalida").css("display", "none");
                        ObtenerDocumentosPaseSalida();
                    }
                    loadingStop();
                };
            });
        }

        function limpiarRequeridos() {
            $("#formPaseSalida .security_required").each(function (i, elem) {
                if (elem.tagName.toLowerCase() != 'label') {
                    $(this).closest("div").find("label").removeClass("error");
                    $(this).closest("div").removeClass("clearfix");
                };
            });
        }
        function ControlErroresObjetosComboBox(control, result) {
            if (Error(result)) {
                $("#" + control).data("kendoComboBox").dataSource.data(result);
            } else {
                $("#" + control).data("kendoComboBox").dataSource.data([]);
            };
        };

        function Error(data) {
            if (data.ReturnCode) {
                if (data.ReturnCode != 200) {
                    if (data.ReturnCode == 401) {
                        removeUserSession();
                        return true;
                    } else {
                        displayMessage("notificationslabel0008", data.ReturnMessage, '2');
                        return false;
                    }
                } else {
                    return true;
                }
            } else {
                return true;
            }
        };

    }

    @section JavascriptDocumentReadyFunctions {
        CargaInicial();
        $authorizationModel["Pase de Salida"] = $PaseSalidaModel;
    }
</script>