
@{
    ViewBag.Title = "Listado - Aviso Llegada";
}

@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="ListadoAvisoLlegada0020"></span></a>
    </li>
    <li>
        <a href="@Url.Action("DashboardAvisoLlegada", "AvisoLlegada")"><span id="ListadoAvisoLlegada0029"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("ListadoAvisoLlegada", "AvisoLlegada")"><span id="ListadoAvisoLlegada0021"></span></a>
    </li>
}

<div class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="formNav filtersFields clearfix">
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-1">
                        <div class="button-section">
                            <button id="Nuevo" type="button" class="btn btn-yellow"><span id="DashboardAvisoLlegada0003"></span></button>
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-10 col-lg-9 filter-section">
                       <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <label id="DashboardRecepcionAlmacenaje0003"></label>
                                <input id="ClienteID" class="" />
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <label id="DashboardRecepcionAlmacenaje0004"></label>
                                <input id="ProyectoID" class="" />
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <label id="DashboardRecepcionAlmacenaje0005"></label>
                                <input id="FolioAvisoEntradaID" class="" />
                            </div>
                             <div class="col-sm-6 col-md-6 col-lg-3">
                                <label id="DashboardRecepcionAlmacenaje0006"></label>
                                <input id="PackingList" class="" />
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <label id="DashboardRecepcionAlmacenaje0007"></label>
                                <input id="FechaInic" class="" />
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <label id="DashboardRecepcionAlmacenaje0008"></label>
                                <input id="FechaFinal" class="" />
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-2">
                                <label id="DashboardRecepcionAlmacenaje0009"></label>
                                <input id="PeriodoTiempo" class="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="btn-group tabList col-xs-12 col-sm-12 col-md-12 col-lg-12" role="group" arial-label="tabList">
                            <button id="btnEntradaPorCuantificar" class="btn btn-tabList"><span id="ListadoAvisoLlegada0027"></span><span id="spanEntradaPorCuantificar"></span></button>
                            <button id="btnPLporCuantificar" class="btn btn-tabList"><span id="ListadoAvisoLlegada0023"></span><span id="spanPLporCuantificar"></span></button>
                            <button id="btnMTLsinICS" class="btn btn-tabList"><span id="ListadoAvisoLlegada0024"></span><span id="spanMTLsinICSAccesorios"></span></button>
                            <button id="btnMTLsinOR" class="btn btn-tabList"><span id="ListadoAvisoLlegada0025"></span><span id="spanMTLsinORAccesorios"></span></button>
                            <button id="btnNUporRecepcionar" class="btn btn-tabList"><span id="ListadoAvisoLlegada0027"></span><span id="spanNUporRecepcionarAccesorios"></span></button>
                            <button id="btnNUsinOATubos" class="btn btn-tabList"><span id="ListadoAvisoLlegada0023"></span><span id="spanNUsinOAAccesorios"></span></button>
                            <button id="btnNUsinAlmacenar" class="btn btn-tabList"><span id="ListadoAvisoLlegada0024"></span><span id="spanNUsinAlmacenarAccesorios"></span></button>
                            <button id="btnIncidenciasAbiertas" class="btn btn-tabList"><span id="ListadoAvisoLlegada0025"></span><span id="spanIncidenciasAbiertasAccesorios"></span></button>
                        </div>
                    </div>
                    <div id="grid"></div>
                </div>
            </div>
        </div>

        <div id="window">
            @*Content of the Window*@
        </div>
    </div>
</div>

<input id="hdAccionFiltrado" type="hidden" />

<script>

    @section JavascriptDocumentReadyHomeCookie {
    //Cookies.set("home", true, { path: '/' });
    //Cookies.set("navegacion", "3", { path: '/' });
    }

    @section JavascriptGlobalVariables {
    //your partial views variables
    var Proyecto = {}, Cliente = {}, FolioAvisoEntrada = {};
    var FechaInic, FechaFinal, PeriodoTiempo = {}, resultadoJson;
   
    //vars Dashboard
    var _AccionListado = getUrlParameter("AccionListado", "-1");
    var _ProyectoID = getUrlParameter("ProyectoID", "-1");
    var _ClienteID = getUrlParameter("ClienteID", "-1");
    var _folioAvisoEntradaID = getUrlParameter("FolioAvisoEntradaID", "-1");
    var _FechaInicial = getUrlParameter("FechaInicial", "-1");
    var _FechaFinal = getUrlParameter("FechaFinal", "-1");
    var _TipoMaterialID = getUrlParameter("TipoMaterialID", "-1");

    //var $AvisoLLegadaModel = {
    //    listContainer: {
    //        create: "#Nuevo",
    //        list: "#grid",
    //        detail: ".detailLink",
    //        destroy: ".k-grid-Cancelar"
    //    },
    //    properties: {
    //        username: {
    //            visible: "",
    //            editable: "",
    //            required: ""
    //        }
    //    }
    //};
    }

    @section JavascriptGlobalFunctions {
    //Es la carga inicial de las fechas  para el multilenguaje
    //Funcion: changeDatePickerDateFormat
    //Parametros: datePickerOptions
    //Return:     N/A
    function changeDatePickerDateFormat(datePickerOptions) {
        FechaInic.setOptions(datePickerOptions);
        FechaFinal.setOptions(datePickerOptions);
    };
    //Es la carga inicial del grid para el multilenguaje
    //Funcion: changeLanguageCall
    //Parametros: N/A
    //Return:     N/A
    function changeLanguageCall() {
        CargarGridAvisoLlegada();
        createPeriodoTiempo();
    }

    //Es la carga inicial de los controles
    //Funcion: cargaInicial
    //Parametros: N/A
    //Return:     N/A
    function CargaInicial() {
        //Botones Dashboard
        $("#btnCreados").click(function () { tabActivo("1"); AccionesListado(1); });
        $("#btnSinPermiso").click(function () {
            tabActivo("2");
            AccionesListado(2);
        });
        $("#btnSinAutorizacion").click(function () { tabActivo("3"); AccionesListado(3); });
        $("#btnCompletos").click(function () { tabActivo("4"); AccionesListado(4); });

        $("#Mostrar").click(function () { Filtros(); });
        $("#Nuevo").click(function (e) {
            var detalleIdeaUrl = "@Url.Action("DetalleAvisoLLegada", "AvisoLLegada")";
            window.location.href = detalleIdeaUrl + "?leng=" + $("#language").data("kendoDropDownList").value();
        });

        $("#ProyectoID").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "ProyectoID",
            select: function (e) {
                var dataItem = this.dataItem(e.item.index());
                CargarProyecto(dataItem.ProyectoID, dataItem.Nombre);
            },
            change: function (e) {
                var value = this.value();
                if (!value) {
                    Proyecto = {};
                }
                Filtros();
            },
            filter: "contains",
        });
        ObtenerProyecto();

        $("#ClienteID").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "ClienteID",
            select: function (e) {
                var dataItem = this.dataItem(e.item.index());
                CargarCliente(dataItem.ClienteID, dataItem.Nombre);
            },
            change: function (e) {
                var value = this.value();
                if (!value) {
                    Cliente = {};
                }
                Filtros();

            },
            filter: "contains",
        });
        ObtenerCliente();

        $("#FolioAvisoEntradaID").kendoComboBox({
            dataTextField: "id",
            dataValueField: "value",
            select: function (e) {
                var dataItem = this.dataItem(e.item.index());
                CargarFolioAvisoEntrada(dataItem.id, dataItem.value);

            },
            change: function (e) {
                var value = this.value();
                if (!value) {
                    FolioAvisoEntrada = {};
                }
                Filtros();
            },
            filter: "contains",
        });
        ObtenerFoliosAvisoLlegada();

        FechaInic = new kendo.ui.DatePicker($("#FechaInic"));
        FechaFinal = new kendo.ui.DatePicker($("#FechaFinal"));

        $("#FechaInic").bind("change", function () {
            Filtros();
        });

        $("#FechaFinal").bind("change", function () {
            Filtros();
        });

        tabActivo(_AccionListado);
        CargarControlesFiltrado();
        AccionesListado(_AccionListado);
    };
    function CargarGridAvisoLlegada() {
        $("#grid").kendoGrid({
            dataSource: {
                data: resultadoJson,
                schema: {
                    model: {
                        fields: {
                            FolioAvisoLlegadaID: { type: "string" },
                            FechaRecepcion: { type: "string" },
                            FechaGeneracion: { type: "string" },
                            Estatus: { type: "string" }
                        }
                    }
                },
                pageSize: 10,
                serverPaging: false,
                serverFiltering: false,
                serverSorting: false
            },
            autoHeight: true,
            sortable: true,
            scrollable: false,
            //filterable: true,
            filterable: {
                extra: false,
                operators: {
                    string: {
                        startswith: "Starts with",
                        eq: "Is equal to",
                        neq: "Is not equal to"
                    }
                }
            },
            pageable: {
                refresh: false,
                pageSizes: [10, 15, 20],
                info: false,
                input: false,
                numeric: true,
            },
            columns: [
                { field: "FolioAvisoLlegadaID", title: _dictionary.ListadoAvisoLlegada0008[$("#language").data("kendoDropDownList").value()], template: "<a class='detailLink' onclick='mostrarDetalle(#:FolioAvisoLlegadaID#)'>#:FolioAvisoLlegadaID#</a>", filterable: true },
                { field: "FechaRecepcion", title: _dictionary.ListadoAvisoLlegada0028[$("#language").data("kendoDropDownList").value()], filterable: true },
                { field: "FechaGeneracion", title: _dictionary.ListadoAvisoLlegada0013[$("#language").data("kendoDropDownList").value()], filterable: true },
                { command: { text: _dictionary.ListadoAvisoLlegada0016[$("#language").data("kendoDropDownList").value()], click: cancelarFolio }, title: " ", width: "99px" }
            ],
            dataBound: function (e) {
                $(".k-grid input.k-textbox").prop('readonly', true);
                $(".k-grid td .k-button").text('');
                $(".k-grid td:first-child, .k-grid td:last-child").css('text-overflow', 'clip');
            }
        });
    }

         function mostrarDetalle(folioAvisoLlegadaID) {
            //e.preventDefault();
            //var dataItem = $("#grid").data("kendoGrid").dataItem($(e.currentTarget).closest("tr"));
            //var folioAvisoLlegadaID = dataItem.FolioAvisoLlegadaID
            //REDIRECT
            var detalleIdeaUrl = "@Url.Action("DetalleAvisoLLegada", "AvisoLLegada")";
                window.location.href = detalleIdeaUrl + "?leng=" + $("#language").data("kendoDropDownList").value() + "&folio=" + folioAvisoLlegadaID;
        }

        function cancelarFolio(e) {
            e.preventDefault();
            var dataItem = $("#grid").data("kendoGrid").dataItem($(e.currentTarget).closest("tr"));
            var folioAvisoLlegadaID = dataItem.FolioAvisoLlegadaID
            var dataSource = $("#grid").data("kendoGrid").dataSource;
            var TienePermiso = false;

            var Client = new $.RestClient($BackEndSAMUri + '/backendsam/api/');
            Client.add('ValidacionesFolioAvisoLlegada');

            Client.ValidacionesFolioAvisoLlegada.read({ folio: folioAvisoLlegadaID, token: Cookies.get("token") }).done(function (data) {
                TienePermiso = data;
                if (!TienePermiso) {
                    //debugger;
                    if (confirm("Estas seguro de cancelar el folio de entrada?")) {
                        //aki debe estar el de filtros()
                        var Client = new $.RestClient($BackEndSAMUri + '/backendsam/api/');
                        Client.add('AvisoLlegada');
                        Client.AvisoLlegada.destroy({}, { folio: folioAvisoLlegadaID, token: Cookies.get("token") }).done(function (data) {
                            Filtros();
                        });
                    };
                } else {
                    displayMessage("notificationslabel0016", "", '1');
                    e.preventDefault();
                };
            });
        };

        function ObtenerAccionesListado(Listado) {

            $folioEntradaMaterial.Listado.read({}, { data: JSON.stringify(Listado), token: Cookies.get("token"), parametroBusqueda: "" }).done(function (result) {
                Error(result);
                $("#spanCreados").html(result.Creados ? result.Creados : 0);
                $("#spanSinPermiso").html(result.SinPermiso ? result.SinPermiso : 0);
                $("#spanSinAutorizacion").html(result.SinAutorizacion ? result.SinAutorizacion : 0);
                $("#spanCompletos").html(result.Completos ? result.Completos : 0);

            });
        };

        function CargarCliente(id, value) {
            Cliente = {};
            Cliente = { ClienteID: id, Nombre: value };
        };

        function CargarProyecto(id, value) {
            Proyecto = {};
            Proyecto = { ProyectoID: id, Nombre: value };
        };

        function CargarFolioAvisoEntrada(id, value) {
            FolioAvisoEntrada = {};
            FolioAvisoEntrada = { FolioAvisoEntradaID: id, FolioLlegadaMaterial: value };
        };

        function CargarPeriodoTiempo(id) {
            PeriodoTiempo = {};
            PeriodoTiempo = { PeriodoTiempo: id };
        };

        function ObtenerCliente() {
            $Cliente.Cliente.read({ token: Cookies.get("token") }).done(function (result) {
                ControlErroresObjetosComboBox("ClienteID", result);
            });
        };

        function ObtenerProyecto() {
            $Proyecto.Proyecto.read({ token: Cookies.get("token") }).done(function (result) {
                ControlErroresObjetosComboBox("ProyectoID", result);
            });
        };

        function ObtenerFoliosAvisoLlegada() {
            $folioEntradaMaterial.Listado.read({ tipoListado: 1, token: Cookies.get("token"), parametroBusqueda: "" }).done(function (result) {
                ControlErroresObjetosComboBox("FolioAvisoEntradaID", result);
            });
        };

        function ObtenerFechasporPeriodo(id) {
            var fechaInicio = FechaFinal.value();
            var fechaFin = FechaFinal.value();

            if ($("#language").data("kendoDropDownList").value() == "es-MX") {
                format = "dd/MM/yyyy";
            } else {
                format = "MM/dd/yyyy";
            }

            var curr_date = fechaFin.getDate();
            var curr_month = fechaFin.getMonth() + 1;
            var curr_year = fechaFin.getFullYear();

            var fechaFinal = new Date(curr_year, curr_month - 1, curr_date);
            var fechaFinalkendo = kendo.parseDate(fechaFinal, format);

            switch (parseInt(id)) {
                case 1: //Semana Actual
                    fechaInicio.setDate(fechaInicio.getDate() - 7);
                    break;
                case 2: //Dos Semanas
                    fechaInicio.setDate(fechaInicio.getDate() - 14);
                    break;
                case 3: //Mes
                    fechaInicio.setMonth(fechaInicio.getMonth() - 1);
                    break;
                case 4: //Trimestre
                    fechaInicio.setMonth(fechaInicio.getMonth() - 3);
                    break;
                case 5: //Año
                    fechaInicio.setFullYear(fechaInicio.getFullYear() - 1);
                    break;
            }

            var curr_date0 = fechaInicio.getDate();
            var curr_month0 = fechaInicio.getMonth() + 1;
            var curr_year0 = fechaInicio.getFullYear();

            var fechaInicial = new Date(curr_year0, curr_month0 - 1, curr_date0);

            var fechaInicialkendo = kendo.parseDate(fechaInicial, format);

            $("#FechaInic").data("kendoDatePicker").value(fechaInicialkendo);
            $("#FechaFinal").data("kendoDatePicker").value(fechaFinalkendo);
        };

        function createPeriodoTiempo() {
            $("#PeriodoTiempo").kendoComboBox({
                dataTextField: "Periodo",
                dataValueField: "PeriodoID",
                dataSource: [
                    { "PeriodoID": "1", "Periodo": _dictionary.DashboardLlegadaMaterial0016[$("#language").data("kendoDropDownList").value()] },
                    { "PeriodoID": "2", "Periodo": _dictionary.DashboardLlegadaMaterial0017[$("#language").data("kendoDropDownList").value()] },
                    { "PeriodoID": "3", "Periodo": _dictionary.DashboardLlegadaMaterial0018[$("#language").data("kendoDropDownList").value()] },
                    { "PeriodoID": "4", "Periodo": _dictionary.DashboardLlegadaMaterial0019[$("#language").data("kendoDropDownList").value()] },
                    { "PeriodoID": "5", "Periodo": _dictionary.DashboardLlegadaMaterial0020[$("#language").data("kendoDropDownList").value()] }
                ],
                select: function (e) {
                    var dataItem = this.dataItem(e.item.index());

                    CargarPeriodoTiempo(dataItem.PeriodoID);
                },
                change: function (e) {
                    var value = this.value();

                    if (!value) {
                        PeriodoTiempo = {};
                    }
                    ObtenerFechasporPeriodo(value);

                    Filtros();
                },
                filter: "contains",
            });
        };
        function ArregloListado(accion) {
            var Listado;
            Listado = { FolioLlegadaID: "", FolioAvisoLlegadaID: "", PatioID: "", ClienteID: "", FechaInicial: "", FechaFinal: "", token: "", Creados: "", SinPermiso: "", SinAutorizacion: "", Completos: "" };
            //ProyectoIDs = [];

            //var proyectos = $("#ProyectoID").data("kendoMultiSelect").value();
            //$.each(proyectos, function (index, value) {
            //    item = {};
            //    item["ProyectoID"] = value;
            //    ProyectoIDs.push(item);
            //});

            var d = new Date($("#FechaInic").data("kendoDatePicker").value());
            var d1 = new Date($("#FechaFinal").data("kendoDatePicker").value());

            Listado.FolioLlegadaID = folioLlegadaID ? folioLlegadaID : -1;
            Listado.FolioAvisoLlegadaID = folioEntradaID ? folioEntradaID : -1;
            Listado.PatioID = $("#PatioID").data("kendoComboBox").value();
            Listado.FechaInicial = obtenerFormatoFecha(d);
            Listado.FechaFinal = obtenerFormatoFecha(d1);
            Listado.Creados = accion == 1 ? true : false;
            Listado.SinPermiso = accion == 2 ? true : false;
            Listado.SinAutorizacion = accion == 3 ? true : false;
            Listado.Completos = accion == 4 ? true : false;
            Listado.ClienteID = $("#ClienteID").data("kendoComboBox").value();
            Listado.token = Cookies.get("token");
            console.log(JSON.stringify(Listado));
            return Listado;
        };

        function AccionesListado(accion) {
            loadingStart();
            var Listado;
            Listado = ArregloListado(accion);

            $("#hdAccionFiltrado").val(accion);

            $FiltrosListadoEntradaMaterial.AvisoLlegada.read({}, { data: JSON.stringify(Listado) }).done(function (data) {
                console.log("Error " + Error(data));
                if (Error(data)) {
                    resultadoJson = data;
                    console.log("grid value " + $("#grid").data("kendoGrid"));
                    if ($("#grid").data("kendoGrid")) {
                        console.log("resultadoJson: " + resultadoJson.length);
                        if (resultadoJson.length > 0) {
                            $("#grid").data("kendoGrid").dataSource.data(resultadoJson);
                            $("#grid").data("kendoGrid").dataSource.page(1);
                        } else {
                            console.log("bindear empty inicio");
                            $("#grid").data("kendoGrid").dataSource.data([]);
                            $("#grid").data("kendoGrid").dataSource.page(0);
                            console.log("bindear empty fin");
                        };
                       CantidadesDelMenuDashboard();
                       applySecurityPolicy(false);
                    };
                };
                
                loadingStop();
                console.log("AccionesListado fin");
            });
        };

        function Filtros() {
            var Listado;
            var accion = $("#hdAccionFiltrado").val() ? $("#hdAccionFiltrado").val() : 1;
            console.log(accion);
            AccionesListado(accion);
        };

        function CargarControlesFiltrado() {
            console.log("CargarControlesFiltrado inicio");
            var date, format;
            if ($("#language").data("kendoDropDownList").value() == "es-MX") {
                format = "dd/MM/yyyy";
            } else {
                format = "MM/dd/yyyy";
            };
            var splitYear = _FechaInicial.split("-")[0];
            var splitMonth = _FechaInicial.split("-")[1];
            var splitDay = _FechaInicial.split("-")[2];

            var splitYear2 = _FechaFinal.split("-")[0];
            var splitMonth2 = _FechaFinal.split("-")[1];
            var splitDay2 = _FechaFinal.split("-")[2];

            var fechaInicial = new Date(splitYear, splitMonth - 1, splitDay);
            var fechFinal = new Date(splitYear2, splitMonth2 - 1, splitDay2);

            var fechaInicialkendo = kendo.parseDate(fechaInicial, format);
            var fechaFinalkendo = kendo.parseDate(fechFinal, format);

            $("#ClienteID").data("kendoComboBox").value(_ClienteID);
            $("#ProyectoID").data("kendoComboBox").value(_ProyectoID);
            $("#FolioAvisoEntradaID").data("kendoComboBox").value(_folioAvisoEntradaID);
            $("#FechaInic").data("kendoDatePicker").value(fechaInicialkendo);
            $("#FechaFinal").data("kendoDatePicker").value(fechaFinalkendo);
            console.log("CargarControlesFiltrado fin");
        };

        function Error(data) {
            if (data.ReturnCode) {
                if (data.ReturnCode != 200) {
                    if (data.ReturnCode == 401) {
                        removeUserSession();
                        return true;
                    } else {
                        displayMessage("notificationslabel0008", data.ReturnMessage, '2');
                        return false;
                    }
                } else {
                    return true;
                }
            } else {
                return true;
            }
        };

        function obtenerFormatoFecha(d) {
            var curr_date = d.getDate();
            var curr_month = d.getMonth() + 1; //Months are zero based
            var curr_year = d.getFullYear();
            var horaActual = new Date();

            return curr_year + "-" + curr_month + "-" + curr_date + " " + horaActual.getHours() + ":" + horaActual.getMinutes() + ":" + horaActual.getSeconds();
        };

        function tabActivo(AccionListado) {
            $(".btn-tabList").removeClass("active");
            switch (AccionListado) {
                case "1":
                    $("#btnCreados").addClass("active");
                    break;
                case "2":
                    $("#btnSinPermiso").addClass("active");
                    break;
                case "3":
                    $("#btnSinAutorizacion").addClass("active");
                    break;
                case "4":
                    $("#btnCompletos").addClass("active");
                    break;
                default:
                    $("#btnCreados").addClass("active");
                    break;
            };
        };

        function CantidadesDelMenuDashboard() {
            var accion = $("#hdAccionFiltrado").val() ? $("#hdAccionFiltrado").val() : 1;
            var Listado;
            Listado = { FolioLlegadaID: "", FolioAvisoLlegadaID: "", PatioID: "", ClienteID: "", FechaInicial: "", FechaFinal: "", token: "", Creados: "", SinPermiso: "", SinAutorizacion: "", Completos: "", TipoListado: "" };

            var d = new Date($("#FechaInic").data("kendoDatePicker").value());
            var d1 = new Date($("#FechaFinal").data("kendoDatePicker").value());

            Listado.FolioLlegadaID = folioLlegadaID ? folioLlegadaID : -1;
            Listado.FolioAvisoLlegadaID = folioEntradaID ? folioEntradaID : -1;
            Listado.PatioID = $("#PatioID").data("kendoComboBox").value();
            Listado.FechaInicial = obtenerFormatoFecha(d);
            Listado.FechaFinal = obtenerFormatoFecha(d1);
            Listado.Creados = accion == 1 ? true : false;
            Listado.SinPermiso = accion == 2 ? true : false;
            Listado.SinAutorizacion = accion == 3 ? true : false;
            Listado.Completos = accion == 4 ? true : false;
            Listado.ClienteID = $("#ClienteID").data("kendoComboBox").value();
            Listado.token = Cookies.get("token");
            Listado.TipoListado = 4;
            console.log("CantidadesDelMenuDashboard: " + JSON.stringify(Listado));

            ObtenerAccionesListado(Listado);
        };

        function ControlErroresObjetosComboBox(control, result) {
            if (Error(result)) {
                $("#" + control).data("kendoComboBox").dataSource.data(result);
            } else {
                $("#" + control).data("kendoComboBox").dataSource.data([]);
            };
        };
    }

    @section JavascriptDocumentReadyFunctions {
   // $authorizationModel["Aviso Entrada"] = $AvisoLLegadaModel;
    CargaInicial();
        //applySecurity();
    }

</script>

